USE [MOJo_prod]
GO
/****** Object:  Table [dbo].[tUserSkillSpecialty]    Script Date: 12/11/2015 15:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tUserSkillSpecialty](
	[UserSkillSpecialtyKey] [int] IDENTITY(1,1) NOT NULL,
	[UserKey] [int] NOT NULL,
	[SkillSpecialtyKey] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Description] [varchar](1000) NULL,
 CONSTRAINT [PK_tUserSkillSpecialty] PRIMARY KEY CLUSTERED 
(
	[UserSkillSpecialtyKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[tUserSkillSpecialty]  WITH CHECK ADD  CONSTRAINT [FK_tUserSkillSpecialty_tSkillSpecialty] FOREIGN KEY([SkillSpecialtyKey])
REFERENCES [dbo].[tSkillSpecialty] ([SkillSpecialtyKey])
GO
ALTER TABLE [dbo].[tUserSkillSpecialty] CHECK CONSTRAINT [FK_tUserSkillSpecialty_tSkillSpecialty]
GO
ALTER TABLE [dbo].[tUserSkillSpecialty]  WITH NOCHECK ADD  CONSTRAINT [FK_tUserSkillSpecialty_tUser] FOREIGN KEY([UserKey])
REFERENCES [dbo].[tUser] ([UserKey])
GO
ALTER TABLE [dbo].[tUserSkillSpecialty] CHECK CONSTRAINT [FK_tUserSkillSpecialty_tUser]
GO
