USE [MOJo_prod]
GO
/****** Object:  Table [dbo].[tCampaignBudgetItem]    Script Date: 12/11/2015 15:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tCampaignBudgetItem](
	[CampaignKey] [int] NOT NULL,
	[CampaignBudgetKey] [int] NOT NULL,
	[Entity] [varchar](50) NOT NULL,
	[EntityKey] [int] NOT NULL,
 CONSTRAINT [PK_tCampaignBudgetItem] PRIMARY KEY CLUSTERED 
(
	[CampaignKey] ASC,
	[CampaignBudgetKey] ASC,
	[Entity] ASC,
	[EntityKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
