USE [NEWYORKAPP]
GO
/****** Object:  StoredProcedure [dbo].[ARAutoRefNbr]    Script Date: 12/21/2015 16:00:49 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/****** Object:  Stored Procedure dbo.ARAutoRefNbr    Script Date: 4/7/98 12:30:32 PM ******/
Create Proc [dbo].[ARAutoRefNbr] as
    Select LastRefNbr from ARSetup order by SetupId
GO
