USE [NEWYORKAPP]
GO
/****** Object:  StoredProcedure [dbo].[DMG_AcctSubValid]    Script Date: 12/21/2015 16:00:53 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
create procedure [dbo].[DMG_AcctSubValid]
	@CpnyID	varchar(10),
	@Acct	varchar(10),
	@Sub	varchar(30)

WITH EXECUTE AS '07718158D19D4f5f9D23B55DBF5DF1'
as
	if (
	select	count(*)
	from	vs_AcctSub (NOLOCK)
	where	CpnyID = @CpnyID
	and	Acct = @Acct
	and	Sub = @Sub
	) = 0
		--select 0
		return 0	--Failure
	else
		--select 1
		return 1	--Success
GO
