USE [NEWYORKAPP]
GO
/****** Object:  StoredProcedure [dbo].[getBPCompatibility]    Script Date: 12/21/2015 16:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[getBPCompatibility] as
select '7.03'
GO
