USE [NEWYORKAPP]
GO
/****** Object:  StoredProcedure [dbo].[DMG_SO40690_Wrk_Delete]    Script Date: 12/21/2015 16:00:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[DMG_SO40690_Wrk_Delete]
AS
	Delete
	from	SO40690_Wrk

-- Copyright 1998 by Advanced Distribution Group, Ltd. All rights reserved.
GO
