USE [MID_TEST_APP]
GO
/****** Object:  Table [dbo].[SOShipTax]    Script Date: 12/21/2015 14:26:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SOShipTax](
	[CpnyID] [char](10) NOT NULL,
	[Crtd_DateTime] [smalldatetime] NOT NULL,
	[Crtd_Prog] [char](8) NOT NULL,
	[Crtd_User] [char](10) NOT NULL,
	[CuryFrtTax] [float] NOT NULL,
	[CuryFrtTxbl] [float] NOT NULL,
	[CuryMerchTax] [float] NOT NULL,
	[CuryMerchTxbl] [float] NOT NULL,
	[CuryMerchTxblLessTax] [float] NOT NULL,
	[CuryMiscTax] [float] NOT NULL,
	[CuryMiscTxbl] [float] NOT NULL,
	[CuryTotTax] [float] NOT NULL,
	[CuryTotTxbl] [float] NOT NULL,
	[FrtTax] [float] NOT NULL,
	[FrtTxbl] [float] NOT NULL,
	[LUpd_DateTime] [smalldatetime] NOT NULL,
	[LUpd_Prog] [char](8) NOT NULL,
	[LUpd_User] [char](10) NOT NULL,
	[MerchTax] [float] NOT NULL,
	[MerchTxbl] [float] NOT NULL,
	[MerchTxblLessTax] [float] NOT NULL,
	[MiscTax] [float] NOT NULL,
	[MiscTxbl] [float] NOT NULL,
	[NoteID] [int] NOT NULL,
	[S4Future01] [char](30) NOT NULL,
	[S4Future02] [char](30) NOT NULL,
	[S4Future03] [float] NOT NULL,
	[S4Future04] [float] NOT NULL,
	[S4Future05] [float] NOT NULL,
	[S4Future06] [float] NOT NULL,
	[S4Future07] [smalldatetime] NOT NULL,
	[S4Future08] [smalldatetime] NOT NULL,
	[S4Future09] [int] NOT NULL,
	[S4Future10] [int] NOT NULL,
	[S4Future11] [char](10) NOT NULL,
	[S4Future12] [char](10) NOT NULL,
	[ShipperID] [char](15) NOT NULL,
	[ShowTaxOnOrderTotal] [smallint] NOT NULL,
	[TaxCat] [char](10) NOT NULL,
	[TaxID] [char](10) NOT NULL,
	[TaxRate] [float] NOT NULL,
	[TotTax] [float] NOT NULL,
	[TotTxbl] [float] NOT NULL,
	[User1] [char](30) NOT NULL,
	[User10] [smalldatetime] NOT NULL,
	[User2] [char](30) NOT NULL,
	[User3] [char](30) NOT NULL,
	[User4] [char](30) NOT NULL,
	[User5] [float] NOT NULL,
	[User6] [float] NOT NULL,
	[User7] [char](10) NOT NULL,
	[User8] [char](10) NOT NULL,
	[User9] [smalldatetime] NOT NULL,
	[tstamp] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT (' ') FOR [CpnyID]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT (rtrim(CONVERT([varchar](30),CONVERT([smalldatetime],getdate(),(0)),(0)))) FOR [Crtd_DateTime]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT (' ') FOR [Crtd_Prog]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT (' ') FOR [Crtd_User]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ((0)) FOR [CuryFrtTax]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ((0)) FOR [CuryFrtTxbl]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ((0)) FOR [CuryMerchTax]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ((0)) FOR [CuryMerchTxbl]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ((0)) FOR [CuryMerchTxblLessTax]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ((0)) FOR [CuryMiscTax]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ((0)) FOR [CuryMiscTxbl]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ((0)) FOR [CuryTotTax]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ((0)) FOR [CuryTotTxbl]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ((0)) FOR [FrtTax]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ((0)) FOR [FrtTxbl]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ('01/01/1900') FOR [LUpd_DateTime]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT (' ') FOR [LUpd_Prog]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT (' ') FOR [LUpd_User]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ((0)) FOR [MerchTax]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ((0)) FOR [MerchTxbl]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ((0)) FOR [MerchTxblLessTax]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ((0)) FOR [MiscTax]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ((0)) FOR [MiscTxbl]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ((0)) FOR [NoteID]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT (' ') FOR [S4Future01]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT (' ') FOR [S4Future02]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ((0)) FOR [S4Future03]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ((0)) FOR [S4Future04]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ((0)) FOR [S4Future05]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ((0)) FOR [S4Future06]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ('01/01/1900') FOR [S4Future07]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ('01/01/1900') FOR [S4Future08]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ((0)) FOR [S4Future09]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ((0)) FOR [S4Future10]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT (' ') FOR [S4Future11]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT (' ') FOR [S4Future12]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT (' ') FOR [ShipperID]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ((0)) FOR [ShowTaxOnOrderTotal]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT (' ') FOR [TaxCat]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT (' ') FOR [TaxID]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ((0)) FOR [TaxRate]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ((0)) FOR [TotTax]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ((0)) FOR [TotTxbl]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT (' ') FOR [User1]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ('01/01/1900') FOR [User10]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT (' ') FOR [User2]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT (' ') FOR [User3]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT (' ') FOR [User4]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ((0)) FOR [User5]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ((0)) FOR [User6]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT (' ') FOR [User7]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT (' ') FOR [User8]
GO
ALTER TABLE [dbo].[SOShipTax] ADD  DEFAULT ('01/01/1900') FOR [User9]
GO
