USE [MID_TEST_APP]
GO
/****** Object:  Table [dbo].[AR08690_Wrk]    Script Date: 12/21/2015 14:26:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AR08690_Wrk](
	[RI_ID] [smallint] NULL,
	[ClassID] [char](6) NULL,
	[Descr] [char](30) NULL,
	[Customer_CustID] [char](10) NULL,
	[ARHist_FiscYr] [char](4) NULL,
	[ARHist_PTDCOGS00] [float] NULL,
	[ARHist_PTDCOGS01] [float] NULL,
	[ARHist_PTDCOGS02] [float] NULL,
	[ARHist_PTDCOGS03] [float] NULL,
	[ARHist_PTDCOGS04] [float] NULL,
	[ARHist_PTDCOGS05] [float] NULL,
	[ARHist_PTDCOGS06] [float] NULL,
	[ARHist_PTDCOGS07] [float] NULL,
	[ARHist_PTDCOGS08] [float] NULL,
	[ARHist_PTDCOGS09] [float] NULL,
	[ARHist_PTDCOGS10] [float] NULL,
	[ARHist_PTDCOGS11] [float] NULL,
	[ARHist_PTDCOGS12] [float] NULL,
	[ARHist_PTDCRMemo00] [float] NULL,
	[ARHist_PTDCRMemo01] [float] NULL,
	[ARHist_PTDCRMemo02] [float] NULL,
	[ARHist_PTDCRMemo03] [float] NULL,
	[ARHist_PTDCRMemo04] [float] NULL,
	[ARHist_PTDCRMemo05] [float] NULL,
	[ARHist_PTDCRMemo06] [float] NULL,
	[ARHist_PTDCRMemo07] [float] NULL,
	[ARHist_PTDCRMemo08] [float] NULL,
	[ARHist_PTDCRMemo09] [float] NULL,
	[ARHist_PTDCRMemo10] [float] NULL,
	[ARHist_PTDCRMemo11] [float] NULL,
	[ARHist_PTDCRMemo12] [float] NULL,
	[ARHist_PTDDisc00] [float] NULL,
	[ARHist_PTDDisc01] [float] NULL,
	[ARHist_PTDDisc02] [float] NULL,
	[ARHist_PTDDisc03] [float] NULL,
	[ARHist_PTDDisc04] [float] NULL,
	[ARHist_PTDDisc05] [float] NULL,
	[ARHist_PTDDisc06] [float] NULL,
	[ARHist_PTDDisc07] [float] NULL,
	[ARHist_PTDDisc08] [float] NULL,
	[ARHist_PTDDisc09] [float] NULL,
	[ARHist_PTDDisc10] [float] NULL,
	[ARHist_PTDDisc11] [float] NULL,
	[ARHist_PTDDisc12] [float] NULL,
	[ARHist_PTDDRMemo00] [float] NULL,
	[ARHist_PTDDRMemo01] [float] NULL,
	[ARHist_PTDDRMemo02] [float] NULL,
	[ARHist_PTDDRMemo03] [float] NULL,
	[ARHist_PTDDRMemo04] [float] NULL,
	[ARHist_PTDDRMemo05] [float] NULL,
	[ARHist_PTDDRMemo06] [float] NULL,
	[ARHist_PTDDRMemo07] [float] NULL,
	[ARHist_PTDDRMemo08] [float] NULL,
	[ARHist_PTDDRMemo09] [float] NULL,
	[ARHist_PTDDRMemo10] [float] NULL,
	[ARHist_PTDDRMemo11] [float] NULL,
	[ARHist_PTDDRMemo12] [float] NULL,
	[ARHist_PTDSales00] [float] NULL,
	[ARHist_PTDSales01] [float] NULL,
	[ARHist_PTDSales02] [float] NULL,
	[ARHist_PTDSales03] [float] NULL,
	[ARHist_PTDSales04] [float] NULL,
	[ARHist_PTDSales05] [float] NULL,
	[ARHist_PTDSales06] [float] NULL,
	[ARHist_PTDSales07] [float] NULL,
	[ARHist_PTDSales08] [float] NULL,
	[ARHist_PTDSales09] [float] NULL,
	[ARHist_PTDSales10] [float] NULL,
	[ARHist_PTDSales11] [float] NULL,
	[ARHist_PTDSales12] [float] NULL,
	[tstamp] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
