USE [MID_TEST_APP]
GO
/****** Object:  Table [dbo].[xwrk_Fix_rh_id05]    Script Date: 12/21/2015 14:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[xwrk_Fix_rh_id05](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Project] [char](16) NOT NULL,
	[RevID] [char](4) NOT NULL,
	[Old rh_id05] [char](4) NOT NULL,
	[LUPD] [smalldatetime] NOT NULL,
	[New rh_id05] [varchar](4) NOT NULL,
 CONSTRAINT [PK_xwrk_Fix_rh_id05] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
