USE [MID_TEST_APP]
GO
/****** Object:  Table [dbo].[TypeTransl]    Script Date: 12/21/2015 14:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TypeTransl](
	[doctype] [varchar](2) NOT NULL,
	[trantype] [varchar](2) NOT NULL,
 CONSTRAINT [TypeTransl0] PRIMARY KEY CLUSTERED 
(
	[doctype] ASC,
	[trantype] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
