USE [MID_TEST_APP]
GO
/****** Object:  Table [dbo].[PSSFAPropertyAppr]    Script Date: 12/21/2015 14:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PSSFAPropertyAppr](
	[ApprAddr1] [char](100) NOT NULL,
	[ApprAddr2] [char](100) NOT NULL,
	[ApprCity] [char](30) NOT NULL,
	[ApprDept] [char](100) NOT NULL,
	[ApprEMailAddr] [char](30) NOT NULL,
	[ApprFax] [char](30) NOT NULL,
	[ApprName] [char](100) NOT NULL,
	[ApprPhone] [char](30) NOT NULL,
	[ApprState] [char](2) NOT NULL,
	[ApprTitle] [char](100) NOT NULL,
	[ApprZip] [char](10) NOT NULL,
	[CountyDescr] [char](30) NOT NULL,
	[Crtd_DateTime] [smalldatetime] NOT NULL,
	[Crtd_Prog] [char](8) NOT NULL,
	[Crtd_User] [char](10) NOT NULL,
	[LUpd_DateTime] [smalldatetime] NOT NULL,
	[LUpd_Prog] [char](8) NOT NULL,
	[LUpd_User] [char](10) NOT NULL,
	[StateId] [char](3) NOT NULL,
	[User1] [char](30) NOT NULL,
	[User2] [char](30) NOT NULL,
	[User3] [float] NOT NULL,
	[User4] [float] NOT NULL,
	[User5] [char](10) NOT NULL,
	[User6] [char](10) NOT NULL,
	[User7] [smalldatetime] NOT NULL,
	[User8] [smalldatetime] NOT NULL,
	[tstamp] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[PSSFAPropertyAppr] ADD  DEFAULT ('') FOR [ApprAddr1]
GO
ALTER TABLE [dbo].[PSSFAPropertyAppr] ADD  DEFAULT ('') FOR [ApprAddr2]
GO
ALTER TABLE [dbo].[PSSFAPropertyAppr] ADD  DEFAULT ('') FOR [ApprCity]
GO
ALTER TABLE [dbo].[PSSFAPropertyAppr] ADD  DEFAULT ('') FOR [ApprDept]
GO
ALTER TABLE [dbo].[PSSFAPropertyAppr] ADD  DEFAULT ('') FOR [ApprEMailAddr]
GO
ALTER TABLE [dbo].[PSSFAPropertyAppr] ADD  DEFAULT ('') FOR [ApprFax]
GO
ALTER TABLE [dbo].[PSSFAPropertyAppr] ADD  DEFAULT ('') FOR [ApprName]
GO
ALTER TABLE [dbo].[PSSFAPropertyAppr] ADD  DEFAULT ('') FOR [ApprPhone]
GO
ALTER TABLE [dbo].[PSSFAPropertyAppr] ADD  DEFAULT ('') FOR [ApprState]
GO
ALTER TABLE [dbo].[PSSFAPropertyAppr] ADD  DEFAULT ('') FOR [ApprTitle]
GO
ALTER TABLE [dbo].[PSSFAPropertyAppr] ADD  DEFAULT ('') FOR [ApprZip]
GO
ALTER TABLE [dbo].[PSSFAPropertyAppr] ADD  DEFAULT ('') FOR [CountyDescr]
GO
ALTER TABLE [dbo].[PSSFAPropertyAppr] ADD  DEFAULT ('01/01/1900') FOR [Crtd_DateTime]
GO
ALTER TABLE [dbo].[PSSFAPropertyAppr] ADD  DEFAULT ('') FOR [Crtd_Prog]
GO
ALTER TABLE [dbo].[PSSFAPropertyAppr] ADD  DEFAULT ('') FOR [Crtd_User]
GO
ALTER TABLE [dbo].[PSSFAPropertyAppr] ADD  DEFAULT ('01/01/1900') FOR [LUpd_DateTime]
GO
ALTER TABLE [dbo].[PSSFAPropertyAppr] ADD  DEFAULT ('') FOR [LUpd_Prog]
GO
ALTER TABLE [dbo].[PSSFAPropertyAppr] ADD  DEFAULT ('') FOR [LUpd_User]
GO
ALTER TABLE [dbo].[PSSFAPropertyAppr] ADD  DEFAULT ('') FOR [StateId]
GO
ALTER TABLE [dbo].[PSSFAPropertyAppr] ADD  DEFAULT ('') FOR [User1]
GO
ALTER TABLE [dbo].[PSSFAPropertyAppr] ADD  DEFAULT ('') FOR [User2]
GO
ALTER TABLE [dbo].[PSSFAPropertyAppr] ADD  DEFAULT ((0.00)) FOR [User3]
GO
ALTER TABLE [dbo].[PSSFAPropertyAppr] ADD  DEFAULT ((0.00)) FOR [User4]
GO
ALTER TABLE [dbo].[PSSFAPropertyAppr] ADD  DEFAULT ('') FOR [User5]
GO
ALTER TABLE [dbo].[PSSFAPropertyAppr] ADD  DEFAULT ('') FOR [User6]
GO
ALTER TABLE [dbo].[PSSFAPropertyAppr] ADD  DEFAULT ('01/01/1900') FOR [User7]
GO
ALTER TABLE [dbo].[PSSFAPropertyAppr] ADD  DEFAULT ('01/01/1900') FOR [User8]
GO
