USE [MID_TEST_APP]
GO
/****** Object:  Table [dbo].[xReports_custom_reports]    Script Date: 12/21/2015 14:26:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[xReports_custom_reports](
	[ReportID] [varchar](2000) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
