USE [MID_TEST_APP]
GO
/****** Object:  Table [dbo].[WrkSumInquiry]    Script Date: 12/21/2015 14:26:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WrkSumInquiry](
	[Acct] [char](10) NOT NULL,
	[AcctYear] [char](4) NOT NULL,
	[Actual] [float] NOT NULL,
	[Budget] [float] NOT NULL,
	[Descr] [char](30) NOT NULL,
	[Period] [char](2) NOT NULL,
	[RI_ID] [smallint] NOT NULL,
	[Sub] [char](24) NOT NULL,
	[tstamp] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
