USE [MID_TEST_APP]
GO
/****** Object:  Table [dbo].[SMWrkDetailInv]    Script Date: 12/21/2015 14:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SMWrkDetailInv](
	[Acct] [char](10) NOT NULL,
	[ARBatNbr] [char](10) NOT NULL,
	[CmmnAmt] [float] NOT NULL,
	[CmmnPct] [float] NOT NULL,
	[COGSAcct] [char](10) NOT NULL,
	[COGSSub] [char](24) NOT NULL,
	[ContractID] [char](10) NOT NULL,
	[Cost] [float] NOT NULL,
	[CpnyId] [char](10) NOT NULL,
	[CustId] [char](15) NOT NULL,
	[Description] [char](60) NOT NULL,
	[DetailType] [char](1) NOT NULL,
	[DocType] [char](1) NOT NULL,
	[DocumentID] [char](10) NOT NULL,
	[EarnMult] [float] NOT NULL,
	[EmpID] [char](10) NOT NULL,
	[EmpPRID] [char](10) NOT NULL,
	[EquipID] [char](10) NOT NULL,
	[ExtPrice] [float] NOT NULL,
	[ExtRefNbr] [char](15) NOT NULL,
	[InvBatNbr] [char](10) NOT NULL,
	[InvoiceNbr] [char](10) NOT NULL,
	[Invtid] [char](30) NOT NULL,
	[LineID] [smallint] NOT NULL,
	[LineNbr] [smallint] NOT NULL,
	[LineTypes] [char](1) NOT NULL,
	[LotSerialPU] [char](25) NOT NULL,
	[LotSerialRep] [char](25) NOT NULL,
	[NoteID] [int] NOT NULL,
	[PerEnt] [char](6) NOT NULL,
	[PerPost] [char](6) NOT NULL,
	[Quantity] [float] NOT NULL,
	[Refnbr] [char](10) NOT NULL,
	[RI_ID] [smallint] NOT NULL,
	[SiteID] [char](10) NOT NULL,
	[SlsperID] [char](10) NOT NULL,
	[SpecCostID] [char](25) NOT NULL,
	[StdCost] [float] NOT NULL,
	[Sub] [char](24) NOT NULL,
	[TaskID] [char](32) NOT NULL,
	[TaxAmt00] [float] NOT NULL,
	[TaxAmt01] [float] NOT NULL,
	[TaxAmt02] [float] NOT NULL,
	[TaxAmt03] [float] NOT NULL,
	[TaxExempt] [char](1) NOT NULL,
	[TaxID00] [char](10) NOT NULL,
	[TaxID01] [char](10) NOT NULL,
	[TaxID02] [char](10) NOT NULL,
	[TaxID03] [char](10) NOT NULL,
	[TranAmt] [float] NOT NULL,
	[TranDate] [smalldatetime] NOT NULL,
	[TxblAmt00] [float] NOT NULL,
	[TxblAmt01] [float] NOT NULL,
	[TxblAmt02] [float] NOT NULL,
	[TxblAmt03] [float] NOT NULL,
	[UnitPrice] [float] NOT NULL,
	[User1] [char](30) NOT NULL,
	[User2] [char](30) NOT NULL,
	[User3] [float] NOT NULL,
	[User4] [float] NOT NULL,
	[User5] [char](10) NOT NULL,
	[User6] [char](10) NOT NULL,
	[User7] [smalldatetime] NOT NULL,
	[User8] [smalldatetime] NOT NULL,
	[User9] [smallint] NOT NULL,
	[WhseLoc] [char](10) NOT NULL,
	[WorkHr] [float] NOT NULL,
	[tstamp] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
