USE [MID_TEST_APP]
GO
/****** Object:  Table [dbo].[Currncy]    Script Date: 12/21/2015 14:26:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Currncy](
	[BitmapId] [char](3) NOT NULL,
	[Crtd_DateTime] [smalldatetime] NOT NULL,
	[Crtd_Prog] [char](8) NOT NULL,
	[Crtd_User] [char](10) NOT NULL,
	[CuryCapt] [char](15) NOT NULL,
	[CuryId] [char](4) NOT NULL,
	[CurySym] [char](4) NOT NULL,
	[DecPl] [smallint] NOT NULL,
	[Descr] [char](30) NOT NULL,
	[LUpd_DateTime] [smalldatetime] NOT NULL,
	[LUpd_Prog] [char](8) NOT NULL,
	[LUpd_User] [char](10) NOT NULL,
	[NoteId] [int] NOT NULL,
	[RealGainAcct] [char](10) NOT NULL,
	[RealGainSub] [char](24) NOT NULL,
	[RealLossAcct] [char](10) NOT NULL,
	[RealLossSub] [char](24) NOT NULL,
	[RvalGainAcct] [char](10) NOT NULL,
	[RvalGainSub] [char](24) NOT NULL,
	[RvalLossAcct] [char](10) NOT NULL,
	[RvalLossSub] [char](24) NOT NULL,
	[S4Future01] [char](30) NOT NULL,
	[S4Future02] [char](30) NOT NULL,
	[S4Future03] [float] NOT NULL,
	[S4Future04] [float] NOT NULL,
	[S4Future05] [float] NOT NULL,
	[S4Future06] [float] NOT NULL,
	[S4Future07] [smalldatetime] NOT NULL,
	[S4Future08] [smalldatetime] NOT NULL,
	[S4Future09] [int] NOT NULL,
	[S4Future10] [int] NOT NULL,
	[S4Future11] [char](10) NOT NULL,
	[S4Future12] [char](10) NOT NULL,
	[Status] [char](1) NOT NULL,
	[TrslGainAcct] [char](10) NOT NULL,
	[TrslGainSub] [char](24) NOT NULL,
	[TrslLossAcct] [char](10) NOT NULL,
	[TrslLossSub] [char](24) NOT NULL,
	[UnrlGainAcct] [char](10) NOT NULL,
	[UnrlGainSub] [char](24) NOT NULL,
	[UnrlLossAcct] [char](10) NOT NULL,
	[UnrlLossSub] [char](24) NOT NULL,
	[User1] [char](30) NOT NULL,
	[User2] [char](30) NOT NULL,
	[User3] [float] NOT NULL,
	[User4] [float] NOT NULL,
	[User5] [char](10) NOT NULL,
	[User6] [char](10) NOT NULL,
	[User7] [smalldatetime] NOT NULL,
	[User8] [smalldatetime] NOT NULL,
	[tstamp] [timestamp] NOT NULL,
 CONSTRAINT [Currncy0] PRIMARY KEY CLUSTERED 
(
	[CuryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
