USE [SHOPPERAPP]
GO
/****** Object:  View [dbo].[vs_mbfsmartlisttask]    Script Date: 12/21/2015 16:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[vs_mbfsmartlisttask] AS SELECT * FROM DENVERSYS..mbfsmartlisttask
GO
