USE [SHOPPERAPP]
GO
/****** Object:  View [dbo].[vs_vtsample_orders]    Script Date: 12/21/2015 16:12:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[vs_vtsample_orders] AS SELECT * FROM DENVERSYS..vtsample_orders
GO
