USE [MIDWESTAPP]
GO
/****** Object:  View [dbo].[vs_kpifiscalprovider]    Script Date: 12/21/2015 15:55:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[vs_kpifiscalprovider] AS SELECT * FROM DENVERSYS..kpifiscalprovider
GO
