USE [MIDWESTAPP]
GO
/****** Object:  View [dbo].[vs_mbfsystemworkitem]    Script Date: 12/21/2015 15:55:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[vs_mbfsystemworkitem] AS SELECT * FROM DENVERSYS..mbfsystemworkitem
GO
