USE [MIDWESTAPP]
GO
/****** Object:  View [dbo].[DMG_SoShipHeader_ValidName]    Script Date: 12/21/2015 15:55:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
create view [dbo].[DMG_SoShipHeader_ValidName] as 

select
'BillAddr1' as ValidName
union all
select
'BillAddr2'
union all
select
'BillAddrSpecial'
union all
select
'BillAttn'
union all
select
'BillCity'
union all
select
'BillCountry'
union all
select
'BillName'
union all
select
'BillPhone'
union all
select
'BillState'
union all
select
'BillThruProject'
union all
select
'BillZip'
union all
select
'BlktOrdNbr'
union all
select
'BuyerID'
union all
select
'ContractNbr'
union all
select
'CustOrdNbr'
union all
select
'Dept'
union all
select
'Div'
union all
select
'DropShip'
union all
select
'FOBID'
union all
select
'GeoCode'
union all
select
'OrdNbr'
union all
select
'ShipAddr1'
union all
select
'ShipAddr2'
union all
select
'ShipAttn'
union all
select
'ShipCity'
union all
select
'ShipCountry'
union all
select
'ShipCustID'
union all
select
'ShipDateAct'
union all
select
'ShipGeoCode'
union all
select
'ShipName'
union all
select
'ShipperID'
union all
select
'ShipState'
union all
select
'ShipToID'
union all
select
'ShipVendID'
union all
select
'ShipViaID'
union all
select
'ShipZip'
union all
select
'SiteID'
union all
select
'SOTypeID'
union all
select
'TrackingNbr'
union all
select
'User1'
union all
select
'User10'
union all
select
'User2'
union all
select
'User3'
union all
select
'User4'
union all
select
'User5'
union all
select
'User6'
union all
select
'User7'
union all
select
'User8'
union all
select
'User9'
GO
