USE [MIDWESTAPP]
GO
/****** Object:  View [dbo].[vs_mbffolderitem]    Script Date: 12/21/2015 15:55:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[vs_mbffolderitem] AS SELECT * FROM DENVERSYS..mbffolderitem
GO
