USE [DAL_TEST_APP]
GO
/****** Object:  StoredProcedure [dbo].[DeletePOTranAlloc_RcptNbr]    Script Date: 12/21/2015 13:56:56 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/****** Object:  Stored Procedure dbo.DeletePOTranAlloc_RcptNbr    Script Date: 4/16/98 7:50:25 PM ******/
Create Procedure [dbo].[DeletePOTranAlloc_RcptNbr] @parm1 varchar ( 10) As
Delete from POTranAlloc Where RcptNbr = @parm1
GO
