USE [DAL_TEST_APP]
GO
/****** Object:  StoredProcedure [dbo].[PJLABHDR_SPK25T]    Script Date: 12/21/2015 13:57:08 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
Create Procedure [dbo].[PJLABHDR_SPK25T] @parm1 varchar (10)   as
	SELECT
	  PJLABHDR.docnbr,
	  PJLABHDR.employee,
	  PJEMPLOY.emp_name,
	  PJLABHDR.pe_date,
	  PJLABHDR.le_type,
	  PJLABHDR.le_status,
	  PJEMPLOY.manager1,
	  PJEMPLOY.manager2,
	  PJEMPLOY.gl_subacct,
	  PJLABHDR.le_id05,
          PJLABHDR.le_id07
	FROM
	  pjlabhdr,
	  pjemploy
		WHERE
	   pjlabhdr.employee =  pjemploy.employee and
	  (pjlabhdr.le_status = 'C' or pjlabhdr.le_status = 'A' or pjlabhdr.le_status = 'T') and
	   pjlabhdr.cpnyid_home Like @parm1
ORDER BY
	  pjlabhdr.employee ASC, pjlabhdr.pe_date DESC
GO
