USE [DAL_TEST_APP]
GO
/****** Object:  StoredProcedure [dbo].[DMG_PR_RcptNbr_Exists]    Script Date: 12/21/2015 13:56:57 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
create procedure [dbo].[DMG_PR_RcptNbr_Exists]
	@RcptNbr	varchar(10)
as
	if (
	select	count(*)
	from 	POReceipt (NOLOCK)
        where 	RcptNbr = @RcptNbr
 	) = 0
		--select 0
		return 0	--Failure
	else
		--select 1
		return 1	--Success
GO
