USE [DAL_TEST_APP]
GO
/****** Object:  StoredProcedure [dbo].[ED850HeaderExt_def]    Script Date: 12/21/2015 13:56:59 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
Create Proc [dbo].[ED850HeaderExt_def] As Select * From ED850HeaderExt
GO
