USE [DAL_TEST_APP]
GO
/****** Object:  StoredProcedure [dbo].[BCPOInUse_all]    Script Date: 12/21/2015 13:56:54 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[BCPOInUse_all]
AS
	SELECT *
	FROM BCPOInUse

-- Copyright 1998 by Advanced Distribution Group, Ltd. All rights reserved.
GO
