USE [NEWYORKAPP]
GO
/****** Object:  Table [dbo].[smSvcEquipment]    Script Date: 12/21/2015 16:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[smSvcEquipment](
	[AssetId] [char](15) NOT NULL,
	[Axles] [smallint] NOT NULL,
	[BaseActCost] [float] NOT NULL,
	[BranchId] [char](10) NOT NULL,
	[COGSAcct] [char](10) NOT NULL,
	[COGSSubAcct] [char](24) NOT NULL,
	[Condition] [char](20) NOT NULL,
	[ContactName] [char](60) NOT NULL,
	[ContactPhone] [char](15) NOT NULL,
	[ContractID] [char](10) NOT NULL,
	[ControlCount] [float] NOT NULL,
	[CpnyID] [char](10) NOT NULL,
	[Crtd_DateTime] [smalldatetime] NOT NULL,
	[Crtd_Prog] [char](8) NOT NULL,
	[Crtd_User] [char](10) NOT NULL,
	[CustId] [char](15) NOT NULL,
	[DateInstalled] [smalldatetime] NOT NULL,
	[Descr] [char](60) NOT NULL,
	[Enhancement] [char](10) NOT NULL,
	[EnhancementDate] [smalldatetime] NOT NULL,
	[EQ_ID01] [char](30) NOT NULL,
	[EQ_ID02] [char](30) NOT NULL,
	[EQ_ID03] [char](20) NOT NULL,
	[EQ_ID04] [char](20) NOT NULL,
	[EQ_ID05] [char](10) NOT NULL,
	[EQ_ID06] [char](10) NOT NULL,
	[EQ_ID07] [char](4) NOT NULL,
	[EQ_ID08] [float] NOT NULL,
	[EQ_ID09] [smalldatetime] NOT NULL,
	[EQ_ID10] [smallint] NOT NULL,
	[EQ_ID11] [char](30) NOT NULL,
	[EQ_ID12] [char](30) NOT NULL,
	[EQ_ID13] [char](20) NOT NULL,
	[EQ_ID14] [char](20) NOT NULL,
	[EQ_ID15] [char](10) NOT NULL,
	[EQ_ID16] [char](10) NOT NULL,
	[EQ_ID17] [char](4) NOT NULL,
	[EQ_ID18] [float] NOT NULL,
	[EQ_ID19] [smalldatetime] NOT NULL,
	[EQ_ID20] [smallint] NOT NULL,
	[EquipID] [char](10) NOT NULL,
	[EquipTypeID] [char](10) NOT NULL,
	[ExtWarrEndDate] [smalldatetime] NOT NULL,
	[ExtWarrStartDate] [smalldatetime] NOT NULL,
	[FuelType] [char](1) NOT NULL,
	[FuelTank1] [char](15) NOT NULL,
	[FuelTank2] [char](15) NOT NULL,
	[GVW] [float] NOT NULL,
	[LaborCost] [float] NOT NULL,
	[LaborSales] [float] NOT NULL,
	[LastCallDate] [smalldatetime] NOT NULL,
	[LicenseNbr] [char](15) NOT NULL,
	[Location] [char](50) NOT NULL,
	[LocationID] [char](10) NOT NULL,
	[Lupd_DateTime] [smalldatetime] NOT NULL,
	[Lupd_Prog] [char](8) NOT NULL,
	[Lupd_User] [char](10) NOT NULL,
	[ManufId] [char](10) NOT NULL,
	[MaxMiles] [float] NOT NULL,
	[MatlCost] [float] NOT NULL,
	[MatlSales] [float] NOT NULL,
	[MfgYear] [char](4) NOT NULL,
	[MiscCost] [float] NOT NULL,
	[MiscSales] [float] NOT NULL,
	[ModelId] [char](40) NOT NULL,
	[NoteId] [int] NOT NULL,
	[OrdNbr] [char](10) NOT NULL,
	[ParentId] [char](10) NOT NULL,
	[PMCode] [char](10) NOT NULL,
	[PMScheduled] [smallint] NOT NULL,
	[Price] [float] NOT NULL,
	[PrimaryTech] [char](10) NOT NULL,
	[PurActCost] [float] NOT NULL,
	[PurchAmount] [float] NOT NULL,
	[PurchDate] [smalldatetime] NOT NULL,
	[PurchPONbr] [char](10) NOT NULL,
	[Quantity] [float] NOT NULL,
	[Rate] [float] NOT NULL,
	[RateFreq] [char](2) NOT NULL,
	[RegistrNbr] [char](30) NOT NULL,
	[Registrdate] [smalldatetime] NOT NULL,
	[RegistrSt] [char](15) NOT NULL,
	[RentCode] [char](10) NOT NULL,
	[RevAcct] [char](10) NOT NULL,
	[Revision] [char](10) NOT NULL,
	[RevisionDate] [smalldatetime] NOT NULL,
	[RevSubAcct] [char](24) NOT NULL,
	[SecondaryTech] [char](10) NOT NULL,
	[SerialNbr] [char](30) NOT NULL,
	[SiteId] [char](10) NOT NULL,
	[Status] [char](1) NOT NULL,
	[StatusDate] [smalldatetime] NOT NULL,
	[TareWeight] [float] NOT NULL,
	[Type] [char](1) NOT NULL,
	[User1] [char](30) NOT NULL,
	[User2] [char](30) NOT NULL,
	[User3] [float] NOT NULL,
	[User4] [float] NOT NULL,
	[User5] [char](10) NOT NULL,
	[User6] [char](10) NOT NULL,
	[User7] [smalldatetime] NOT NULL,
	[User8] [smalldatetime] NOT NULL,
	[VendorID] [char](15) NOT NULL,
	[VIN] [char](30) NOT NULL,
	[WarrantyStatus] [char](2) NOT NULL,
	[WarrEndDate] [smalldatetime] NOT NULL,
	[WarrStartDate] [smalldatetime] NOT NULL,
	[WtCapacity] [float] NOT NULL,
	[tstamp] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
