USE [SHOPPER_TEST_APP]
GO
/****** Object:  StoredProcedure [dbo].[POTran_SumExtCost]    Script Date: 12/21/2015 16:07:16 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/****** Object:  Stored Procedure dbo.POTran_SumExtCost    Script Date: 4/16/98 7:50:26 PM ******/
Create Procedure [dbo].[POTran_SumExtCost] @parm1 varchar ( 10) As
Select sum(curyextcost), sum(extcost) From POTran
   Where POTran.RcptNbr = @parm1 And POTran.POOriginal = 'Y'
GO
