USE [SHOPPER_TEST_APP]
GO
/****** Object:  StoredProcedure [dbo].[PRCHECKTRAN_ALL_ASID]    Script Date: 12/21/2015 16:07:16 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[PRCHECKTRAN_ALL_ASID] 
AS

        SELECT * FROM PRCheckTran WHERE ASID = 0
		ORDER BY EMPID
GO
