USE [SHOPPER_TEST_APP]
GO
/****** Object:  StoredProcedure [dbo].[CertificationAR_Descr]    Script Date: 12/21/2015 16:06:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
Create Proc [dbo].[CertificationAR_Descr] @parm1 varchar (2) as
    Select Descr from CertificationText where CertID = @parm1 order by CertID
GO
