USE [SHOPPER_TEST_APP]
GO
/****** Object:  StoredProcedure [dbo].[DMG_PO_TermsIDValid]    Script Date: 12/21/2015 16:07:01 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
create procedure [dbo].[DMG_PO_TermsIDValid]
	@TermsID	varchar(2)
as
	if (
	select	count(*)
	from	Terms (NOLOCK)
	where	TermsID = @TermsID
	and	ApplyTo in ('B', 'V')
	) = 0
		--select 0
		return 0	--Failure
	else
		--select 1
		return 1	--Success
GO
