USE [SHOPPER_TEST_APP]
GO
/****** Object:  StoredProcedure [dbo].[smRentHeader_All]    Script Date: 12/21/2015 16:07:20 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE
	[dbo].[smRentHeader_All]
		@parm1	varchar(10)
AS
	SELECT
		*
	FROM
		smRentHeader
	WHERE
		TransId LIKE @parm1
	ORDER BY
		TransID

-- Copyright 1998, 1999 by Solomon Software, Inc. All rights reserved.
GO
