USE [SHOPPER_TEST_APP]
GO
/****** Object:  StoredProcedure [dbo].[xTMEXC00_UpdateExclusion]    Script Date: 12/21/2015 16:07:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--  Created by APatten on 4/8/2009.  This SPROC updates the Exclusion table for a given employee/week ending date that will show on report TM094.  Information utilized by TMEXC00.

CREATE PROCEDURE [dbo].[xTMEXC00_UpdateExclusion]

@ReasonCode int
, @Status char(2)
, @Notes varchar(Max)
, @user char(10)
, @EmpId char(10)
, @ExemptDate smalldatetime

AS


BEGIN

BEGIN TRANSACTION

BEGIN TRY
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;

UPDATE xExclusion 
SET Integer1 = @ReasonCode 
	, Status = @Status 
	, Notes = @Notes 
	, lupd_datetime = GetDate()
	, lupd_user = @user 
WHERE Text1 = @EmpId 
		and DateTime1 = @ExemptDate 
		and ItemID = 'TM094' 



END TRY


BEGIN CATCH

IF @@TRANCOUNT > 0
ROLLBACK

DECLARE @ErrorNumberA int
DECLARE @ErrorSeverityA int
DECLARE @ErrorStateA varchar(255)
DECLARE @ErrorProcedureA varchar(255)
DECLARE @ErrorLineA int
DECLARE @ErrorMessageA varchar(max)
DECLARE @ErrorDateA smalldatetime
DECLARE @UserNameA varchar(50)
DECLARE @ErrorAppA varchar(50)
DECLARE @UserMachineName varchar(50)

SET @ErrorNumberA = Error_number()
SET @ErrorSeverityA = Error_severity()
SET @ErrorStateA = Error_state()
SET @ErrorProcedureA = Error_procedure()
SET @ErrorLineA = Error_line()
SET @ErrorMessageA = Error_message()
SET @ErrorDateA = GetDate()
SET @UserNameA = suser_sname()
SET @ErrorAppA = app_name()
SET @UserMachineName = host_name()

EXEC dbo.xLogErrorandEmail @ErrorNumberA, @ErrorSeverityA, @ErrorStateA , @ErrorProcedureA, @ErrorLineA, @ErrorMessageA
, @ErrorDateA, @UserNameA, @ErrorAppA, @UserMachineName

END CATCH


IF @@TRANCOUNT > 0
COMMIT TRANSACTION

END
GO
