USE [SHOPPER_TEST_APP]
GO
/****** Object:  StoredProcedure [dbo].[BCSales_all]    Script Date: 12/21/2015 16:06:57 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[BCSales_all]
AS
	SELECT *
	FROM BCSales

-- Copyright 1998 by Advanced Distribution Group, Ltd. All rights reserved.
GO
