USE [MIDWESTAPP]
GO
/****** Object:  StoredProcedure [dbo].[IRMatMsg_Def]    Script Date: 12/21/2015 15:55:33 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
Create Procedure [dbo].[IRMatMsg_Def] As
	Select * from IRMatMsg
GO
