USE [MIDWESTAPP]
GO
/****** Object:  StoredProcedure [dbo].[BCTransfers_all]    Script Date: 12/21/2015 15:55:22 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[BCTransfers_all]
AS
	SELECT *
	FROM BCTransfers

-- Copyright 1998 by Advanced Distribution Group, Ltd. All rights reserved.
GO
