USE [MIDWESTAPP]
GO
/****** Object:  StoredProcedure [dbo].[SlsPrc_PrcLvlId]    Script Date: 12/21/2015 15:55:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/****** Object:  Stored Procedure dbo.SlsPrc_PrcLvlId    Script Date: 4/17/98 10:58:19 AM ******/
/****** Object:  Stored Procedure dbo.SlsPrc_PrcLvlId    Script Date: 4/16/98 7:41:53 PM ******/
Create Proc [dbo].[SlsPrc_PrcLvlId] @Parm1 varchar(10) as
   Select * from slsprc where prclvlid like @parm1 and ltrim(prclvlid) <> ''
      Order by prclvlid
GO
