USE [MIDWESTAPP]
GO
/****** Object:  StoredProcedure [dbo].[ValWorkLocDed_DedId_Delete_Select]    Script Date: 12/21/2015 15:55:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
Create Proc  [dbo].[ValWorkLocDed_DedId_Delete_Select] @parm1 varchar ( 10), @parm2 varchar (4) as
       if NOT exists (select DedId from Deduction where DedId = @parm1 and CalYr <> @parm2)
           Delete ValWorkLocDed from ValWorkLocDed Where DedId = @parm1
GO
