USE [MIDWESTAPP]
GO
/****** Object:  StoredProcedure [dbo].[smRentCode_Del_Chk]    Script Date: 12/21/2015 15:55:45 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE
	[dbo].[smRentCode_Del_Chk]
		@parm1	varchar(10)
AS
	SELECT
		*
	FROM
		smRentDetail
	WHERE
		RentalID = @parm1
	ORDER BY
		RentalID

-- Copyright 1998, 1999 by Solomon Software, Inc. All rights reserved.
GO
