USE [DALLASAPP]
GO
/****** Object:  StoredProcedure [dbo].[xCHARPAY_delete]    Script Date: 12/21/2015 13:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create proc [dbo].[xCHARPAY_delete]   as
delete from xCHARPAY
GO
