USE [DALLASAPP]
GO
/****** Object:  StoredProcedure [dbo].[EDContainerDet_SumQtyShipped]    Script Date: 12/21/2015 13:44:53 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
Create Proc [dbo].[EDContainerDet_SumQtyShipped] @CpnyId varchar(10), @ShipperId varchar(15), @ContainerId varchar(10) As
Select Sum(QtyShipped) From EDContainerDet Where CpnyId = @CpnyId And ShipperId = @ShipperId And ContainerId = @ContainerId
GO
