USE [DALLASAPP]
GO
/****** Object:  StoredProcedure [dbo].[BCTemp_all]    Script Date: 12/21/2015 13:44:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[BCTemp_all]
AS
	SELECT *
	FROM BCTemp

-- Copyright 1998 by Advanced Distribution Group, Ltd. All rights reserved.
GO
