USE [DALLASAPP]
GO
/****** Object:  StoredProcedure [dbo].[EDShipVia_ViaIdSCACCarrier]    Script Date: 12/21/2015 13:44:54 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
Create Proc [dbo].[EDShipVia_ViaIdSCACCarrier] @ShipViaId varchar(15) As
Select ShipViaId, SCAC, CarrierId From ShipVia Where ShipViaId = @ShipViaId
GO
