USE [DALLASAPP]
GO
/****** Object:  StoredProcedure [dbo].[PSSFACustodian_All]    Script Date: 12/21/2015 13:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[PSSFACustodian_All] @parm1 VARCHAR(20) AS
  SELECT * FROM PSSFACustodian WHERE Custodian LIKE @parm1 ORDER BY Custodian
GO
