USE [DALLASAPP]
GO
/****** Object:  StoredProcedure [dbo].[ED850LDisc_Def]    Script Date: 12/21/2015 13:44:52 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
Create Proc [dbo].[ED850LDisc_Def] As Select * From ED850LDisc
GO
