USE [DALLASAPP]
GO
/****** Object:  StoredProcedure [dbo].[ED810Split_LineId]    Script Date: 12/21/2015 13:44:51 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
Create Proc [dbo].[ED810Split_LineId] @CpnyId varchar(10), @EDIInvId varchar(10), @LineId int As
Select * From ED810Split Where CpnyId = @CpnyId And EDIInvId = @EDIInvId And LineId = @LineId
GO
