USE [DENVERAPP]
GO
/****** Object:  View [dbo].[vs_mbfbuiltinstateaction]    Script Date: 12/21/2015 15:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[vs_mbfbuiltinstateaction] AS SELECT * FROM DENVERSYS..mbfbuiltinstateaction
GO
