USE [MID_DEV_APP]
GO
/****** Object:  Table [dbo].[smWrkSvDetail]    Script Date: 12/21/2015 14:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[smWrkSvDetail](
	[Acct] [char](10) NOT NULL,
	[ARBatNbr] [char](10) NOT NULL,
	[ARRefNbr] [char](10) NOT NULL,
	[Billable] [float] NOT NULL,
	[BillFlag] [smallint] NOT NULL,
	[BillingType] [char](1) NOT NULL,
	[BillWarranty] [smallint] NOT NULL,
	[Certified] [char](1) NOT NULL,
	[ClassID] [char](6) NOT NULL,
	[COGSAcct] [char](10) NOT NULL,
	[COGSSub] [char](24) NOT NULL,
	[Cost] [float] NOT NULL,
	[CpnyID] [char](10) NOT NULL,
	[CreateReceipt] [smallint] NOT NULL,
	[Crtd_DateTime] [smalldatetime] NOT NULL,
	[Crtd_Prog] [char](8) NOT NULL,
	[Crtd_User] [char](10) NOT NULL,
	[Description] [char](60) NOT NULL,
	[DetailType] [char](1) NOT NULL,
	[EarningType] [char](10) NOT NULL,
	[EarnMult] [float] NOT NULL,
	[EmpID] [char](10) NOT NULL,
	[EmpPRID] [char](10) NOT NULL,
	[EquipID] [char](10) NOT NULL,
	[ExtPrice] [float] NOT NULL,
	[FlatRateID] [char](10) NOT NULL,
	[FlatRateLineNbr] [smallint] NOT NULL,
	[INBatNbr] [char](10) NOT NULL,
	[INLineID] [smallint] NOT NULL,
	[INTranFlag] [smallint] NOT NULL,
	[InvoiceInProgress] [smallint] NOT NULL,
	[InvoiceLineID] [smallint] NOT NULL,
	[InvtId] [char](30) NOT NULL,
	[InvtStdCost] [float] NOT NULL,
	[LaborClass] [char](4) NOT NULL,
	[LaborBurden] [float] NOT NULL,
	[LineNbr] [smallint] NOT NULL,
	[LineTypes] [char](1) NOT NULL,
	[Lupd_DateTime] [smalldatetime] NOT NULL,
	[Lupd_Prog] [char](8) NOT NULL,
	[Lupd_User] [char](10) NOT NULL,
	[MarkupId] [char](10) NOT NULL,
	[NoteID] [int] NOT NULL,
	[OrdLineID] [smallint] NOT NULL,
	[OrdNbr] [char](10) NOT NULL,
	[PJBatNbr] [char](10) NOT NULL,
	[PJDocNbr] [char](10) NOT NULL,
	[POCost] [float] NOT NULL,
	[PODate] [smalldatetime] NOT NULL,
	[POFlag] [smallint] NOT NULL,
	[PONumber] [char](20) NOT NULL,
	[POOrderQty] [float] NOT NULL,
	[PORcptQty] [float] NOT NULL,
	[PRBatchNbr] [char](10) NOT NULL,
	[PRCreated] [smallint] NOT NULL,
	[PRDocNBr] [char](10) NOT NULL,
	[PrevailingWageCode] [char](4) NOT NULL,
	[PrevailingWageGroup] [char](2) NOT NULL,
	[PRLineID] [smallint] NOT NULL,
	[Profit] [float] NOT NULL,
	[ProfitPercent] [float] NOT NULL,
	[Quantity] [float] NOT NULL,
	[RecptFlag] [smallint] NOT NULL,
	[RecptNbr] [char](10) NOT NULL,
	[RI_ID] [smallint] NOT NULL,
	[ServiceCallID] [char](10) NOT NULL,
	[ServiceContract] [char](10) NOT NULL,
	[ShiftCode] [char](7) NOT NULL,
	[SiteID] [char](10) NOT NULL,
	[StdCost] [float] NOT NULL,
	[Sub] [char](24) NOT NULL,
	[Task] [char](32) NOT NULL,
	[TaxAmt00] [float] NOT NULL,
	[TaxAmt01] [float] NOT NULL,
	[TaxAmt02] [float] NOT NULL,
	[TaxAmt03] [float] NOT NULL,
	[TaxCalced] [char](1) NOT NULL,
	[TaxCat] [char](10) NOT NULL,
	[TaxExempt] [char](1) NOT NULL,
	[TaxID00] [char](10) NOT NULL,
	[TaxID01] [char](10) NOT NULL,
	[TaxID02] [char](10) NOT NULL,
	[TaxID03] [char](10) NOT NULL,
	[TaxIDDflt] [char](10) NOT NULL,
	[TimeShtNbr] [char](10) NOT NULL,
	[TM_ID01] [char](30) NOT NULL,
	[TM_ID02] [char](30) NOT NULL,
	[TM_ID03] [char](20) NOT NULL,
	[TM_ID04] [char](20) NOT NULL,
	[TM_ID05] [char](10) NOT NULL,
	[TM_ID06] [char](10) NOT NULL,
	[TM_ID07] [char](4) NOT NULL,
	[TM_ID08] [float] NOT NULL,
	[TM_ID09] [smalldatetime] NOT NULL,
	[TM_ID10] [smallint] NOT NULL,
	[TM_ID11] [char](30) NOT NULL,
	[TM_ID12] [char](30) NOT NULL,
	[TM_ID13] [char](20) NOT NULL,
	[TM_ID14] [char](20) NOT NULL,
	[TM_ID15] [char](10) NOT NULL,
	[TM_ID16] [char](10) NOT NULL,
	[TM_ID17] [char](4) NOT NULL,
	[TM_ID18] [float] NOT NULL,
	[TM_ID19] [smalldatetime] NOT NULL,
	[TM_ID20] [smallint] NOT NULL,
	[TranAmt] [float] NOT NULL,
	[TranDate] [smalldatetime] NOT NULL,
	[TxblAmt00] [float] NOT NULL,
	[TxblAmt01] [float] NOT NULL,
	[TxblAmt02] [float] NOT NULL,
	[TxblAmt03] [float] NOT NULL,
	[UnionCode] [char](10) NOT NULL,
	[UnitPrice] [float] NOT NULL,
	[user1] [char](30) NOT NULL,
	[user2] [char](30) NOT NULL,
	[user3] [float] NOT NULL,
	[user4] [float] NOT NULL,
	[User5] [char](10) NOT NULL,
	[User6] [char](10) NOT NULL,
	[User7] [smalldatetime] NOT NULL,
	[User8] [smalldatetime] NOT NULL,
	[UserID] [char](47) NOT NULL,
	[VendID] [char](15) NOT NULL,
	[WarrantyApproval] [char](20) NOT NULL,
	[WarrantyCustId] [char](15) NOT NULL,
	[WhseLoc] [char](10) NOT NULL,
	[WorkersComp] [char](6) NOT NULL,
	[WorkHr] [float] NOT NULL,
	[WorkLoc] [char](6) NOT NULL,
	[WorkType] [char](2) NOT NULL,
	[tstamp] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
