USE [MID_DEV_APP]
GO
/****** Object:  Table [dbo].[PO04740_WRK]    Script Date: 12/21/2015 14:16:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PO04740_WRK](
	[AdditionalDemand] [float] NOT NULL,
	[CpnyID] [char](10) NOT NULL,
	[Crtd_DateTime] [smalldatetime] NOT NULL,
	[Crtd_Prog] [char](8) NOT NULL,
	[Crtd_User] [char](10) NOT NULL,
	[DailyAvgDemand] [float] NOT NULL,
	[InvtDescr] [char](60) NOT NULL,
	[InvtID] [char](30) NOT NULL,
	[LeadTime] [float] NOT NULL,
	[LUpd_DateTime] [smalldatetime] NOT NULL,
	[LUpd_Prog] [char](8) NOT NULL,
	[LUpd_User] [char](10) NOT NULL,
	[NoteID] [int] NOT NULL,
	[OrderQty] [float] NOT NULL,
	[OrderQtyValue] [float] NOT NULL,
	[PrimVendID] [char](15) NOT NULL,
	[PrimVendName] [char](60) NOT NULL,
	[QtyAvailAtLeadTime] [float] NOT NULL,
	[QtyShort] [float] NOT NULL,
	[ReorderPoint] [float] NOT NULL,
	[RI_ID] [smallint] NOT NULL,
	[S4Future01] [char](30) NOT NULL,
	[S4Future02] [char](30) NOT NULL,
	[S4Future03] [float] NOT NULL,
	[S4Future04] [float] NOT NULL,
	[S4Future05] [float] NOT NULL,
	[S4Future06] [float] NOT NULL,
	[S4Future07] [smalldatetime] NOT NULL,
	[S4Future08] [smalldatetime] NOT NULL,
	[S4Future09] [int] NOT NULL,
	[S4Future10] [int] NOT NULL,
	[S4Future11] [char](10) NOT NULL,
	[S4Future12] [char](10) NOT NULL,
	[SafetyStk] [float] NOT NULL,
	[SiteID] [char](10) NOT NULL,
	[SuggestedOrderQty] [float] NOT NULL,
	[SuggestedOrderValue] [float] NOT NULL,
	[UnitCost] [float] NOT NULL,
	[User1] [char](30) NOT NULL,
	[User2] [char](30) NOT NULL,
	[User3] [float] NOT NULL,
	[User4] [float] NOT NULL,
	[User5] [char](10) NOT NULL,
	[User6] [char](10) NOT NULL,
	[User7] [smalldatetime] NOT NULL,
	[User8] [smalldatetime] NOT NULL,
	[tstamp] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT ((0)) FOR [AdditionalDemand]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT (' ') FOR [CpnyID]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT (rtrim(CONVERT([varchar](30),CONVERT([smalldatetime],getdate(),(0)),(0)))) FOR [Crtd_DateTime]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT (' ') FOR [Crtd_Prog]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT (' ') FOR [Crtd_User]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT ((0)) FOR [DailyAvgDemand]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT (' ') FOR [InvtDescr]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT (' ') FOR [InvtID]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT ((0)) FOR [LeadTime]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT ('01/01/1900') FOR [LUpd_DateTime]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT (' ') FOR [LUpd_Prog]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT (' ') FOR [LUpd_User]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT ((0)) FOR [NoteID]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT ((0)) FOR [OrderQty]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT ((0)) FOR [OrderQtyValue]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT (' ') FOR [PrimVendID]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT (' ') FOR [PrimVendName]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT ((0)) FOR [QtyAvailAtLeadTime]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT ((0)) FOR [QtyShort]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT ((0)) FOR [ReorderPoint]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT ((0)) FOR [RI_ID]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT (' ') FOR [S4Future01]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT (' ') FOR [S4Future02]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT ((0)) FOR [S4Future03]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT ((0)) FOR [S4Future04]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT ((0)) FOR [S4Future05]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT ((0)) FOR [S4Future06]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT ('01/01/1900') FOR [S4Future07]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT ('01/01/1900') FOR [S4Future08]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT ((0)) FOR [S4Future09]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT ((0)) FOR [S4Future10]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT (' ') FOR [S4Future11]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT (' ') FOR [S4Future12]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT ((0)) FOR [SafetyStk]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT (' ') FOR [SiteID]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT ((0)) FOR [SuggestedOrderQty]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT ((0)) FOR [SuggestedOrderValue]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT (' ') FOR [User1]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT (' ') FOR [User2]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT ((0)) FOR [User3]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT ((0)) FOR [User4]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT (' ') FOR [User5]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT (' ') FOR [User6]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT ('01/01/1900') FOR [User7]
GO
ALTER TABLE [dbo].[PO04740_WRK] ADD  DEFAULT ('01/01/1900') FOR [User8]
GO
