USE [MID_DEV_APP]
GO
/****** Object:  Table [dbo].[smConHistory]    Script Date: 12/21/2015 14:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[smConHistory](
	[AmtInvoiced] [float] NOT NULL,
	[AmtRevenue] [float] NOT NULL,
	[ContractID] [char](10) NOT NULL,
	[Crtd_DateTime] [smalldatetime] NOT NULL,
	[Crtd_Prog] [char](8) NOT NULL,
	[Crtd_User] [char](10) NOT NULL,
	[HistMonth] [smallint] NOT NULL,
	[HistYear] [smallint] NOT NULL,
	[LaborBillHrs] [float] NOT NULL,
	[LaborCost] [float] NOT NULL,
	[LaborHours] [float] NOT NULL,
	[LaborSales] [float] NOT NULL,
	[Lupd_DateTime] [smalldatetime] NOT NULL,
	[Lupd_Prog] [char](8) NOT NULL,
	[Lupd_User] [char](10) NOT NULL,
	[OtherCost] [float] NOT NULL,
	[OtherSales] [float] NOT NULL,
	[SalesTotal] [float] NOT NULL,
	[TaxTotal] [float] NOT NULL,
	[User1] [char](30) NOT NULL,
	[User2] [char](30) NOT NULL,
	[User3] [float] NOT NULL,
	[User4] [float] NOT NULL,
	[User5] [char](10) NOT NULL,
	[User6] [char](10) NOT NULL,
	[User7] [smalldatetime] NOT NULL,
	[User8] [smalldatetime] NOT NULL,
	[tstamp] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
