USE [MID_DEV_APP]
GO
/****** Object:  Table [dbo].[xTMADP00_State]    Script Date: 12/21/2015 14:17:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[xTMADP00_State](
	[State] [char](2) NOT NULL,
	[Descr] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ADPStateTranslation] PRIMARY KEY CLUSTERED 
(
	[Descr] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
