USE [MID_DEV_APP]
GO
/****** Object:  Table [dbo].[smInvBatch]    Script Date: 12/21/2015 14:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[smInvBatch](
	[AllBranches] [smallint] NOT NULL,
	[AllCallTypes] [smallint] NOT NULL,
	[AllContracts] [smallint] NOT NULL,
	[AllContractTypes] [smallint] NOT NULL,
	[AllCustomers] [smallint] NOT NULL,
	[AllRentCodes] [smallint] NOT NULL,
	[AllServiceCalls] [smallint] NOT NULL,
	[AllSites] [smallint] NOT NULL,
	[AllTechs] [smallint] NOT NULL,
	[Batnbr] [char](10) NOT NULL,
	[BranchID] [char](10) NOT NULL,
	[CallType] [char](10) NOT NULL,
	[ContractID] [char](10) NOT NULL,
	[ContractTypeID] [char](10) NOT NULL,
	[CopyCustPO] [smallint] NOT NULL,
	[CopyNotes] [smallint] NOT NULL,
	[Crtd_DateTime] [smalldatetime] NOT NULL,
	[Crtd_Prog] [char](8) NOT NULL,
	[Crtd_User] [char](10) NOT NULL,
	[Custid] [char](15) NOT NULL,
	[DetailType] [char](1) NOT NULL,
	[EditScrnNbr] [char](10) NOT NULL,
	[EndingDate] [smalldatetime] NOT NULL,
	[Frequency] [char](2) NOT NULL,
	[Future01] [smallint] NOT NULL,
	[Future02] [smallint] NOT NULL,
	[Future03] [smallint] NOT NULL,
	[Future04] [smallint] NOT NULL,
	[Future05] [char](10) NOT NULL,
	[Future06] [char](10) NOT NULL,
	[Future07] [char](10) NOT NULL,
	[Future08] [char](10) NOT NULL,
	[Future09] [smalldatetime] NOT NULL,
	[Future10] [smalldatetime] NOT NULL,
	[Future11] [float] NOT NULL,
	[Future12] [float] NOT NULL,
	[IB_ID01] [char](30) NOT NULL,
	[IB_ID02] [char](30) NOT NULL,
	[IB_ID03] [char](20) NOT NULL,
	[IB_ID04] [char](20) NOT NULL,
	[IB_ID05] [char](10) NOT NULL,
	[IB_ID06] [char](10) NOT NULL,
	[IB_ID07] [char](4) NOT NULL,
	[IB_ID08] [float] NOT NULL,
	[IB_ID09] [smalldatetime] NOT NULL,
	[IB_ID10] [smallint] NOT NULL,
	[InclAdjustments] [smallint] NOT NULL,
	[InclDeposits] [smallint] NOT NULL,
	[InclMisc] [smallint] NOT NULL,
	[InvoiceType] [char](1) NOT NULL,
	[ItemDescr] [char](60) NOT NULL,
	[ItemID] [char](20) NOT NULL,
	[Lupd_DateTime] [smalldatetime] NOT NULL,
	[Lupd_Prog] [char](8) NOT NULL,
	[Lupd_User] [char](10) NOT NULL,
	[Pernbr] [char](6) NOT NULL,
	[PrintBillable] [smallint] NOT NULL,
	[Printmanual] [smallint] NOT NULL,
	[ServiceCallID] [char](10) NOT NULL,
	[SiteID] [char](10) NOT NULL,
	[StartingDate] [smalldatetime] NOT NULL,
	[Status] [char](1) NOT NULL,
	[Techid] [char](10) NOT NULL,
	[User1] [char](30) NOT NULL,
	[User2] [char](30) NOT NULL,
	[User3] [float] NOT NULL,
	[User4] [float] NOT NULL,
	[User5] [char](10) NOT NULL,
	[User6] [char](10) NOT NULL,
	[User7] [smalldatetime] NOT NULL,
	[User8] [smalldatetime] NOT NULL,
	[User9] [smallint] NOT NULL,
	[tstamp] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
