USE [DEN_TEST_APP]
GO
/****** Object:  StoredProcedure [dbo].[BR_BRImportSetup_All]    Script Date: 12/21/2015 15:36:49 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[BR_BRImportSetup_All] @parm1 varchar (10)
AS
SELECT *
FROM BRImportSetup where CpnyID like @parm1
ORDER BY CpnyID
GO
