USE [DEN_TEST_APP]
GO
/****** Object:  StoredProcedure [dbo].[PJLABDIS_dPK0]    Script Date: 12/21/2015 15:37:02 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
create procedure  [dbo].[PJLABDIS_dPK0]  @parm1 varchar (10)   as
Delete from PJLABDIS
where docnbr = @parm1
GO
