USE [DEN_TEST_APP]
GO
/****** Object:  StoredProcedure [dbo].[WOLotSerMst_LotSerNbr]    Script Date: 12/21/2015 15:37:11 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE Proc [dbo].[WOLotSerMst_LotSerNbr]
   @InvtID          varchar (30),
   @SiteID          varchar (10),
   @WhseLoc         varchar (10),
	@Today			smallDateTime
AS
   Select           *
   FROM             LotSerMst
   WHERE            InvtId = @InvtID and
                    SiteId = @SiteID and
                    WhseLoc = @WhseLoc and
                    (QtyOnHand - QtyAlloc - QtyShipNotInv - QtyWORlsedDemand) > 0 AND
                    (expDate >= @Today or expDate = '01/01/1900')
   ORDER BY         InvtId, LotSerNbr
GO
