USE [DEN_TEST_APP]
GO
/****** Object:  StoredProcedure [dbo].[xkc21pv_delete]    Script Date: 12/21/2015 15:37:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create proc [dbo].[xkc21pv_delete] as
delete from xkc21pv
GO
