USE [DEN_TEST_APP]
GO
/****** Object:  StoredProcedure [dbo].[smEmpArea_EmployeeID_AreaID]    Script Date: 12/21/2015 15:37:09 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[smEmpArea_EmployeeID_AreaID]
	@parm1 varchar( 10 ),
	@parm2 varchar( 10 )
AS
	SELECT *
	FROM smEmpArea
	WHERE EmployeeID LIKE @parm1
	   AND AreaID LIKE @parm2
	ORDER BY EmployeeID,
	   AreaID
GO
