USE [DEN_TEST_APP]
GO
/****** Object:  StoredProcedure [dbo].[XDDEBFile_Update_Totals]    Script Date: 12/21/2015 15:37:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[XDDEBFile_Update_Totals]
  	@FileType	varchar( 1 ),
  	@EBFileNbr	varchar( 6 )

AS
	declare @BaseCuryPrec	smallint

	-- Get the base currency precision
	SET	@BaseCuryPrec = 2
	
	SELECT	@BaseCuryPrec = c.DecPl
	FROM	GLSetup s (NOLOCK),
		Currncy c (NOLOCK)
	WHERE	s.BaseCuryID = c.CuryID

	UPDATE	XDDEBFile
	SET	BatchCount = coalesce((Select count(*) FROM XDDBatch B (nolock) Where B.FileType = @FileType and B.EBFileNbr = @EBFileNbr), 0),
    		BatchTotal = coalesce((Select sum(round(B.CuryCtrlTot, @BaseCuryPrec)) FROM Batch B (nolock) LEFT OUTER JOIN XDDBatch X (nolock)
  						ON B.Module = X.Module and B.BatNbr = X.BatNbr
  						WHERE 	X.FileType = @FileType
  							and X.EBFileNbr = @EBFileNbr), 0)
	WHERE 	FileType = @FileType
		and EBFileNbr = @EBFileNbr
GO
