USE [DEN_TEST_APP]
GO
/****** Object:  StoredProcedure [dbo].[Batch_Trans]    Script Date: 12/21/2015 15:36:49 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
Create Procedure [dbo].[Batch_Trans]
	@BATNBR		VARCHAR(10),
	@CPNYID		VARCHAR(10)
As

SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

SELECT	TOP 1
	INTRAN.BATNBR, INTRAN.CPNYID, INTRAN.RECORDID, INTRAN.TRANTYPE, INTRAN.JRNLTYPE,
	INCREASE =	Cast(Case
				WHEN INTRAN.TRANTYPE IN ('RC', 'RI', 'CM')
					THEN 1
				WHEN INTRAN.TRANTYPE IN ('II', 'IN')
					THEN 0
				WHEN INTRAN.TRANTYPE = 'AS' AND DATALENGTH(RTRIM(INTRAN.KITID)) > 0
					THEN 0
				When INTRAN.QTY <> 0 AND (INTRAN.QTY * INTRAN.INVTMULT) < 0
					THEN 0
				When INTran.Qty = 0 And (INTran.TranAmt * INTran.InvtMult) < 0
					Then 0
				ELSE 1
			END As Bit)
	FROM 	INTRAN
	WHERE	INTRAN.BATNBR = @BATNBR
		AND INTRAN.CPNYID = @CPNYID
		AND INTRAN.TRANTYPE NOT IN ('CT', 'CG')
		AND INTRAN.RLSED = 0

SET TRANSACTION ISOLATION LEVEL READ COMMITTED
GO
