USE [MID_DEV_APP]
GO
/****** Object:  StoredProcedure [dbo].[SOPlan_InvtID_SiteID_PlanType]    Script Date: 12/21/2015 14:17:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SOPlan_InvtID_SiteID_PlanType]
	@parm1 varchar( 30 ),
	@parm2 varchar( 10 ),
	@parm3 varchar( 2 )
AS
	SELECT *
	FROM SOPlan
	WHERE InvtID LIKE @parm1
	   AND SiteID LIKE @parm2
	   AND PlanType LIKE @parm3
	ORDER BY InvtID,
	   SiteID,
	   PlanType

-- Copyright 1998, 1999, 2000, 2001 by Solomon Software, Inc. All rights reserved.
GO
