USE [MID_DEV_APP]
GO
/****** Object:  StoredProcedure [dbo].[SCM_Insert_ARHist]    Script Date: 12/21/2015 14:17:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
Create	Procedure [dbo].[SCM_Insert_ARHist]
	@BegBal		Float,
	@CpnyID		VarChar(10),
	@Crtd_DateTime	SmallDateTime,
	@Crtd_Prog	VarChar(8),
	@Crtd_User	VarChar(10),
	@CuryID		VarChar(4),
	@CustId		VarChar(15),
	@FiscYr		VarChar(4),
	@LUpd_DateTime	SmallDateTime,
	@LUpd_Prog	VarChar(8),
	@LUpd_User	VarChar(10),
	@NbrInvcPaid00	Float,
	@NbrInvcPaid01	Float,
	@NbrInvcPaid02	Float,
	@NbrInvcPaid03	Float,
	@NbrInvcPaid04	Float,
	@NbrInvcPaid05	Float,
	@NbrInvcPaid06	Float,
	@NbrInvcPaid07	Float,
	@NbrInvcPaid08	Float,
	@NbrInvcPaid09	Float,
	@NbrInvcPaid10	Float,
	@NbrInvcPaid11	Float,
	@NbrInvcPaid12	Float,
	@NoteId		Integer,
	@PaidInvcDays00	Float,
	@PaidInvcDays01	Float,
	@PaidInvcDays02	Float,
	@PaidInvcDays03	Float,
	@PaidInvcDays04	Float,
	@PaidInvcDays05	Float,
	@PaidInvcDays06	Float,
	@PaidInvcDays07	Float,
	@PaidInvcDays08	Float,
	@PaidInvcDays09	Float,
	@PaidInvcDays10	Float,
	@PaidInvcDays11	Float,
	@PaidInvcDays12	Float,
	@PerNbr		VarChar(6),
	@PTDCOGS00	Float,
	@PTDCOGS01	Float,
	@PTDCOGS02	Float,
	@PTDCOGS03	Float,
	@PTDCOGS04	Float,
	@PTDCOGS05	Float,
	@PTDCOGS06	Float,
	@PTDCOGS07	Float,
	@PTDCOGS08	Float,
	@PTDCOGS09	Float,
	@PTDCOGS10	Float,
	@PTDCOGS11	Float,
	@PTDCOGS12	Float,
	@PTDCrMemo00	Float,
	@PTDCrMemo01	Float,
	@PTDCrMemo02	Float,
	@PTDCrMemo03	Float,
	@PTDCrMemo04	Float,
	@PTDCrMemo05	Float,
	@PTDCrMemo06	Float,
	@PTDCrMemo07	Float,
	@PTDCrMemo08	Float,
	@PTDCrMemo09	Float,
	@PTDCrMemo10	Float,
	@PTDCrMemo11	Float,
	@PTDCrMemo12	Float,
	@PTDDisc00	Float,
	@PTDDisc01	Float,
	@PTDDisc02	Float,
	@PTDDisc03	Float,
	@PTDDisc04	Float,
	@PTDDisc05	Float,
	@PTDDisc06	Float,
	@PTDDisc07	Float,
	@PTDDisc08	Float,
	@PTDDisc09	Float,
	@PTDDisc10	Float,
	@PTDDisc11	Float,
	@PTDDisc12	Float,
	@PTDDrMemo00	Float,
	@PTDDrMemo01	Float,
	@PTDDrMemo02	Float,
	@PTDDrMemo03	Float,
	@PTDDrMemo04	Float,
	@PTDDrMemo05	Float,
	@PTDDrMemo06	Float,
	@PTDDrMemo07	Float,
	@PTDDrMemo08	Float,
	@PTDDrMemo09	Float,
	@PTDDrMemo10	Float,
	@PTDDrMemo11	Float,
	@PTDDrMemo12	Float,
	@PTDFinChrg00	Float,
	@PTDFinChrg01	Float,
	@PTDFinChrg02	Float,
	@PTDFinChrg03	Float,
	@PTDFinChrg04	Float,
	@PTDFinChrg05	Float,
	@PTDFinChrg06	Float,
	@PTDFinChrg07	Float,
	@PTDFinChrg08	Float,
	@PTDFinChrg09	Float,
	@PTDFinChrg10	Float,
	@PTDFinChrg11	Float,
	@PTDFinChrg12	Float,
	@PTDRcpt00	Float,
	@PTDRcpt01	Float,
	@PTDRcpt02	Float,
	@PTDRcpt03	Float,
	@PTDRcpt04	Float,
	@PTDRcpt05	Float,
	@PTDRcpt06	Float,
	@PTDRcpt07	Float,
	@PTDRcpt08	Float,
	@PTDRcpt09	Float,
	@PTDRcpt10	Float,
	@PTDRcpt11	Float,
	@PTDRcpt12	Float,
	@PTDSales00	Float,
	@PTDSales01	Float,
	@PTDSales02	Float,
	@PTDSales03	Float,
	@PTDSales04	Float,
	@PTDSales05	Float,
	@PTDSales06	Float,
	@PTDSales07	Float,
	@PTDSales08	Float,
	@PTDSales09	Float,
	@PTDSales10	Float,
	@PTDSales11	Float,
	@PTDSales12	Float,
	@S4Future01	VarChar(30),
	@S4Future02	VarChar(30),
	@S4Future03	Float,
	@S4Future04	Float,
	@S4Future05	Float,
	@S4Future06	Float,
	@S4Future07	SmallDateTime,
	@S4Future08	SmallDateTime,
	@S4Future09	Integer,
	@S4Future10	Integer,
	@S4Future11	VarChar(10),
	@S4Future12	VarChar(10),
	@User1		VarChar(30),
	@User2		VarChar(30),
	@User3		Float,
	@User4		Float,
	@User5		VarChar(10),
	@User6		VarChar(10),
	@User7		SmallDateTime,
	@User8		SmallDateTime,
	@YtdCOGS	Float,
	@YtdCrMemo	Float,
	@YtdDisc	Float,
	@YtdDrMemo	Float,
	@YtdFinChrg	Float,
	@YtdRcpt	Float,
	@YtdSales	Float
AS
	Insert Into ARHist
		(AccruedRevBegBal,PTDAccruedRev00,PTDAccruedRev01,PTDAccruedRev02,PTDAccruedRev03,PTDAccruedRev04,
		PTDAccruedRev05,PTDAccruedRev06,PTDAccruedRev07,PTDAccruedRev08,PTDAccruedRev09,PTDAccruedRev10,
		PTDAccruedRev11,PTDAccruedRev12,YTDAccruedRev,BegBal, CpnyID, Crtd_DateTime, Crtd_Prog, Crtd_User,
		CuryID, CustId, FiscYr, LUpd_DateTime, LUpd_Prog,
		LUpd_User, NbrInvcPaid00, NbrInvcPaid01, NbrInvcPaid02, NbrInvcPaid03,
		NbrInvcPaid04, NbrInvcPaid05, NbrInvcPaid06, NbrInvcPaid07, NbrInvcPaid08,
		NbrInvcPaid09, NbrInvcPaid10, NbrInvcPaid11, NbrInvcPaid12, NoteId,
		PaidInvcDays00, PaidInvcDays01, PaidInvcDays02, PaidInvcDays03, PaidInvcDays04,
		PaidInvcDays05, PaidInvcDays06, PaidInvcDays07, PaidInvcDays08, PaidInvcDays09,
		PaidInvcDays10, PaidInvcDays11, PaidInvcDays12, PerNbr, PTDCOGS00,
		PTDCOGS01, PTDCOGS02, PTDCOGS03, PTDCOGS04, PTDCOGS05,
		PTDCOGS06, PTDCOGS07, PTDCOGS08, PTDCOGS09, PTDCOGS10,
		PTDCOGS11, PTDCOGS12, PTDCrMemo00, PTDCrMemo01, PTDCrMemo02,
		PTDCrMemo03, PTDCrMemo04, PTDCrMemo05, PTDCrMemo06, PTDCrMemo07,
		PTDCrMemo08, PTDCrMemo09, PTDCrMemo10, PTDCrMemo11, PTDCrMemo12,
		PTDDisc00, PTDDisc01, PTDDisc02, PTDDisc03, PTDDisc04,
		PTDDisc05, PTDDisc06, PTDDisc07, PTDDisc08, PTDDisc09,
		PTDDisc10, PTDDisc11, PTDDisc12, PTDDrMemo00, PTDDrMemo01,
		PTDDrMemo02, PTDDrMemo03, PTDDrMemo04, PTDDrMemo05, PTDDrMemo06,
		PTDDrMemo07, PTDDrMemo08, PTDDrMemo09, PTDDrMemo10, PTDDrMemo11,
		PTDDrMemo12, PTDFinChrg00, PTDFinChrg01, PTDFinChrg02, PTDFinChrg03,
		PTDFinChrg04, PTDFinChrg05, PTDFinChrg06, PTDFinChrg07, PTDFinChrg08,
		PTDFinChrg09, PTDFinChrg10, PTDFinChrg11, PTDFinChrg12, PTDRcpt00,
		PTDRcpt01, PTDRcpt02, PTDRcpt03, PTDRcpt04, PTDRcpt05,
		PTDRcpt06, PTDRcpt07, PTDRcpt08, PTDRcpt09, PTDRcpt10,
		PTDRcpt11, PTDRcpt12, PTDSales00, PTDSales01, PTDSales02,
		PTDSales03, PTDSales04, PTDSales05, PTDSales06, PTDSales07,
		PTDSales08, PTDSales09, PTDSales10, PTDSales11, PTDSales12,
		S4Future01, S4Future02, S4Future03, S4Future04, S4Future05,
		S4Future06, S4Future07, S4Future08, S4Future09, S4Future10,
		S4Future11, S4Future12, User1, User2, User3,
		User4, User5, User6, User7, User8,
		YtdCOGS, YtdCrMemo, YtdDisc, YtdDrMemo, YtdFinChrg,
		YtdRcpt, YtdSales)
	Values
		(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,@BegBal, @CpnyID, @Crtd_DateTime, @Crtd_Prog, @Crtd_User,
		@CuryID, @CustId, @FiscYr, @LUpd_DateTime, @LUpd_Prog,
		@LUpd_User, @NbrInvcPaid00, @NbrInvcPaid01, @NbrInvcPaid02, @NbrInvcPaid03,
		@NbrInvcPaid04, @NbrInvcPaid05, @NbrInvcPaid06, @NbrInvcPaid07, @NbrInvcPaid08,
		@NbrInvcPaid09, @NbrInvcPaid10, @NbrInvcPaid11, @NbrInvcPaid12, @NoteId,
		@PaidInvcDays00, @PaidInvcDays01, @PaidInvcDays02, @PaidInvcDays03, @PaidInvcDays04,
		@PaidInvcDays05, @PaidInvcDays06, @PaidInvcDays07, @PaidInvcDays08, @PaidInvcDays09,
		@PaidInvcDays10, @PaidInvcDays11, @PaidInvcDays12, @PerNbr, @PTDCOGS00,
		@PTDCOGS01, @PTDCOGS02, @PTDCOGS03, @PTDCOGS04, @PTDCOGS05,
		@PTDCOGS06, @PTDCOGS07, @PTDCOGS08, @PTDCOGS09, @PTDCOGS10,
		@PTDCOGS11, @PTDCOGS12, @PTDCrMemo00, @PTDCrMemo01, @PTDCrMemo02,
		@PTDCrMemo03, @PTDCrMemo04, @PTDCrMemo05, @PTDCrMemo06, @PTDCrMemo07,
		@PTDCrMemo08, @PTDCrMemo09, @PTDCrMemo10, @PTDCrMemo11, @PTDCrMemo12,
		@PTDDisc00, @PTDDisc01, @PTDDisc02, @PTDDisc03, @PTDDisc04,
		@PTDDisc05, @PTDDisc06, @PTDDisc07, @PTDDisc08, @PTDDisc09,
		@PTDDisc10, @PTDDisc11, @PTDDisc12, @PTDDrMemo00, @PTDDrMemo01,
		@PTDDrMemo02, @PTDDrMemo03, @PTDDrMemo04, @PTDDrMemo05, @PTDDrMemo06,
		@PTDDrMemo07, @PTDDrMemo08, @PTDDrMemo09, @PTDDrMemo10, @PTDDrMemo11,
		@PTDDrMemo12, @PTDFinChrg00, @PTDFinChrg01, @PTDFinChrg02, @PTDFinChrg03,
		@PTDFinChrg04, @PTDFinChrg05, @PTDFinChrg06, @PTDFinChrg07, @PTDFinChrg08,
		@PTDFinChrg09, @PTDFinChrg10, @PTDFinChrg11, @PTDFinChrg12, @PTDRcpt00,
		@PTDRcpt01, @PTDRcpt02, @PTDRcpt03, @PTDRcpt04, @PTDRcpt05,
		@PTDRcpt06, @PTDRcpt07, @PTDRcpt08, @PTDRcpt09, @PTDRcpt10,
		@PTDRcpt11, @PTDRcpt12, @PTDSales00, @PTDSales01, @PTDSales02,
		@PTDSales03, @PTDSales04, @PTDSales05, @PTDSales06, @PTDSales07,
		@PTDSales08, @PTDSales09, @PTDSales10, @PTDSales11, @PTDSales12,
		@S4Future01, @S4Future02, @S4Future03, @S4Future04, @S4Future05,
		@S4Future06, @S4Future07, @S4Future08, @S4Future09, @S4Future10,
		@S4Future11, @S4Future12, @User1, @User2, @User3,
		@User4, @User5, @User6, @User7, @User8,
		@YtdCOGS, @YtdCrMemo, @YtdDisc, @YtdDrMemo, @YtdFinChrg,
		@YtdRcpt, @YtdSales)
GO
