USE [MID_DEV_APP]
GO
/****** Object:  StoredProcedure [dbo].[EDInventory_AllDMG]    Script Date: 12/21/2015 14:17:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE Proc [dbo].[EDInventory_AllDMG] @parm1 varchar ( 30) as
    Select * from Inventory where InvtId like @parm1 order by InvtId
GO
