USE [MID_DEV_APP]
GO
/****** Object:  StoredProcedure [dbo].[ED850HeaderExt_all]    Script Date: 12/21/2015 14:17:41 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[ED850HeaderExt_all]
 @parm1 varchar( 10 ),
 @parm2 varchar( 10 )
AS
 SELECT *
 FROM ED850HeaderExt
 WHERE CpnyId LIKE @parm1
    AND EDIPoId LIKE @parm2
 ORDER BY CpnyId,
    EDIPoId
GO
