USE [MID_DEV_APP]
GO
/****** Object:  StoredProcedure [dbo].[EDSetup_S4Future11]    Script Date: 12/21/2015 14:17:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
Create Proc [dbo].[EDSetup_S4Future11] As
Select S4Future11 From EDSetup
GO
