USE [DEN_TEST_APP]
GO
/****** Object:  Table [dbo].[PRTran]    Script Date: 12/21/2015 14:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRTran](
	[Acct] [char](10) NOT NULL,
	[AcctDist] [smallint] NOT NULL,
	[APBatch] [char](10) NOT NULL,
	[APLineId] [int] NOT NULL,
	[APRefNbr] [char](10) NOT NULL,
	[ArrgAmt] [float] NOT NULL,
	[BatNbr] [char](10) NOT NULL,
	[BenClassId] [char](10) NOT NULL,
	[BenId] [char](10) NOT NULL,
	[Billable] [char](1) NOT NULL,
	[CalQtr] [smallint] NOT NULL,
	[CalYr] [char](4) NOT NULL,
	[CertPR] [char](1) NOT NULL,
	[ChkAcct] [char](10) NOT NULL,
	[ChkSeq] [char](2) NOT NULL,
	[ChkSub] [char](24) NOT NULL,
	[CostType] [char](8) NOT NULL,
	[CpnyID] [char](10) NOT NULL,
	[Crtd_DateTime] [smalldatetime] NOT NULL,
	[Crtd_Prog] [char](8) NOT NULL,
	[Crtd_User] [char](10) NOT NULL,
	[DailyOpt] [char](1) NOT NULL,
	[Dist] [char](1) NOT NULL,
	[DrCr] [char](1) NOT NULL,
	[EarnDedId] [char](10) NOT NULL,
	[EmpId] [char](10) NOT NULL,
	[Excpt] [smallint] NOT NULL,
	[ExtRefNbr] [char](15) NOT NULL,
	[Group_Cd] [char](16) NOT NULL,
	[HomeUnion] [char](10) NOT NULL,
	[JobRate] [float] NOT NULL,
	[JrnlType] [char](3) NOT NULL,
	[Labor_Class_Cd] [char](4) NOT NULL,
	[LineId] [int] NOT NULL,
	[LineNbr] [smallint] NOT NULL,
	[LUpd_DateTime] [smalldatetime] NOT NULL,
	[LUpd_Prog] [char](8) NOT NULL,
	[LUpd_User] [char](10) NOT NULL,
	[NoteId] [int] NOT NULL,
	[Paid] [smallint] NOT NULL,
	[PayPerNbr] [smallint] NOT NULL,
	[PC_Status] [char](1) NOT NULL,
	[PerEnt] [char](6) NOT NULL,
	[PerPost] [char](6) NOT NULL,
	[ProjectID] [char](16) NOT NULL,
	[PW_cd] [char](4) NOT NULL,
	[Qty] [float] NOT NULL,
	[RateBaseFlg] [char](1) NOT NULL,
	[RateMult] [float] NOT NULL,
	[RefNbr] [char](10) NOT NULL,
	[Rlsed] [smallint] NOT NULL,
	[RptEarnSubjDed] [float] NOT NULL,
	[S4Future01] [char](30) NOT NULL,
	[S4Future02] [char](30) NOT NULL,
	[S4Future03] [float] NOT NULL,
	[S4Future04] [float] NOT NULL,
	[S4Future05] [float] NOT NULL,
	[S4Future06] [float] NOT NULL,
	[S4Future07] [smalldatetime] NOT NULL,
	[S4Future08] [smalldatetime] NOT NULL,
	[S4Future09] [int] NOT NULL,
	[S4Future10] [int] NOT NULL,
	[S4Future11] [char](10) NOT NULL,
	[S4Future12] [char](10) NOT NULL,
	[ScreenNbr] [char](10) NOT NULL,
	[Shift] [char](7) NOT NULL,
	[SS_BillableHours] [float] NOT NULL,
	[SS_ContractID] [char](10) NOT NULL,
	[SS_EquipmentID] [char](10) NOT NULL,
	[SS_ExtPrice] [float] NOT NULL,
	[SS_InvtLocId] [char](10) NOT NULL,
	[SS_LineTypes] [char](1) NOT NULL,
	[SS_LineItemID] [char](30) NOT NULL,
	[SS_PostFlag] [char](1) NOT NULL,
	[SS_ServiceCallID] [char](10) NOT NULL,
	[SS_UnitPrice] [float] NOT NULL,
	[StdUnitRate] [float] NOT NULL,
	[Sub] [char](24) NOT NULL,
	[TaskID] [char](32) NOT NULL,
	[TimeShtFlg] [smallint] NOT NULL,
	[TimeShtNbr] [char](10) NOT NULL,
	[TranAmt] [float] NOT NULL,
	[TranDate] [smalldatetime] NOT NULL,
	[TranDesc] [char](30) NOT NULL,
	[TranType] [char](2) NOT NULL,
	[Type_] [char](2) NOT NULL,
	[Union_Cd] [char](10) NOT NULL,
	[UnitDesc] [char](6) NOT NULL,
	[UnitPrice] [float] NOT NULL,
	[UnitsDay1] [float] NOT NULL,
	[UnitsDay2] [float] NOT NULL,
	[UnitsDay3] [float] NOT NULL,
	[UnitsDay4] [float] NOT NULL,
	[UnitsDay5] [float] NOT NULL,
	[UnitsDay6] [float] NOT NULL,
	[UnitsDay7] [float] NOT NULL,
	[User1] [char](30) NOT NULL,
	[User2] [char](30) NOT NULL,
	[User3] [float] NOT NULL,
	[User4] [float] NOT NULL,
	[User5] [char](10) NOT NULL,
	[User6] [char](10) NOT NULL,
	[User7] [smalldatetime] NOT NULL,
	[User8] [smalldatetime] NOT NULL,
	[WCtoGL] [smallint] NOT NULL,
	[WorkComp] [char](6) NOT NULL,
	[WorkOrder] [char](16) NOT NULL,
	[WorkType] [char](2) NOT NULL,
	[WrkLocId] [char](6) NOT NULL,
	[tstamp] [timestamp] NOT NULL,
 CONSTRAINT [PRTran0] PRIMARY KEY CLUSTERED 
(
	[BatNbr] ASC,
	[ChkAcct] ASC,
	[ChkSub] ASC,
	[RefNbr] ASC,
	[TranType] ASC,
	[LineNbr] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
