USE [DEN_TEST_APP]
GO
/****** Object:  Table [dbo].[smEmp]    Script Date: 12/21/2015 14:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[smEmp](
	[Cetrtified] [char](1) NOT NULL,
	[CommLaborPct] [float] NOT NULL,
	[CommMaterialPct] [float] NOT NULL,
	[CpnyID] [char](10) NOT NULL,
	[Crtd_DateTime] [smalldatetime] NOT NULL,
	[Crtd_Prog] [char](8) NOT NULL,
	[Crtd_User] [char](10) NOT NULL,
	[EarnType] [char](10) NOT NULL,
	[EM_ID01] [char](30) NOT NULL,
	[EM_ID02] [char](30) NOT NULL,
	[EM_ID03] [char](20) NOT NULL,
	[EM_ID04] [char](20) NOT NULL,
	[EM_ID05] [char](10) NOT NULL,
	[EM_ID06] [char](10) NOT NULL,
	[EM_ID07] [char](4) NOT NULL,
	[EM_ID08] [float] NOT NULL,
	[EM_ID09] [smalldatetime] NOT NULL,
	[EM_ID10] [smallint] NOT NULL,
	[EM_ID11] [char](30) NOT NULL,
	[EM_ID12] [char](30) NOT NULL,
	[EM_ID13] [char](20) NOT NULL,
	[EM_ID14] [char](20) NOT NULL,
	[EM_ID15] [char](10) NOT NULL,
	[EM_ID16] [char](10) NOT NULL,
	[EM_ID17] [char](4) NOT NULL,
	[EM_ID18] [float] NOT NULL,
	[EM_ID19] [smalldatetime] NOT NULL,
	[EM_ID20] [smallint] NOT NULL,
	[EmailAddr] [char](80) NOT NULL,
	[EmployeeActive] [smallint] NOT NULL,
	[employeeaddress1] [char](60) NOT NULL,
	[employeeaddress2] [char](60) NOT NULL,
	[employeeBdate] [smalldatetime] NOT NULL,
	[EmployeeBranchID] [char](10) NOT NULL,
	[EmployeeCellPhone] [char](16) NOT NULL,
	[EmployeeCity] [char](30) NOT NULL,
	[EmployeeCommPlan] [char](10) NOT NULL,
	[EmployeeDept] [char](10) NOT NULL,
	[EmployeeDLClass] [char](16) NOT NULL,
	[employeeDLExpDate] [smalldatetime] NOT NULL,
	[EmployeeDLNo] [char](16) NOT NULL,
	[EmployeeDLState] [char](3) NOT NULL,
	[EmployeeExemption] [smallint] NOT NULL,
	[EmployeeFaxNo] [char](16) NOT NULL,
	[EmployeeFirstName] [char](60) NOT NULL,
	[EmployeeHiredate] [smalldatetime] NOT NULL,
	[EmployeeHomePhone] [char](16) NOT NULL,
	[EmployeeId] [char](10) NOT NULL,
	[EmployeeLastName] [char](60) NOT NULL,
	[EmployeeMarital] [char](1) NOT NULL,
	[EmployeeMiddleInit] [char](2) NOT NULL,
	[EmployeeOffPhoneExt] [char](4) NOT NULL,
	[EmployeePagerNo] [char](16) NOT NULL,
	[EmployeePayRollId] [char](10) NOT NULL,
	[EmployeePayType] [char](1) NOT NULL,
	[EmployeeQuota] [float] NOT NULL,
	[EmployeeRaiseDate] [smalldatetime] NOT NULL,
	[EmployeeRate] [float] NOT NULL,
	[EmployeeSex] [char](1) NOT NULL,
	[EmployeeSSNo] [char](12) NOT NULL,
	[EmployeeState] [char](3) NOT NULL,
	[EmployeeTermDate] [smalldatetime] NOT NULL,
	[EmployeeType] [char](10) NOT NULL,
	[EmployeeVehicleId] [char](10) NOT NULL,
	[EmployeeWorkerDept] [char](10) NOT NULL,
	[EmployeeZip] [char](10) NOT NULL,
	[InvtSiteID] [char](10) NOT NULL,
	[LaborClass] [char](4) NOT NULL,
	[Lupd_DateTime] [smalldatetime] NOT NULL,
	[Lupd_Prog] [char](8) NOT NULL,
	[Lupd_User] [char](10) NOT NULL,
	[NoteID] [int] NOT NULL,
	[OvhdFringe] [float] NOT NULL,
	[OvhdFringeType] [char](1) NOT NULL,
	[OvhdInsur] [float] NOT NULL,
	[OvhdInsurType] [char](1) NOT NULL,
	[OvhdOther] [float] NOT NULL,
	[OvhdOtherType] [char](1) NOT NULL,
	[OvhdTaxes] [float] NOT NULL,
	[OvhdTaxesType] [char](1) NOT NULL,
	[ShiftCode] [char](7) NOT NULL,
	[Supervisor] [char](10) NOT NULL,
	[TemplateID] [char](10) NOT NULL,
	[TimeZone] [char](10) NOT NULL,
	[UnionCode] [char](10) NOT NULL,
	[User1] [char](30) NOT NULL,
	[User2] [char](30) NOT NULL,
	[User3] [float] NOT NULL,
	[User4] [float] NOT NULL,
	[User5] [char](10) NOT NULL,
	[User6] [char](10) NOT NULL,
	[User7] [smalldatetime] NOT NULL,
	[User8] [smalldatetime] NOT NULL,
	[WageCode] [char](4) NOT NULL,
	[WageGroup] [char](2) NOT NULL,
	[WorkersComp] [char](6) NOT NULL,
	[WorkLoc] [char](6) NOT NULL,
	[WorkType] [char](2) NOT NULL,
	[tstamp] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
