USE [DEN_TEST_APP]
GO
/****** Object:  Table [dbo].[smServCall]    Script Date: 12/21/2015 14:10:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[smServCall](
	[AdjustLabor] [float] NOT NULL,
	[AdjustTM] [float] NOT NULL,
	[AltCustID] [char](15) NOT NULL,
	[AmountFRTM] [float] NOT NULL,
	[AmountLabor] [float] NOT NULL,
	[ASID] [int] NOT NULL,
	[AssignEmpID] [char](10) NOT NULL,
	[BillDay] [char](2) NOT NULL,
	[BillDayofMonth] [char](2) NOT NULL,
	[BillFrequency] [char](1) NOT NULL,
	[BillingType] [char](1) NOT NULL,
	[BranchID] [char](10) NOT NULL,
	[CallerName] [char](60) NOT NULL,
	[CallStatus] [char](10) NOT NULL,
	[CallType] [char](10) NOT NULL,
	[chkbChargeCustomer] [smallint] NOT NULL,
	[chkbChargeJobProject] [smallint] NOT NULL,
	[chkbChargeSvcContrct] [smallint] NOT NULL,
	[chkbNonChargeable] [smallint] NOT NULL,
	[chkbValidateDetail] [smallint] NOT NULL,
	[cmbCODInvoice] [char](1) NOT NULL,
	[cmbInvoiceType] [char](1) NOT NULL,
	[Comments] [char](60) NOT NULL,
	[CompleteDate] [smalldatetime] NOT NULL,
	[CompletedNotReview] [char](1) NOT NULL,
	[CompleteTime] [char](4) NOT NULL,
	[CompleteUserID] [char](47) NOT NULL,
	[ContractID] [char](10) NOT NULL,
	[ContractType] [char](10) NOT NULL,
	[ControlAmount] [float] NOT NULL,
	[CostFRTM] [float] NOT NULL,
	[CostLabor] [float] NOT NULL,
	[CouponID] [char](10) NOT NULL,
	[CpnyID] [char](10) NOT NULL,
	[CreditCardExpDate] [smalldatetime] NOT NULL,
	[Crtd_DateTime] [smalldatetime] NOT NULL,
	[Crtd_Prog] [char](8) NOT NULL,
	[Crtd_User] [char](10) NOT NULL,
	[CustAvgRevenue] [float] NOT NULL,
	[CustCity] [char](30) NOT NULL,
	[CustDwelling] [char](10) NOT NULL,
	[CustGeographicID] [char](10) NOT NULL,
	[CustMapCoord] [char](10) NOT NULL,
	[CustMapPage] [char](10) NOT NULL,
	[CustName] [char](60) NOT NULL,
	[CustomerId] [char](15) NOT NULL,
	[CustomerPO] [char](20) NOT NULL,
	[CustomerSatisfied] [smallint] NOT NULL,
	[CustPhone] [char](15) NOT NULL,
	[CustPromiseTimeMi] [char](4) NOT NULL,
	[DiscAmount] [float] NOT NULL,
	[DiscPercent] [float] NOT NULL,
	[Duration] [char](4) NOT NULL,
	[EndDate] [smalldatetime] NOT NULL,
	[EndTime] [char](4) NOT NULL,
	[ExtBatNbr] [char](10) NOT NULL,
	[ExtRefDate] [smalldatetime] NOT NULL,
	[ExtRefnbr] [char](10) NOT NULL,
	[ExtRefTime] [char](4) NOT NULL,
	[HrsBilled] [float] NOT NULL,
	[HrsWorked] [float] NOT NULL,
	[InvoiceAmount] [float] NOT NULL,
	[InvoiceFlag] [smallint] NOT NULL,
	[InvoiceHandling] [char](1) NOT NULL,
	[InvoiceNumber] [char](10) NOT NULL,
	[InvoiceStatus] [char](1) NOT NULL,
	[LastInvoiceDate] [smalldatetime] NOT NULL,
	[Latitude] [char](10) NOT NULL,
	[LineCntr] [smallint] NOT NULL,
	[Longitude] [char](10) NOT NULL,
	[Lupd_DateTime] [smalldatetime] NOT NULL,
	[Lupd_Prog] [char](8) NOT NULL,
	[Lupd_User] [char](10) NOT NULL,
	[MediaGroupId] [char](10) NOT NULL,
	[NoteID] [int] NOT NULL,
	[OrderDate] [smalldatetime] NOT NULL,
	[OrdNbr] [char](10) NOT NULL,
	[OrigCallID] [char](10) NOT NULL,
	[PaymentMethod] [char](1) NOT NULL,
	[PaymentNumber] [char](20) NOT NULL,
	[PerEnt] [char](6) NOT NULL,
	[PMCode] [char](10) NOT NULL,
	[PMFlag] [char](1) NOT NULL,
	[PostToPeriod] [char](6) NOT NULL,
	[PrimaryFaultCode] [char](10) NOT NULL,
	[ProcessedBy] [char](30) NOT NULL,
	[ProcessedDate] [smalldatetime] NOT NULL,
	[ProjectID] [char](16) NOT NULL,
	[PromiseTimeAMPM] [char](1) NOT NULL,
	[PromiseTimeTOAMPM] [char](1) NOT NULL,
	[PromTimeFrom] [char](4) NOT NULL,
	[PromTimeTo] [char](4) NOT NULL,
	[ReadyToInvoice] [smallint] NOT NULL,
	[RepeatDays] [char](10) NOT NULL,
	[ReviewedBy] [char](30) NOT NULL,
	[ReviewedDate] [smalldatetime] NOT NULL,
	[RI_ID] [smallint] NOT NULL,
	[RouteID] [char](10) NOT NULL,
	[SC_ID01] [char](30) NOT NULL,
	[SC_ID02] [char](30) NOT NULL,
	[SC_ID03] [char](20) NOT NULL,
	[SC_ID04] [char](20) NOT NULL,
	[SC_ID05] [char](10) NOT NULL,
	[SC_ID06] [char](10) NOT NULL,
	[SC_ID07] [char](4) NOT NULL,
	[SC_ID08] [float] NOT NULL,
	[SC_ID09] [smalldatetime] NOT NULL,
	[SC_ID10] [smallint] NOT NULL,
	[SC_ID11] [char](30) NOT NULL,
	[SC_ID12] [char](30) NOT NULL,
	[SC_ID13] [char](20) NOT NULL,
	[SC_ID14] [char](20) NOT NULL,
	[SC_ID15] [char](10) NOT NULL,
	[SC_ID16] [char](10) NOT NULL,
	[SC_ID17] [char](4) NOT NULL,
	[SC_ID18] [float] NOT NULL,
	[SC_ID19] [smalldatetime] NOT NULL,
	[SC_ID20] [smallint] NOT NULL,
	[SecurityEntryCode] [char](30) NOT NULL,
	[ServiceCallCompleted] [smallint] NOT NULL,
	[ServiceCallDate] [smalldatetime] NOT NULL,
	[ServiceCallDateProm] [smalldatetime] NOT NULL,
	[ServiceCallDuration] [char](1) NOT NULL,
	[ServiceCallID] [char](10) NOT NULL,
	[ServiceCallPriority] [char](1) NOT NULL,
	[ServiceCallStatus] [char](1) NOT NULL,
	[ServiceCallTime] [char](4) NOT NULL,
	[ShiptoId] [char](10) NOT NULL,
	[SiteAddr1] [char](60) NOT NULL,
	[SiteAddr2] [char](60) NOT NULL,
	[SiteCity] [char](30) NOT NULL,
	[SiteCountry] [char](3) NOT NULL,
	[SiteFax] [char](30) NOT NULL,
	[SiteName] [char](60) NOT NULL,
	[SitePhone] [char](30) NOT NULL,
	[SiteState] [char](3) NOT NULL,
	[SiteZip] [char](10) NOT NULL,
	[SlsperID] [char](10) NOT NULL,
	[SSNoteID] [int] NOT NULL,
	[StartDate] [smalldatetime] NOT NULL,
	[StartTime] [char](4) NOT NULL,
	[TaxAmt00] [float] NOT NULL,
	[TaxAmt01] [float] NOT NULL,
	[TaxAmt02] [float] NOT NULL,
	[TaxAmt03] [float] NOT NULL,
	[TaxCntr00] [smallint] NOT NULL,
	[TaxCntr01] [smallint] NOT NULL,
	[TaxCntr02] [smallint] NOT NULL,
	[TaxCntr03] [smallint] NOT NULL,
	[TaxFRTM] [float] NOT NULL,
	[TaxId00] [char](10) NOT NULL,
	[TaxId01] [char](10) NOT NULL,
	[TaxId02] [char](10) NOT NULL,
	[TaxId03] [char](10) NOT NULL,
	[TaxLabor] [float] NOT NULL,
	[TaxTot] [float] NOT NULL,
	[TermID] [char](2) NOT NULL,
	[TimeZoneID] [char](10) NOT NULL,
	[TxblAmt00] [float] NOT NULL,
	[TxblAmt01] [float] NOT NULL,
	[TxblAmt02] [float] NOT NULL,
	[TxblAmt03] [float] NOT NULL,
	[User1] [char](30) NOT NULL,
	[User2] [char](30) NOT NULL,
	[User3] [float] NOT NULL,
	[USer4] [float] NOT NULL,
	[User5] [char](10) NOT NULL,
	[User6] [char](10) NOT NULL,
	[User7] [smalldatetime] NOT NULL,
	[User8] [smalldatetime] NOT NULL,
	[User9] [smallint] NOT NULL,
	[UserID] [char](47) NOT NULL,
	[WrkOrdNbr] [char](10) NOT NULL,
	[tstamp] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
