USE [DEN_TEST_APP]
GO
/****** Object:  Table [dbo].[xAxDDDepositor]    Script Date: 12/21/2015 14:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[xAxDDDepositor](
	[APrevTS] [bigint] NOT NULL,
	[ACurrTS] [bigint] NOT NULL,
	[ASolomonUserID] [varchar](47) NOT NULL,
	[ASqlUserID] [varchar](50) NOT NULL,
	[AComputerName] [varchar](50) NOT NULL,
	[ADate] [smalldatetime] NOT NULL,
	[ATime] [varchar](12) NOT NULL,
	[AProcess] [char](1) NOT NULL,
	[AApplication] [varchar](40) NOT NULL,
	[AcctAppLUpd_App] [varchar](10) NULL,
	[AcctAppLUpd_AppDT] [smalldatetime] NULL,
	[AcctAppLUpd_Chg] [varchar](10) NULL,
	[AcctAppLUpd_ChgDT] [smalldatetime] NULL,
	[AcctAppStatus] [varchar](1) NULL,
	[AcctType] [varchar](1) NULL,
	[BankAcct] [varchar](35) NULL,
	[BankAcctOld] [varchar](35) NULL,
	[BankTransit] [varchar](30) NULL,
	[BankTransitOld] [varchar](30) NULL,
	[BE01] [varchar](30) NULL,
	[BE02] [varchar](30) NULL,
	[ConvertCCDP_CCD] [smallint] NULL,
	[Crtd_DateTime] [smalldatetime] NULL,
	[Crtd_Prog] [varchar](8) NULL,
	[Crtd_User] [varchar](10) NULL,
	[EDIVersion] [varchar](6) NULL,
	[EM1Vendor] [varchar](1) NULL,
	[EM1ToCcBc] [varchar](1) NULL,
	[EM2Addr] [varchar](128) NULL,
	[EM2Name] [varchar](128) NULL,
	[EM2ToCcBc] [varchar](1) NULL,
	[EM3Addr] [varchar](128) NULL,
	[EM3Name] [varchar](128) NULL,
	[EM3ToCcBc] [varchar](1) NULL,
	[EM4Addr] [varchar](128) NULL,
	[EM4Name] [varchar](128) NULL,
	[EM4ToCcBc] [varchar](1) NULL,
	[EMAttachFExt] [varchar](10) NULL,
	[EMAttachFF] [varchar](1) NULL,
	[EMAttachFN] [varchar](50) NULL,
	[EMAttachFND] [smallint] NULL,
	[EMAttachFNI] [smallint] NULL,
	[EMAttachFNote] [varchar](100) NULL,
	[EMAttachFRL] [smallint] NULL,
	[EMAttachFromSetup] [smallint] NULL,
	[EMAttachInclBMsg] [smallint] NULL,
	[EMAttachInclTMsg] [smallint] NULL,
	[EMAttachNbrDocs] [smallint] NULL,
	[EMAttachSP] [varchar](50) NULL,
	[EMAttachUse] [smallint] NULL,
	[EMAPTran] [varchar](1) NULL,
	[EMAPTranUseCo] [smallint] NULL,
	[EMNotification] [varchar](1) NULL,
	[EMPriority] [int] NULL,
	[EMPriorityUseCo] [smallint] NULL,
	[EMReplyToAddr] [varchar](128) NULL,
	[EMReplyToName] [varchar](128) NULL,
	[EMReplyToUseCo] [smallint] NULL,
	[EMSubject] [varchar](128) NULL,
	[EMSubjectUseCo] [smallint] NULL,
	[EntryClass] [varchar](4) NULL,
	[EntryClassCanChg] [smallint] NULL,
	[FormatID] [varchar](15) NULL,
	[FromLBImport] [smallint] NULL,
	[LBApplicMethod] [varchar](2) NULL,
	[LBBankAcct] [varchar](30) NULL,
	[LBBankTransit] [varchar](30) NULL,
	[LBImportDate] [smalldatetime] NULL,
	[LUpd_DateTime] [smalldatetime] NULL,
	[LUpd_Prog] [varchar](8) NULL,
	[LUpd_User] [varchar](10) NULL,
	[NoteID] [int] NULL,
	[PNDate] [smalldatetime] NULL,
	[PNStatus] [varchar](1) NULL,
	[PNTaxPmt] [varchar](15) NULL,
	[Record] [varchar](1) NULL,
	[SKFuture01] [varchar](30) NULL,
	[SKFuture02] [varchar](30) NULL,
	[SKFuture03] [float] NULL,
	[SKFuture04] [float] NULL,
	[SKFuture05] [float] NULL,
	[SKFuture06] [float] NULL,
	[SKFuture07] [smalldatetime] NULL,
	[SKFuture08] [smalldatetime] NULL,
	[SKFuture09] [int] NULL,
	[SKFuture10] [int] NULL,
	[SKFuture11] [varchar](10) NULL,
	[SKFuture12] [varchar](10) NULL,
	[Status] [varchar](1) NULL,
	[TermDate] [smalldatetime] NULL,
	[User1] [varchar](30) NULL,
	[User10] [varchar](30) NULL,
	[User2] [varchar](30) NULL,
	[User3] [float] NULL,
	[User4] [float] NULL,
	[User5] [varchar](10) NULL,
	[User6] [varchar](10) NULL,
	[User7] [smalldatetime] NULL,
	[User8] [smalldatetime] NULL,
	[User9] [varchar](30) NULL,
	[VendCust] [varchar](1) NULL,
	[VendID] [varchar](15) NULL,
	[WBankInst1] [varchar](35) NULL,
	[WBankInst2] [varchar](35) NULL,
	[WBankInst3] [varchar](35) NULL,
	[WBankInst4] [varchar](35) NULL,
	[WBankInst5] [varchar](35) NULL,
	[WBankInst6] [varchar](35) NULL,
	[WBenBankAcct] [varchar](35) NULL,
	[WBenBankAcctType] [varchar](1) NULL,
	[WBenBankAddr] [varchar](35) NULL,
	[WBenBankAdvice] [varchar](1) NULL,
	[WBenBankBranch] [varchar](70) NULL,
	[WBenBankCity] [varchar](35) NULL,
	[WBenBankCountry] [varchar](35) NULL,
	[WBenBankID] [varchar](12) NULL,
	[WBenBankIDOld] [varchar](12) NULL,
	[WBenBankInstCode] [varchar](10) NULL,
	[WBenBankInstruction] [varchar](150) NULL,
	[WBenBankISOCntry] [varchar](3) NULL,
	[WBenBankName] [varchar](70) NULL,
	[WBenBankQualifier] [varchar](2) NULL,
	[WBenBankSwift] [varchar](11) NULL,
	[WBenBankSwiftOld] [varchar](11) NULL,
	[WBeneAcct] [varchar](35) NULL,
	[WBeneAcctOld] [varchar](35) NULL,
	[WBeneAcctType] [varchar](1) NULL,
	[WBeneAddr] [varchar](35) NULL,
	[WBeneAddr2] [varchar](35) NULL,
	[WBeneAdvice] [varchar](1) NULL,
	[WBeneCity] [varchar](35) NULL,
	[WBeneCountry] [varchar](35) NULL,
	[WBeneISOCntry] [varchar](3) NULL,
	[WBeneMailHandling] [varchar](2) NULL,
	[WBeneName] [varchar](70) NULL,
	[WBeneRemitDtl1] [varchar](35) NULL,
	[WBeneRemitDtl2] [varchar](35) NULL,
	[WBeneState] [varchar](3) NULL,
	[WBeneUseVendorRemit] [smallint] NULL,
	[WBeneZipPostal] [varchar](11) NULL,
	[WChargesIndic] [varchar](1) NULL,
	[WChkCrossCode] [varchar](1) NULL,
	[WChkForwardCode] [varchar](1) NULL,
	[WCorresCostCode] [smallint] NULL,
	[WCreBankID] [varchar](9) NULL,
	[WCreBankName] [varchar](35) NULL,
	[WCrePartyAcct] [varchar](35) NULL,
	[WCrePartyAcctType] [varchar](1) NULL,
	[WCrePartyAddr] [varchar](35) NULL,
	[WCrePartyAdvice] [varchar](1) NULL,
	[WCrePartyCity] [varchar](35) NULL,
	[WCrePartyCountry] [varchar](35) NULL,
	[WCrePartyISOCntry] [varchar](3) NULL,
	[WCrePartyName] [varchar](35) NULL,
	[WCrePartySwift] [varchar](11) NULL,
	[WCtryQualifier] [varchar](10) NULL,
	[WCtryText] [varchar](35) NULL,
	[WDomCostCode] [smallint] NULL,
	[WIntBankAcct] [varchar](35) NULL,
	[WIntBankAddr] [varchar](35) NULL,
	[WIntBankAddr2] [varchar](35) NULL,
	[WIntBankBranch] [varchar](12) NULL,
	[WIntBankCity] [varchar](35) NULL,
	[WIntBankCountry] [varchar](35) NULL,
	[WIntBankID] [varchar](15) NULL,
	[WIntBankISOCntry] [varchar](3) NULL,
	[WIntBankName] [varchar](35) NULL,
	[WIntBankQualifier] [varchar](3) NULL,
	[WIntBankSwift] [varchar](11) NULL,
	[WPmtCategCode] [varchar](1) NULL,
	[WPmtInstCode1] [varchar](4) NULL,
	[WPmtInstCode2] [varchar](4) NULL,
	[WPmtInstCode3] [varchar](4) NULL,
	[WPmtInstCode4] [varchar](4) NULL,
	[WPmtInstText1] [varchar](35) NULL,
	[WPmtInstText2] [varchar](35) NULL,
	[WPmtInstText3] [varchar](35) NULL,
	[WPmtInstText4] [varchar](35) NULL,
	[WPmtMethodCode] [smallint] NULL,
	[WProcCode] [varchar](1) NULL,
	[tstamp] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[xAxDDDepositor] ADD  CONSTRAINT [DF_xAxDDDepositor_APrevTS]  DEFAULT ((0)) FOR [APrevTS]
GO
ALTER TABLE [dbo].[xAxDDDepositor] ADD  CONSTRAINT [DF_xAxDDDepositor_ACurrTS]  DEFAULT ((0)) FOR [ACurrTS]
GO
ALTER TABLE [dbo].[xAxDDDepositor] ADD  CONSTRAINT [DF_xAxDDDepositor_ASolomonUserID]  DEFAULT (' ') FOR [ASolomonUserID]
GO
ALTER TABLE [dbo].[xAxDDDepositor] ADD  CONSTRAINT [DF_xAxDDDepositor_ASqlUserID]  DEFAULT (CONVERT([varchar](50),ltrim(rtrim(original_login())),(0))) FOR [ASqlUserID]
GO
ALTER TABLE [dbo].[xAxDDDepositor] ADD  CONSTRAINT [DF_xAxDDDepositor_AComputerName]  DEFAULT (CONVERT([varchar](50),ltrim(rtrim(host_name())),0)) FOR [AComputerName]
GO
ALTER TABLE [dbo].[xAxDDDepositor] ADD  CONSTRAINT [DF_xAxDDDepositor_ADate]  DEFAULT (CONVERT([smalldatetime],CONVERT([char](16),getdate(),(121)),0)) FOR [ADate]
GO
ALTER TABLE [dbo].[xAxDDDepositor] ADD  CONSTRAINT [DF_xAxDDDepositor_ATime]  DEFAULT (CONVERT([varchar](12),getdate(),(114))) FOR [ATime]
GO
ALTER TABLE [dbo].[xAxDDDepositor] ADD  CONSTRAINT [DF_xAxDDDepositor_AProcess]  DEFAULT (' ') FOR [AProcess]
GO
ALTER TABLE [dbo].[xAxDDDepositor] ADD  CONSTRAINT [DF_xAxDDDepositor_AApplication]  DEFAULT (CONVERT([varchar](40),ltrim(rtrim(app_name())),0)) FOR [AApplication]
GO
