USE [SHOPPERAPP]
GO
/****** Object:  StoredProcedure [dbo].[ED850SubLineItem_Def]    Script Date: 12/21/2015 16:13:10 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
Create Proc [dbo].[ED850SubLineItem_Def]
As
	Select * From ED850SubLineItem
GO
