USE [SHOPPERAPP]
GO
/****** Object:  StoredProcedure [dbo].[BUSetup_All]    Script Date: 12/21/2015 16:13:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/****** Object:  Stored Procedure dbo.BUSetup_All    Script Date: 11/4/99 12:38:58 PM ******/
CREATE PROCEDURE [dbo].[BUSetup_All]
@Parm1 varchar ( 10) AS
SELECT * FROM BUSetup WHERE CpnyID Like @Parm1
ORDER BY CpnyID
GO
