USE [SHOPPERAPP]
GO
/****** Object:  StoredProcedure [dbo].[CashSumD_ReconDate]    Script Date: 12/21/2015 16:13:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/****** Object:  Stored Procedure dbo.CashSumD_ReconDate    Script Date: 4/7/98 12:49:20 PM ******/
Create Proc [dbo].[CashSumD_ReconDate] @parm1 varchar ( 10), @parm2 varchar ( 10), @parm3 varchar ( 24), @parm4 smalldatetime, @parm5 smalldatetime as
Select * from CashSumD
where cpnyid like @parm1
and bankacct like @parm2
and banksub like @parm3
and (trandate > @parm4 and trandate <= @parm5)
Order by cpnyid, BankAcct, Banksub, trandate
GO
