USE [SHOPPERAPP]
GO
/****** Object:  StoredProcedure [dbo].[IRRequire_MoveCanc]    Script Date: 12/21/2015 16:13:15 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE Procedure [dbo].[IRRequire_MoveCanc] @InvtId VarChar(30), @SiteID VarChar(10) , @ExcludeDate SmallDateTime AS
	Select * from IRRequirement where InvtId = @InvtId and SiteID Like @SiteID and DueDatePlan = @ExcludeDate  and Revised = 0 order by DueDate,DueDatePlan,DocumentId
GO
