USE [SHOPPERAPP]
GO
/****** Object:  StoredProcedure [dbo].[BCUpload_all]    Script Date: 12/21/2015 16:13:03 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[BCUpload_all]
AS
	SELECT *
	FROM BCUpload

-- Copyright 1998 by Advanced Distribution Group, Ltd. All rights reserved.
GO
