USE [SHOPPERAPP]
GO
/****** Object:  StoredProcedure [dbo].[PJSUBDET_spk0]    Script Date: 12/21/2015 16:13:20 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
create procedure [dbo].[PJSUBDET_spk0]  @parm1 varchar (16) , @parm2 varchar (16) , @parm3 varchar (4)   as
select * from PJSUBDET
where
PJSUBDET.project       =    @parm1 and
PJSUBDET.subcontract   =    @parm2 and
PJSUBDET.sub_line_item =    @parm3
order by PJSUBDET.project, PJSUBDET.subcontract, PJSUBDET.sub_line_item
GO
