USE [NEWYORKAPP]
GO
/****** Object:  View [dbo].[vs_mbfprovideritem_l]    Script Date: 12/21/2015 16:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[vs_mbfprovideritem_l] AS SELECT * FROM DENVERSYS..mbfprovideritem_l
GO
