USE [DALLASAPP]
GO
/****** Object:  Table [dbo].[smFlatSubCategory]    Script Date: 12/21/2015 13:44:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[smFlatSubCategory](
	[Crdt_DateTime] [smalldatetime] NOT NULL,
	[Crdt_User] [char](10) NOT NULL,
	[Crtd_Prog] [char](8) NOT NULL,
	[FlatSubCategoryCatID] [char](10) NOT NULL,
	[FlatSubCategoryDesc] [char](30) NOT NULL,
	[FlatSubCategoryId] [char](10) NOT NULL,
	[Lupd_DateTime] [smalldatetime] NOT NULL,
	[Lupd_Prog] [char](8) NOT NULL,
	[Lupd_User] [char](10) NOT NULL,
	[User1] [char](30) NOT NULL,
	[User2] [char](30) NOT NULL,
	[User3] [float] NOT NULL,
	[User4] [float] NOT NULL,
	[User5] [char](10) NOT NULL,
	[User6] [char](10) NOT NULL,
	[User7] [smalldatetime] NOT NULL,
	[User8] [smalldatetime] NOT NULL,
	[tstamp] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
