USE [DALLASAPP]
GO
/****** Object:  Table [dbo].[smProServSetup]    Script Date: 12/21/2015 13:44:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[smProServSetup](
	[AutoBranchPrefix] [smallint] NOT NULL,
	[AutoContract] [smallint] NOT NULL,
	[AutoContractCalc] [smallint] NOT NULL,
	[AutoCust] [smallint] NOT NULL,
	[AutoEquipment] [smallint] NOT NULL,
	[AutoRef] [smallint] NOT NULL,
	[chkboxOdoReading] [smallint] NOT NULL,
	[ColorPHigh] [char](15) NOT NULL,
	[ColorPLow] [char](15) NOT NULL,
	[ColorPMedium] [char](15) NOT NULL,
	[ColorPPremium] [char](15) NOT NULL,
	[ColorTEarlierToday] [char](15) NOT NULL,
	[ColorTFutureDate] [char](15) NOT NULL,
	[ColorTLaterToday] [char](15) NOT NULL,
	[ColorTPastDate] [char](15) NOT NULL,
	[ColorTWithinMinutes] [char](15) NOT NULL,
	[comboPONumber] [char](1) NOT NULL,
	[ContractMonths] [smallint] NOT NULL,
	[Crtd_DateTime] [smalldatetime] NOT NULL,
	[Crtd_Prog] [char](8) NOT NULL,
	[Crtd_User] [char](10) NOT NULL,
	[EquipmentMonths] [smallint] NOT NULL,
	[FlatRateOption] [char](1) NOT NULL,
	[Future1Int] [smallint] NOT NULL,
	[Future2Int] [smallint] NOT NULL,
	[Future3Str] [char](10) NOT NULL,
	[Future4Str] [char](10) NOT NULL,
	[Future5Str] [char](10) NOT NULL,
	[Future6Str] [char](10) NOT NULL,
	[Future7Str] [char](10) NOT NULL,
	[Future8Int] [smallint] NOT NULL,
	[Future9str] [char](10) NOT NULL,
	[HoursOprFrom] [char](4) NOT NULL,
	[HoursOprFromAMPM] [char](1) NOT NULL,
	[HoursOprFromMi] [char](4) NOT NULL,
	[HoursOprTo] [char](4) NOT NULL,
	[HoursOprToAMPM] [char](1) NOT NULL,
	[HoursOprToMi] [char](4) NOT NULL,
	[InclNBLabor] [smallint] NOT NULL,
	[InclNBTM] [smallint] NOT NULL,
	[Invoicing] [smallint] NOT NULL,
	[LabPricing] [char](1) NOT NULL,
	[LastContractNbr] [char](10) NOT NULL,
	[LastCustId] [char](15) NOT NULL,
	[LastEquipmentNbr] [char](10) NOT NULL,
	[LastInvBatNbr] [char](10) NOT NULL,
	[LastOrdNbr] [char](10) NOT NULL,
	[LastRevCalDate] [smalldatetime] NOT NULL,
	[LastServiceCall] [char](10) NOT NULL,
	[Lupd_DateTime] [smalldatetime] NOT NULL,
	[Lupd_Prog] [char](8) NOT NULL,
	[Lupd_User] [char](10) NOT NULL,
	[MatPricing] [char](1) NOT NULL,
	[Mobile] [smallint] NOT NULL,
	[OpnCallsAlrt] [smallint] NOT NULL,
	[PagerPath] [char](255) NOT NULL,
	[PayrollInterface] [char](1) NOT NULL,
	[POReceipts] [smallint] NOT NULL,
	[RentalMonths] [smallint] NOT NULL,
	[RevenueCalOption] [char](1) NOT NULL,
	[SD_ID01] [char](30) NOT NULL,
	[SD_ID02] [char](30) NOT NULL,
	[SD_ID03] [char](20) NOT NULL,
	[SD_ID04] [char](20) NOT NULL,
	[SD_ID05] [char](10) NOT NULL,
	[SD_ID06] [char](10) NOT NULL,
	[SD_ID07] [char](4) NOT NULL,
	[SD_ID08] [float] NOT NULL,
	[SD_ID09] [smalldatetime] NOT NULL,
	[SD_ID10] [smallint] NOT NULL,
	[SD_ID11] [char](30) NOT NULL,
	[SD_ID12] [char](30) NOT NULL,
	[SD_ID13] [char](20) NOT NULL,
	[SD_ID14] [char](20) NOT NULL,
	[SD_ID15] [char](10) NOT NULL,
	[SD_ID16] [char](10) NOT NULL,
	[SD_ID17] [char](4) NOT NULL,
	[SD_ID18] [float] NOT NULL,
	[SD_ID19] [smalldatetime] NOT NULL,
	[SD_ID20] [smallint] NOT NULL,
	[ServCallMonths] [smallint] NOT NULL,
	[ServiceCallLeadTime] [char](4) NOT NULL,
	[ServiceCallRangeTime] [char](4) NOT NULL,
	[SetupID] [char](10) NOT NULL,
	[SplitCommEqual100] [smallint] NOT NULL,
	[user1] [char](30) NOT NULL,
	[user2] [char](30) NOT NULL,
	[user3] [float] NOT NULL,
	[user4] [float] NOT NULL,
	[User5] [char](10) NOT NULL,
	[User6] [char](10) NOT NULL,
	[User7] [smalldatetime] NOT NULL,
	[User8] [smalldatetime] NOT NULL,
	[VersionNbr] [char](20) NOT NULL,
	[tstamp] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
