USE [DALLASAPP]
GO
/****** Object:  Table [dbo].[HRAPPROVERList]    Script Date: 12/21/2015 13:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRAPPROVERList](
	[F1] [nvarchar](255) NULL,
	[F2] [nvarchar](255) NULL,
	[F7] [nvarchar](255) NULL,
	[F8] [nvarchar](255) NULL
) ON [PRIMARY]
GO
