USE [DALLASAPP]
GO
/****** Object:  Table [dbo].[TempCloseInfo]    Script Date: 12/21/2015 13:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TempCloseInfo](
	[CalQtr00] [smallint] NOT NULL,
	[CalQtr01] [smallint] NOT NULL,
	[CalQtr02] [smallint] NOT NULL,
	[CalQtr03] [smallint] NOT NULL,
	[CalQtr04] [smallint] NOT NULL,
	[CalQtr05] [smallint] NOT NULL,
	[CalQtr06] [smallint] NOT NULL,
	[CalQtr07] [smallint] NOT NULL,
	[CalQtr08] [smallint] NOT NULL,
	[CalYr00] [char](4) NOT NULL,
	[CalYr01] [char](4) NOT NULL,
	[CalYr02] [char](4) NOT NULL,
	[CalYr03] [char](4) NOT NULL,
	[CalYr04] [char](4) NOT NULL,
	[CalYr05] [char](4) NOT NULL,
	[CalYr06] [char](4) NOT NULL,
	[CalYr07] [char](4) NOT NULL,
	[CalYr08] [char](4) NOT NULL,
	[CloseType00] [char](1) NOT NULL,
	[CloseType01] [char](1) NOT NULL,
	[CloseType02] [char](1) NOT NULL,
	[CloseType03] [char](1) NOT NULL,
	[CloseType04] [char](1) NOT NULL,
	[CloseType05] [char](1) NOT NULL,
	[CloseType06] [char](1) NOT NULL,
	[CloseType07] [char](1) NOT NULL,
	[CloseType08] [char](1) NOT NULL,
	[Crtd_DateTime] [smalldatetime] NOT NULL,
	[Crtd_Prog] [char](8) NOT NULL,
	[Crtd_User] [char](10) NOT NULL,
	[CurrFiscPer00] [char](2) NOT NULL,
	[CurrFiscPer01] [char](2) NOT NULL,
	[CurrFiscPer02] [char](2) NOT NULL,
	[CurrFiscPer03] [char](2) NOT NULL,
	[CurrFiscPer04] [char](2) NOT NULL,
	[CurrFiscPer05] [char](2) NOT NULL,
	[CurrFiscPer06] [char](2) NOT NULL,
	[CurrFiscPer07] [char](2) NOT NULL,
	[CurrFiscPer08] [char](2) NOT NULL,
	[DeleteDetail00] [smallint] NOT NULL,
	[DeleteDetail01] [smallint] NOT NULL,
	[DeleteDetail02] [smallint] NOT NULL,
	[DeleteDetail03] [smallint] NOT NULL,
	[DeleteDetail04] [smallint] NOT NULL,
	[DeleteDetail05] [smallint] NOT NULL,
	[DeleteDetail06] [smallint] NOT NULL,
	[DeleteDetail07] [smallint] NOT NULL,
	[DeleteDetail08] [smallint] NOT NULL,
	[Init00] [smallint] NOT NULL,
	[Init01] [smallint] NOT NULL,
	[Init02] [smallint] NOT NULL,
	[Init03] [smallint] NOT NULL,
	[Init04] [smallint] NOT NULL,
	[Init05] [smallint] NOT NULL,
	[Init06] [smallint] NOT NULL,
	[Init07] [smallint] NOT NULL,
	[Init08] [smallint] NOT NULL,
	[LUpd_DateTime] [smalldatetime] NOT NULL,
	[LUpd_Prog] [char](8) NOT NULL,
	[LUpd_User] [char](10) NOT NULL,
	[Module00] [char](2) NOT NULL,
	[Module01] [char](2) NOT NULL,
	[Module02] [char](2) NOT NULL,
	[Module03] [char](2) NOT NULL,
	[Module04] [char](2) NOT NULL,
	[Module05] [char](2) NOT NULL,
	[Module06] [char](2) NOT NULL,
	[Module07] [char](2) NOT NULL,
	[Module08] [char](2) NOT NULL,
	[PerNbr00] [char](6) NOT NULL,
	[PerNbr01] [char](6) NOT NULL,
	[PerNbr02] [char](6) NOT NULL,
	[PerNbr03] [char](6) NOT NULL,
	[PerNbr04] [char](6) NOT NULL,
	[PerNbr05] [char](6) NOT NULL,
	[PerNbr06] [char](6) NOT NULL,
	[PerNbr07] [char](6) NOT NULL,
	[PerNbr08] [char](6) NOT NULL,
	[S4Future01] [char](30) NOT NULL,
	[S4Future02] [char](30) NOT NULL,
	[S4Future03] [float] NOT NULL,
	[S4Future04] [float] NOT NULL,
	[S4Future05] [float] NOT NULL,
	[S4Future06] [float] NOT NULL,
	[S4Future07] [smalldatetime] NOT NULL,
	[S4Future08] [smalldatetime] NOT NULL,
	[S4Future09] [int] NOT NULL,
	[S4Future10] [int] NOT NULL,
	[S4Future11] [char](10) NOT NULL,
	[S4Future12] [char](10) NOT NULL,
	[User1] [char](30) NOT NULL,
	[User2] [char](30) NOT NULL,
	[User3] [float] NOT NULL,
	[User4] [float] NOT NULL,
	[User5] [char](10) NOT NULL,
	[User6] [char](10) NOT NULL,
	[User7] [smalldatetime] NOT NULL,
	[User8] [smalldatetime] NOT NULL,
	[tstamp] [timestamp] NOT NULL,
 CONSTRAINT [TempCloseInfo0] PRIMARY KEY CLUSTERED 
(
	[Module00] ASC,
	[PerNbr00] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
