USE [SHOPPER_DEV_APP]
GO
/****** Object:  StoredProcedure [dbo].[SCM_1004_SpecCostCheck]    Script Date: 12/16/2015 15:55:32 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[SCM_1004_SpecCostCheck]
	@site_id 		char(10),
	@invt_id 		char(30),
	@spec_cost_id	char (25)
AS
	SELECT	TOP 1 Qty
	FROM	ItemCost (NOLOCK)
	WHERE	InvtId = @invt_id
	AND	SiteID = @site_id
	AND	LayerType = 'S'
	AND	SpecificCostID = @spec_cost_id
	ORDER BY InvtID, SiteID, LayerType, SpecificCostID, RcptNbr, RcptDate
GO
