USE [SHOPPER_DEV_APP]
GO
/****** Object:  StoredProcedure [dbo].[ADG_SO40600Bin_wrk]    Script Date: 12/21/2015 14:34:06 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
create proc [dbo].[ADG_SO40600Bin_wrk]
	@ri_id		smallint

as

	Declare @CpnyID			varchar(10)
	Declare @ShipperID		varchar(15)
	Declare @LineRef		varchar(5)
	Declare @WhseLoc		varchar(10)
	Declare @Cntr			smallint
	Declare @LotSerTrack		varchar(2)
	Declare @LotSerNbr		varchar(25)
	Declare @QtyShip		float
	Declare @RecCntr		int
	Declare @LotSerCntr		int
	Declare @SQLStr1		varchar(255)
	Declare @SQLStr2		varchar(255)

	-- Delete all records with the current ri_id out of SOPrintQueue.
	delete from SO40600_Wrk where ri_id = @ri_id

	-- Insert the initial records into the SO40600 work table for update.
	insert	into SO40600_Wrk
		( CpnyID, ShipperID, LineRef, WhseLoc, RI_ID, Cntr,
		LotSerNbr00, LotSerNbr01, LotSerNbr02, LotSerNbr03,
		LotSerNbr04,
		S4Future01, S4Future02, S4Future03, S4Future04, S4Future05,
		S4Future06, S4Future07, S4Future08, S4Future09, S4Future10,
		S4Future11, S4Future12,
		Qty00, Qty01, Qty02, Qty03, Qty04 )
	select 	distinct S.CpnyID, S.ShipperID, S.LineRef, S.WhseLoc, @ri_id, 1,
		'', '', '', '',
		'',
		'', '', 0, 0, 0,
		0, '', '', 0, 0,
		'', '',
		0, 0, 0, 0, 0
	from	SOShipLot S
	join	SOPrintQueue P on S.ShipperID = P.ShipperID and S.CpnyID = P.CpnyID
	where	S.LotSerNbr <> ''
	and	P.RI_ID = @ri_id

	-- Open a cursor to scroll through the work table for updating
	-- the serial number values.
	Declare SO40600_wrk_cursor Insensitive Cursor For
		select 	RI_ID, CpnyID, ShipperID, LineRef, WhseLoc, Cntr
		from 	SO40600_wrk
		where	RI_ID = @ri_id
		Open SO40600_wrk_cursor
	fetch next from SO40600_wrk_cursor into @RI_ID, @CpnyID, @ShipperID, @LineRef, @WhseLoc, @Cntr

	while (@@fetch_status = 0)
	begin

		Declare SOShipLot_cursor Cursor For
			select 	LotSerNbr, Sum(QtyShip)
			from	SOShipLot
			where 	CpnyID = @CpnyID
			  and	ShipperID = @ShipperID
			  and 	LineRef = @LineRef
			  and	WhseLoc = @WhseLoc
			group by LotSerNbr

		Open SOShipLot_cursor
		fetch next from SOShipLot_cursor into @LotSerNbr, @QtyShip

		select @LotSerCntr = 0
		select @RecCntr = @Cntr

		while (@@fetch_status = 0)
		begin
			If @LotSerCntr <= 3
			begin
				select @SQLStr1 = 'update SO40600_Wrk set LotSerNbr0' + convert(varchar(1), @LotSerCntr) +
						 ' = ''' + Ltrim(Rtrim(@LotSerNbr)) + ''', Qty0' + convert(varchar(1), @LotSerCntr) +
						 ' = ' + convert(varchar(10), @QtyShip) +
						 ' where RI_ID = ' + convert(varchar(6), @RI_ID)
				select @SQLStr2 = ' and CpnyID = ''' + Rtrim(@CpnyID) +
						 ''' and ShipperID = ''' + Rtrim(@ShipperID) +
						 ''' and LineRef = ''' + Rtrim(@LineRef) +
						 ''' and WhseLoc = ''' + Rtrim(@WhseLoc) +
						 ''' and Cntr = ' + convert(varchar(6), @RecCntr)
				exec (@SQLStr1 + @SQLStr2)

				select @LotSerCntr = @LotSerCntr + 1
			end
			else
			begin
				select @RecCntr = @RecCntr + 1
				select @LotSerCntr = 1

				insert	into SO40600_Wrk
					( CpnyID, ShipperID, LineRef, WhseLoc, RI_ID, Cntr,
					LotSerNbr00, LotSerNbr01, LotSerNbr02, LotSerNbr03,
					LotSerNbr04,
					S4Future01, S4Future02, S4Future03, S4Future04, S4Future05,
					S4Future06, S4Future07, S4Future08, S4Future09, S4Future10,
					S4Future11, S4Future12,
					Qty00, Qty01, Qty02, Qty03, Qty04 )
				values 	(@CpnyID, @ShipperID, @LineRef, @WhseLoc, @ri_id, @RecCntr,
					@LotSerNbr, '', '', '',
					'',
					'', '', 0, 0, 0,
					0, '', '', 0, 0,
					'', '',
					@QtyShip, 0, 0, 0, 0)

			end

			fetch next from SOShipLot_cursor into @LotSerNbr, @QtyShip
		end

		close SOShipLot_cursor
		deallocate SOShipLot_cursor

		fetch next from SO40600_wrk_cursor into @RI_ID, @CpnyID, @ShipperID, @LineRef, @WhseLoc, @Cntr
	end

	close SO40600_wrk_cursor
	deallocate SO40600_wrk_cursor
	-- Copyright 1998 by Advanced Distribution Group, Ltd. All rights reserved.
GO
