USE [SHOPPER_DEV_APP]
GO
/****** Object:  StoredProcedure [dbo].[BCUsers_all]    Script Date: 12/21/2015 14:34:09 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[BCUsers_all]
AS
	SELECT *
	FROM BCUsers

-- Copyright 1998 by Advanced Distribution Group, Ltd. All rights reserved.
GO
