USE [SHOPPER_DEV_APP]
GO
/****** Object:  StoredProcedure [dbo].[DMG_UNRELEASED_BATCHES]    Script Date: 12/21/2015 14:34:16 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[DMG_UNRELEASED_BATCHES]
	@MODULE		VARCHAR(2)
AS
	SELECT	*
		FROM	BATCH
		WHERE	(MODULE = @MODULE
			AND STATUS IN ('B', 'S', 'I', 'H'))
			OR (MODULE = 'PO'
			AND STATUS IN ('C')
			AND BATNBR IN (SELECT BATNBR FROM INTRAN WHERE JRNLTYPE = 'PO' AND RLSED = 0))
		ORDER BY BATNBR, MODULE
GO
