USE [SHOPPER_DEV_APP]
GO
/****** Object:  StoredProcedure [dbo].[ADG_MovementClass_Descr]    Script Date: 12/16/2015 15:55:10 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[ADG_MovementClass_Descr]
	@parm1 varchar(10)
AS
	SELECT	Descr
	FROM	PIMoveCl
	WHERE	MoveClass = @parm1

-- Copyright 1998 by Advanced Distribution Group, Ltd. All rights reserved.
GO
