USE [SHOPPER_DEV_APP]
GO
/****** Object:  StoredProcedure [dbo].[xpaPA942]    Script Date: 12/21/2015 14:34:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[xpaPA942] (
@RI_ID int
)

AS

BEGIN
DELETE FROM xwrk_PA942
WHERE RI_ID = @RI_ID
END

BEGIN
DELETE FROM xwrk_PA942_AR000
WHERE RI_ID = @RI_ID
END
GO
