USE [SHOPPER_DEV_APP]
GO
/****** Object:  StoredProcedure [dbo].[IRWrkPeriod_Delete]    Script Date: 12/21/2015 14:34:24 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
Create Procedure [dbo].[IRWrkPeriod_Delete] As
	Delete From IRWrkPeriod
GO
