USE [SHOPPER_TEST_APP]
GO
/****** Object:  Table [dbo].[SlsPerHist]    Script Date: 12/21/2015 16:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SlsPerHist](
	[Crtd_DateTime] [smalldatetime] NOT NULL,
	[Crtd_Prog] [char](8) NOT NULL,
	[Crtd_User] [char](10) NOT NULL,
	[FiscYr] [char](4) NOT NULL,
	[LUpd_DateTime] [smalldatetime] NOT NULL,
	[LUpd_Prog] [char](8) NOT NULL,
	[LUpd_User] [char](10) NOT NULL,
	[NoteId] [int] NOT NULL,
	[PerNbr] [char](6) NOT NULL,
	[PtdCOGS00] [float] NOT NULL,
	[PtdCOGS01] [float] NOT NULL,
	[PtdCOGS02] [float] NOT NULL,
	[PtdCOGS03] [float] NOT NULL,
	[PtdCOGS04] [float] NOT NULL,
	[PtdCOGS05] [float] NOT NULL,
	[PtdCOGS06] [float] NOT NULL,
	[PtdCOGS07] [float] NOT NULL,
	[PtdCOGS08] [float] NOT NULL,
	[PtdCOGS09] [float] NOT NULL,
	[PtdCOGS10] [float] NOT NULL,
	[PtdCOGS11] [float] NOT NULL,
	[PtdCOGS12] [float] NOT NULL,
	[PtdRcpt00] [float] NOT NULL,
	[PtdRcpt01] [float] NOT NULL,
	[PtdRcpt02] [float] NOT NULL,
	[PtdRcpt03] [float] NOT NULL,
	[PtdRcpt04] [float] NOT NULL,
	[PtdRcpt05] [float] NOT NULL,
	[PtdRcpt06] [float] NOT NULL,
	[PtdRcpt07] [float] NOT NULL,
	[PtdRcpt08] [float] NOT NULL,
	[PtdRcpt09] [float] NOT NULL,
	[PtdRcpt10] [float] NOT NULL,
	[PtdRcpt11] [float] NOT NULL,
	[PtdRcpt12] [float] NOT NULL,
	[PtdSls00] [float] NOT NULL,
	[PtdSls01] [float] NOT NULL,
	[PtdSls02] [float] NOT NULL,
	[PtdSls03] [float] NOT NULL,
	[PtdSls04] [float] NOT NULL,
	[PtdSls05] [float] NOT NULL,
	[PtdSls06] [float] NOT NULL,
	[PtdSls07] [float] NOT NULL,
	[PtdSls08] [float] NOT NULL,
	[PtdSls09] [float] NOT NULL,
	[PtdSls10] [float] NOT NULL,
	[PtdSls11] [float] NOT NULL,
	[PtdSls12] [float] NOT NULL,
	[S4Future01] [char](30) NOT NULL,
	[S4Future02] [char](30) NOT NULL,
	[S4Future03] [float] NOT NULL,
	[S4Future04] [float] NOT NULL,
	[S4Future05] [float] NOT NULL,
	[S4Future06] [float] NOT NULL,
	[S4Future07] [smalldatetime] NOT NULL,
	[S4Future08] [smalldatetime] NOT NULL,
	[S4Future09] [int] NOT NULL,
	[S4Future10] [int] NOT NULL,
	[S4Future11] [char](10) NOT NULL,
	[S4Future12] [char](10) NOT NULL,
	[SlsperId] [char](10) NOT NULL,
	[User1] [char](30) NOT NULL,
	[User2] [char](30) NOT NULL,
	[User3] [float] NOT NULL,
	[User4] [float] NOT NULL,
	[User5] [char](10) NOT NULL,
	[User6] [char](10) NOT NULL,
	[User7] [smalldatetime] NOT NULL,
	[User8] [smalldatetime] NOT NULL,
	[YtdCOGS] [float] NOT NULL,
	[YtdRcpt] [float] NOT NULL,
	[YtdSls] [float] NOT NULL,
	[tstamp] [timestamp] NOT NULL,
 CONSTRAINT [SlsperHist0] PRIMARY KEY CLUSTERED 
(
	[SlsperId] ASC,
	[FiscYr] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT (rtrim(CONVERT([varchar](30),CONVERT([smalldatetime],getdate(),(0)),(0)))) FOR [Crtd_DateTime]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT (' ') FOR [Crtd_Prog]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT (' ') FOR [Crtd_User]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT (' ') FOR [FiscYr]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ('01/01/1900') FOR [LUpd_DateTime]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT (' ') FOR [LUpd_Prog]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT (' ') FOR [LUpd_User]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [NoteId]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT (' ') FOR [PerNbr]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdCOGS00]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdCOGS01]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdCOGS02]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdCOGS03]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdCOGS04]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdCOGS05]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdCOGS06]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdCOGS07]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdCOGS08]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdCOGS09]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdCOGS10]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdCOGS11]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdCOGS12]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdRcpt00]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdRcpt01]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdRcpt02]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdRcpt03]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdRcpt04]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdRcpt05]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdRcpt06]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdRcpt07]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdRcpt08]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdRcpt09]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdRcpt10]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdRcpt11]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdRcpt12]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdSls00]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdSls01]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdSls02]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdSls03]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdSls04]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdSls05]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdSls06]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdSls07]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdSls08]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdSls09]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdSls10]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdSls11]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [PtdSls12]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT (' ') FOR [S4Future01]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT (' ') FOR [S4Future02]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [S4Future03]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [S4Future04]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [S4Future05]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [S4Future06]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ('01/01/1900') FOR [S4Future07]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ('01/01/1900') FOR [S4Future08]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [S4Future09]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [S4Future10]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT (' ') FOR [S4Future11]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT (' ') FOR [S4Future12]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT (' ') FOR [SlsperId]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT (' ') FOR [User1]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT (' ') FOR [User2]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [User3]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [User4]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT (' ') FOR [User5]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT (' ') FOR [User6]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ('01/01/1900') FOR [User7]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ('01/01/1900') FOR [User8]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [YtdCOGS]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [YtdRcpt]
GO
ALTER TABLE [dbo].[SlsPerHist] ADD  DEFAULT ((0)) FOR [YtdSls]
GO
