USE [SHOPPER_TEST_APP]
GO
/****** Object:  Table [dbo].[SMInvoice]    Script Date: 12/21/2015 16:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SMInvoice](
	[Acct] [char](10) NOT NULL,
	[Amount] [float] NOT NULL,
	[ARBatNbr] [char](10) NOT NULL,
	[ASID] [int] NOT NULL,
	[BillingType] [char](1) NOT NULL,
	[BranchID] [char](10) NOT NULL,
	[CallDetailType] [char](1) NOT NULL,
	[CmmnAmt] [float] NOT NULL,
	[CmmnPct] [float] NOT NULL,
	[ContractID] [char](10) NOT NULL,
	[CpnyID] [char](10) NOT NULL,
	[Crtd_DateTime] [smalldatetime] NOT NULL,
	[Crtd_Prog] [char](8) NOT NULL,
	[Crtd_User] [char](10) NOT NULL,
	[CustID] [char](15) NOT NULL,
	[CustPO] [char](30) NOT NULL,
	[DocDate] [smalldatetime] NOT NULL,
	[DocDesc] [char](30) NOT NULL,
	[DocType] [char](1) NOT NULL,
	[DocumentId] [char](10) NOT NULL,
	[IN_ID01] [char](30) NOT NULL,
	[IN_ID03] [char](20) NOT NULL,
	[IN_ID04] [char](20) NOT NULL,
	[IN_ID05] [char](10) NOT NULL,
	[IN_ID06] [char](10) NOT NULL,
	[IN_ID07] [char](4) NOT NULL,
	[IN_ID08] [float] NOT NULL,
	[IN_ID09] [smalldatetime] NOT NULL,
	[IN_ID10] [smallint] NOT NULL,
	[IN_IN02] [char](30) NOT NULL,
	[InvoiceType] [char](1) NOT NULL,
	[LineCntr] [smallint] NOT NULL,
	[Lupd_DateTime] [smalldatetime] NOT NULL,
	[Lupd_Prog] [char](8) NOT NULL,
	[Lupd_User] [char](10) NOT NULL,
	[NoteID] [int] NOT NULL,
	[OrigCallID] [char](10) NOT NULL,
	[PerEnt] [char](6) NOT NULL,
	[PerPost] [char](6) NOT NULL,
	[ProjectID] [char](16) NOT NULL,
	[Refnbr] [char](10) NOT NULL,
	[ShipToID] [char](10) NOT NULL,
	[SlsperID] [char](10) NOT NULL,
	[Sub] [char](24) NOT NULL,
	[TaxAmt00] [float] NOT NULL,
	[TaxAmt01] [float] NOT NULL,
	[TaxAmt02] [float] NOT NULL,
	[TaxAmt03] [float] NOT NULL,
	[TaxID00] [char](10) NOT NULL,
	[TaxID01] [char](10) NOT NULL,
	[TaxID02] [char](10) NOT NULL,
	[TaxID03] [char](10) NOT NULL,
	[TermID] [char](2) NOT NULL,
	[TxblAmt00] [float] NOT NULL,
	[TxblAmt01] [float] NOT NULL,
	[TxblAmt02] [float] NOT NULL,
	[TxblAmt03] [float] NOT NULL,
	[User1] [char](30) NOT NULL,
	[User2] [char](30) NOT NULL,
	[User3] [float] NOT NULL,
	[User4] [float] NOT NULL,
	[User5] [char](10) NOT NULL,
	[User6] [char](10) NOT NULL,
	[User7] [smalldatetime] NOT NULL,
	[User8] [smalldatetime] NOT NULL,
	[User9] [smallint] NOT NULL,
	[UserID] [char](47) NOT NULL,
	[WrkOrdNbr] [char](10) NOT NULL,
	[tstamp] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
