USE [SHOPPER_TEST_APP]
GO
/****** Object:  Table [dbo].[PSSloantype]    Script Date: 12/21/2015 16:06:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PSSloantype](
	[AllowEscrow] [smallint] NOT NULL,
	[CalcLateIntInt] [smallint] NOT NULL,
	[CalcLateIntPrin] [smallint] NOT NULL,
	[CreditType] [char](1) NOT NULL,
	[Crtd_DateTime] [smalldatetime] NOT NULL,
	[Crtd_Prog] [char](8) NOT NULL,
	[Crtd_User] [char](10) NOT NULL,
	[CuryID] [char](4) NOT NULL,
	[CuryRateType] [char](6) NOT NULL,
	[DefaultDueDay] [smallint] NOT NULL,
	[EntryId] [char](2) NOT NULL,
	[JrnlType] [char](2) NOT NULL,
	[LastLoanNo] [char](20) NOT NULL,
	[LoanTypeCode] [char](10) NOT NULL,
	[LoanTypeDescr] [char](60) NOT NULL,
	[Lupd_DateTime] [smalldatetime] NOT NULL,
	[Lupd_Prog] [char](8) NOT NULL,
	[Lupd_User] [char](10) NOT NULL,
	[TypeOfLoan] [char](1) NOT NULL,
	[User1] [char](30) NOT NULL,
	[User2] [char](30) NOT NULL,
	[User3] [float] NOT NULL,
	[User4] [float] NOT NULL,
	[User5] [char](10) NOT NULL,
	[User6] [char](10) NOT NULL,
	[User7] [smalldatetime] NOT NULL,
	[User8] [smalldatetime] NOT NULL,
	[tstamp] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[PSSloantype] ADD  DEFAULT ((0)) FOR [AllowEscrow]
GO
ALTER TABLE [dbo].[PSSloantype] ADD  DEFAULT ((0)) FOR [CalcLateIntInt]
GO
ALTER TABLE [dbo].[PSSloantype] ADD  DEFAULT ((0)) FOR [CalcLateIntPrin]
GO
ALTER TABLE [dbo].[PSSloantype] ADD  DEFAULT ('') FOR [CreditType]
GO
ALTER TABLE [dbo].[PSSloantype] ADD  DEFAULT ('01/01/1900') FOR [Crtd_DateTime]
GO
ALTER TABLE [dbo].[PSSloantype] ADD  DEFAULT ('') FOR [Crtd_Prog]
GO
ALTER TABLE [dbo].[PSSloantype] ADD  DEFAULT ('') FOR [Crtd_User]
GO
ALTER TABLE [dbo].[PSSloantype] ADD  DEFAULT ('') FOR [CuryID]
GO
ALTER TABLE [dbo].[PSSloantype] ADD  DEFAULT ('') FOR [CuryRateType]
GO
ALTER TABLE [dbo].[PSSloantype] ADD  DEFAULT ((0)) FOR [DefaultDueDay]
GO
ALTER TABLE [dbo].[PSSloantype] ADD  DEFAULT ('') FOR [EntryId]
GO
ALTER TABLE [dbo].[PSSloantype] ADD  DEFAULT ('') FOR [JrnlType]
GO
ALTER TABLE [dbo].[PSSloantype] ADD  DEFAULT ('') FOR [LastLoanNo]
GO
ALTER TABLE [dbo].[PSSloantype] ADD  DEFAULT ('') FOR [LoanTypeCode]
GO
ALTER TABLE [dbo].[PSSloantype] ADD  DEFAULT ('') FOR [LoanTypeDescr]
GO
ALTER TABLE [dbo].[PSSloantype] ADD  DEFAULT ('01/01/1900') FOR [Lupd_DateTime]
GO
ALTER TABLE [dbo].[PSSloantype] ADD  DEFAULT ('') FOR [Lupd_Prog]
GO
ALTER TABLE [dbo].[PSSloantype] ADD  DEFAULT ('') FOR [Lupd_User]
GO
ALTER TABLE [dbo].[PSSloantype] ADD  DEFAULT ('') FOR [TypeOfLoan]
GO
ALTER TABLE [dbo].[PSSloantype] ADD  DEFAULT ('') FOR [User1]
GO
ALTER TABLE [dbo].[PSSloantype] ADD  DEFAULT ('') FOR [User2]
GO
ALTER TABLE [dbo].[PSSloantype] ADD  DEFAULT ((0.00)) FOR [User3]
GO
ALTER TABLE [dbo].[PSSloantype] ADD  DEFAULT ((0.00)) FOR [User4]
GO
ALTER TABLE [dbo].[PSSloantype] ADD  DEFAULT ('') FOR [User5]
GO
ALTER TABLE [dbo].[PSSloantype] ADD  DEFAULT ('') FOR [User6]
GO
ALTER TABLE [dbo].[PSSloantype] ADD  DEFAULT ('01/01/1900') FOR [User7]
GO
ALTER TABLE [dbo].[PSSloantype] ADD  DEFAULT ('01/01/1900') FOR [User8]
GO
