USE [SHOPPER_TEST_APP]
GO
/****** Object:  Table [dbo].[frl_entity]    Script Date: 12/21/2015 16:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[frl_entity](
	[entity_num] [smallint] NOT NULL,
	[cpnyid] [char](10) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
