USE [SHOPPER_TEST_APP]
GO
/****** Object:  Table [dbo].[xrf_CoVendIDXRef102306]    Script Date: 12/21/2015 16:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xrf_CoVendIDXRef102306](
	[CoVendID] [nvarchar](255) NULL,
	[SolVendID] [nvarchar](255) NULL
) ON [PRIMARY]
GO
