USE [SHOPPER_TEST_APP]
GO
/****** Object:  Table [dbo].[xTMADP00_Dept]    Script Date: 12/21/2015 16:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xTMADP00_Dept](
	[DeptCode] [nvarchar](50) NOT NULL,
	[DeptDescr] [nvarchar](50) NOT NULL,
	[DSLSubAcct] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ADPDeptTranslation] PRIMARY KEY CLUSTERED 
(
	[DeptCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
