USE [MIDWESTAPP]
GO
/****** Object:  Table [dbo].[Wrk_GLTran]    Script Date: 12/21/2015 15:54:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Wrk_GLTran](
	[Acct] [char](10) NOT NULL,
	[AppliedDate] [smalldatetime] NOT NULL,
	[BalanceType] [char](1) NOT NULL,
	[BaseCuryID] [char](4) NOT NULL,
	[BatNbr] [char](10) NOT NULL,
	[CpnyID] [char](10) NOT NULL,
	[CrAmt] [float] NOT NULL,
	[Crtd_DateTime] [smalldatetime] NOT NULL,
	[Crtd_Prog] [char](8) NOT NULL,
	[Crtd_User] [char](10) NOT NULL,
	[CuryCrAmt] [float] NOT NULL,
	[CuryDrAmt] [float] NOT NULL,
	[CuryEffDate] [smalldatetime] NOT NULL,
	[CuryId] [char](4) NOT NULL,
	[CuryMultDiv] [char](1) NOT NULL,
	[CuryRate] [float] NOT NULL,
	[CuryRateType] [char](6) NOT NULL,
	[DrAmt] [float] NOT NULL,
	[EmployeeID] [char](10) NOT NULL,
	[ExtRefNbr] [char](15) NOT NULL,
	[FiscYr] [char](4) NOT NULL,
	[IC_Distribution] [smallint] NOT NULL,
	[Id] [char](20) NOT NULL,
	[JrnlType] [char](3) NOT NULL,
	[Labor_Class_Cd] [char](4) NOT NULL,
	[LedgerID] [char](10) NOT NULL,
	[LineId] [int] NOT NULL,
	[LineNbr] [smallint] NOT NULL,
	[LineRef] [char](5) NOT NULL,
	[LUpd_DateTime] [smalldatetime] NOT NULL,
	[LUpd_Prog] [char](8) NOT NULL,
	[LUpd_User] [char](10) NOT NULL,
	[Module] [char](2) NOT NULL,
	[NoteID] [int] NOT NULL,
	[OrigAcct] [char](10) NOT NULL,
	[OrigBatNbr] [char](10) NOT NULL,
	[OrigCpnyID] [char](10) NOT NULL,
	[OrigSub] [char](24) NOT NULL,
	[PC_Flag] [char](1) NOT NULL,
	[PC_ID] [char](20) NOT NULL,
	[PC_Status] [char](1) NOT NULL,
	[PerEnt] [char](6) NOT NULL,
	[PerPost] [char](6) NOT NULL,
	[Posted] [char](1) NOT NULL,
	[ProjectID] [char](16) NOT NULL,
	[Qty] [float] NOT NULL,
	[RefNbr] [char](10) NOT NULL,
	[RevEntryOption] [char](1) NOT NULL,
	[Rlsed] [smallint] NOT NULL,
	[S4Future01] [char](30) NOT NULL,
	[S4Future02] [char](30) NOT NULL,
	[S4Future03] [float] NOT NULL,
	[S4Future04] [float] NOT NULL,
	[S4Future05] [float] NOT NULL,
	[S4Future06] [float] NOT NULL,
	[S4Future07] [smalldatetime] NOT NULL,
	[S4Future08] [smalldatetime] NOT NULL,
	[S4Future09] [int] NOT NULL,
	[S4Future10] [int] NOT NULL,
	[S4Future11] [char](10) NOT NULL,
	[S4Future12] [char](10) NOT NULL,
	[ServiceDate] [smalldatetime] NOT NULL,
	[Sub] [char](24) NOT NULL,
	[TaskID] [char](32) NOT NULL,
	[TranDate] [smalldatetime] NOT NULL,
	[TranDesc] [char](30) NOT NULL,
	[TranType] [char](2) NOT NULL,
	[Units] [float] NOT NULL,
	[User1] [char](30) NOT NULL,
	[User2] [char](30) NOT NULL,
	[User3] [float] NOT NULL,
	[User4] [float] NOT NULL,
	[User5] [char](10) NOT NULL,
	[User6] [char](10) NOT NULL,
	[User7] [smalldatetime] NOT NULL,
	[User8] [smalldatetime] NOT NULL,
	[Counter] [int] IDENTITY(1,1) NOT NULL,
	[FromCpnyID] [varchar](10) NOT NULL,
	[Screen] [varchar](10) NOT NULL,
	[RecordID] [int] NOT NULL,
	[UserAddress] [char](21) NOT NULL,
 CONSTRAINT [Wrk_GLTran0] PRIMARY KEY NONCLUSTERED 
(
	[UserAddress] ASC,
	[BatNbr] ASC,
	[Counter] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
