USE [MIDWESTAPP]
GO
/****** Object:  Table [dbo].[APHist]    Script Date: 12/21/2015 15:54:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[APHist](
	[BegBal] [float] NOT NULL,
	[CpnyID] [char](10) NOT NULL,
	[Crtd_DateTime] [smalldatetime] NOT NULL,
	[Crtd_Prog] [char](8) NOT NULL,
	[Crtd_User] [char](10) NOT NULL,
	[CuryID] [char](4) NOT NULL,
	[FiscYr] [char](4) NOT NULL,
	[LUpd_DateTime] [smalldatetime] NOT NULL,
	[LUpd_Prog] [char](8) NOT NULL,
	[LUpd_User] [char](10) NOT NULL,
	[NoteID] [int] NOT NULL,
	[PerNbr] [char](6) NOT NULL,
	[PtdCrAdjs00] [float] NOT NULL,
	[PtdCrAdjs01] [float] NOT NULL,
	[PtdCrAdjs02] [float] NOT NULL,
	[PtdCrAdjs03] [float] NOT NULL,
	[PtdCrAdjs04] [float] NOT NULL,
	[PtdCrAdjs05] [float] NOT NULL,
	[PtdCrAdjs06] [float] NOT NULL,
	[PtdCrAdjs07] [float] NOT NULL,
	[PtdCrAdjs08] [float] NOT NULL,
	[PtdCrAdjs09] [float] NOT NULL,
	[PtdCrAdjs10] [float] NOT NULL,
	[PtdCrAdjs11] [float] NOT NULL,
	[PtdCrAdjs12] [float] NOT NULL,
	[PtdDiscTkn00] [float] NOT NULL,
	[PtdDiscTkn01] [float] NOT NULL,
	[PtdDiscTkn02] [float] NOT NULL,
	[PtdDiscTkn03] [float] NOT NULL,
	[PtdDiscTkn04] [float] NOT NULL,
	[PtdDiscTkn05] [float] NOT NULL,
	[PtdDiscTkn06] [float] NOT NULL,
	[PtdDiscTkn07] [float] NOT NULL,
	[PtdDiscTkn08] [float] NOT NULL,
	[PtdDiscTkn09] [float] NOT NULL,
	[PtdDiscTkn10] [float] NOT NULL,
	[PtdDiscTkn11] [float] NOT NULL,
	[PtdDiscTkn12] [float] NOT NULL,
	[PtdDrAdjs00] [float] NOT NULL,
	[PtdDrAdjs01] [float] NOT NULL,
	[PtdDrAdjs02] [float] NOT NULL,
	[PtdDrAdjs03] [float] NOT NULL,
	[PtdDrAdjs04] [float] NOT NULL,
	[PtdDrAdjs05] [float] NOT NULL,
	[PtdDrAdjs06] [float] NOT NULL,
	[PtdDrAdjs07] [float] NOT NULL,
	[PtdDrAdjs08] [float] NOT NULL,
	[PtdDrAdjs09] [float] NOT NULL,
	[PtdDrAdjs10] [float] NOT NULL,
	[PtdDrAdjs11] [float] NOT NULL,
	[PtdDrAdjs12] [float] NOT NULL,
	[PtdPaymt00] [float] NOT NULL,
	[PtdPaymt01] [float] NOT NULL,
	[PtdPaymt02] [float] NOT NULL,
	[PtdPaymt03] [float] NOT NULL,
	[PtdPaymt04] [float] NOT NULL,
	[PtdPaymt05] [float] NOT NULL,
	[PtdPaymt06] [float] NOT NULL,
	[PtdPaymt07] [float] NOT NULL,
	[PtdPaymt08] [float] NOT NULL,
	[PtdPaymt09] [float] NOT NULL,
	[PtdPaymt10] [float] NOT NULL,
	[PtdPaymt11] [float] NOT NULL,
	[PtdPaymt12] [float] NOT NULL,
	[PtdPurch00] [float] NOT NULL,
	[PtdPurch01] [float] NOT NULL,
	[PtdPurch02] [float] NOT NULL,
	[PtdPurch03] [float] NOT NULL,
	[PtdPurch04] [float] NOT NULL,
	[PtdPurch05] [float] NOT NULL,
	[PtdPurch06] [float] NOT NULL,
	[PtdPurch07] [float] NOT NULL,
	[PtdPurch08] [float] NOT NULL,
	[PtdPurch09] [float] NOT NULL,
	[PtdPurch10] [float] NOT NULL,
	[PtdPurch11] [float] NOT NULL,
	[PtdPurch12] [float] NOT NULL,
	[S4Future01] [char](30) NOT NULL,
	[S4Future02] [char](30) NOT NULL,
	[S4Future03] [float] NOT NULL,
	[S4Future04] [float] NOT NULL,
	[S4Future05] [float] NOT NULL,
	[S4Future06] [float] NOT NULL,
	[S4Future07] [smalldatetime] NOT NULL,
	[S4Future08] [smalldatetime] NOT NULL,
	[S4Future09] [int] NOT NULL,
	[S4Future10] [int] NOT NULL,
	[S4Future11] [char](10) NOT NULL,
	[S4Future12] [char](10) NOT NULL,
	[User1] [char](30) NOT NULL,
	[User2] [char](30) NOT NULL,
	[User3] [float] NOT NULL,
	[User4] [float] NOT NULL,
	[User5] [char](10) NOT NULL,
	[User6] [char](10) NOT NULL,
	[User7] [smalldatetime] NOT NULL,
	[User8] [smalldatetime] NOT NULL,
	[VendId] [char](15) NOT NULL,
	[YtdCrAdjs] [float] NOT NULL,
	[YtdDiscTkn] [float] NOT NULL,
	[YtdDrAdjs] [float] NOT NULL,
	[YtdPaymt] [float] NOT NULL,
	[YtdPurch] [float] NOT NULL,
	[tstamp] [timestamp] NOT NULL,
 CONSTRAINT [APHist0] PRIMARY KEY CLUSTERED 
(
	[VendId] ASC,
	[CpnyID] ASC,
	[FiscYr] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
