USE [MIDWESTAPP]
GO
/****** Object:  Table [dbo].[xwrk_MC_Data_BAK]    Script Date: 12/21/2015 15:54:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[xwrk_MC_Data_BAK](
	[Brand] [varchar](20) NULL,
	[BusinessUnit] [varchar](50) NULL,
	[SubUnit] [varchar](20) NULL,
	[Department] [varchar](18) NULL,
	[ProjectID] [char](16) NOT NULL,
	[ProjectDesc] [char](60) NOT NULL,
	[ClientID] [char](30) NOT NULL,
	[ProductID] [char](30) NOT NULL,
	[Employee_Name] [varchar](8000) NULL,
	[Title] [varchar](30) NULL,
	[SalesMarketing] [varchar](20) NULL,
	[CurMonth] [int] NULL,
	[CurHours] [float] NOT NULL,
	[Year] [int] NULL,
	[fiscalno] [char](6) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
