USE [MIDWESTAPP]
GO
/****** Object:  Table [dbo].[WrkARTran]    Script Date: 12/21/2015 15:54:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WrkARTran](
	[Acct] [char](10) NULL,
	[AcctDist] [smallint] NULL,
	[BatNbr] [char](10) NOT NULL,
	[CmmnPct] [float] NULL,
	[CnvFact] [float] NULL,
	[CostType] [char](8) NULL,
	[CpnyID] [char](10) NULL,
	[CuryExtCost] [float] NULL,
	[CuryID] [char](4) NULL,
	[CuryMultDiv] [char](1) NULL,
	[CuryRate] [float] NULL,
	[CuryTaxAmt00] [float] NULL,
	[CuryTaxAmt01] [float] NULL,
	[CuryTaxAmt02] [float] NULL,
	[CuryTaxAmt03] [float] NULL,
	[CuryTranAmt] [float] NULL,
	[CuryTxblAmt00] [float] NULL,
	[CuryTxblAmt01] [float] NULL,
	[CuryTxblAmt02] [float] NULL,
	[CuryTxblAmt03] [float] NULL,
	[CuryUnitPrice] [float] NULL,
	[CustID] [char](15) NULL,
	[DrCr] [char](1) NULL,
	[Excpt] [smallint] NULL,
	[ExtCost] [float] NULL,
	[ExtRefNbr] [char](15) NULL,
	[FiscYr] [char](4) NULL,
	[InvtID] [char](30) NULL,
	[JobRate] [float] NULL,
	[JrnlType] [char](3) NULL,
	[LineID] [int] NULL,
	[LineNbr] [smallint] NULL,
	[LineRef] [char](5) NULL,
	[NoteID] [int] NULL,
	[PC_Flag] [char](1) NULL,
	[PC_ID] [char](20) NULL,
	[PC_Status] [char](1) NULL,
	[PerEnt] [char](6) NULL,
	[PerPost] [char](6) NULL,
	[ProjectID] [char](16) NULL,
	[Qty] [float] NULL,
	[RecordID] [int] NULL,
	[RefNbr] [char](10) NULL,
	[RI_ID] [smallint] NULL,
	[Rlsed] [smallint] NULL,
	[SiteID] [char](10) NULL,
	[SlsperID] [char](10) NULL,
	[SpecificCostID] [char](25) NULL,
	[Sub] [char](24) NULL,
	[TaskID] [char](32) NULL,
	[TaxAmt00] [float] NULL,
	[TaxAmt01] [float] NULL,
	[TaxAmt02] [float] NULL,
	[TaxAmt03] [float] NULL,
	[TaxCalced] [char](1) NULL,
	[TaxCat] [char](10) NULL,
	[TaxID00] [char](10) NULL,
	[TaxID01] [char](10) NULL,
	[TaxID02] [char](10) NULL,
	[TaxID03] [char](10) NULL,
	[TaxIDDflt] [char](10) NULL,
	[TranAmt] [float] NULL,
	[TranClass] [char](1) NULL,
	[TranDate] [smalldatetime] NULL,
	[TranDesc] [char](30) NULL,
	[TranType] [char](2) NULL,
	[TxblAmt00] [float] NULL,
	[TxblAmt01] [float] NULL,
	[TxblAmt02] [float] NULL,
	[TxblAmt03] [float] NULL,
	[UnitDesc] [char](6) NULL,
	[UnitPrice] [float] NULL,
	[User1] [char](30) NULL,
	[User2] [char](30) NULL,
	[User3] [float] NULL,
	[User4] [float] NULL,
	[WhseLoc] [char](10) NULL,
	[tstamp] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
