USE [MIDWESTAPP]
GO
/****** Object:  Table [dbo].[xwrk_BU96C]    Script Date: 12/21/2015 15:54:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[xwrk_BU96C](
	[RI_ID] [int] NOT NULL,
	[UserID] [char](47) NOT NULL,
	[RunDate] [char](10) NOT NULL,
	[RunTime] [char](7) NOT NULL,
	[TerminalNum] [char](21) NOT NULL,
	[Project] [char](16) NOT NULL,
	[ProjectDesc] [char](60) NOT NULL,
	[JobCat] [char](4) NOT NULL,
	[FunctionCode] [char](32) NOT NULL,
	[FunctionDescr] [char](60) NOT NULL,
	[ClientContactName] [char](30) NOT NULL,
	[CustomerCode] [char](30) NOT NULL,
	[CustomerName] [char](60) NOT NULL,
	[ProductCode] [char](30) NOT NULL,
	[ProductDescr] [char](30) NOT NULL,
	[StatusPA] [char](1) NOT NULL,
	[Close_Date] [smalldatetime] NOT NULL,
	[Customer] [char](60) NULL,
	[BillAddr1] [char](60) NULL,
	[BillAddr2] [char](60) NULL,
	[BillCity] [char](30) NULL,
	[BillState] [char](3) NULL,
	[BillZip] [char](10) NULL,
	[PONum] [char](20) NOT NULL,
	[ExtCost] [float] NOT NULL,
	[CostVouched] [float] NOT NULL,
	[Supervisor] [char](10) NOT NULL,
	[CLECurrLockedEst] [char](4) NOT NULL,
	[CLEProjectNoteID] [int] NOT NULL,
	[CLECreate_Date] [smalldatetime] NOT NULL,
	[CLEFSYear] [int] NULL,
	[CLERevID] [char](4) NOT NULL,
	[CLEPrevRevID] [char](4) NOT NULL,
	[CLERevStatus] [char](2) NOT NULL,
	[CLERevDescr] [char](60) NOT NULL,
	[CLEEstAmount] [float] NOT NULL,
	[CLETaskNoteID] [int] NOT NULL,
	[PLEPrevLockedEst] [char](4) NOT NULL,
	[PLEProjectNoteID] [int] NOT NULL,
	[PLECreate_Date] [smalldatetime] NOT NULL,
	[PLEFSYear] [int] NOT NULL,
	[PLERevID] [char](4) NOT NULL,
	[PLEStatus] [char](2) NOT NULL,
	[PLERevDescr] [char](60) NOT NULL,
	[PLEEstAmount] [float] NOT NULL,
	[PLETaskNoteID] [int] NOT NULL,
	[ActAcct] [char](16) NOT NULL,
	[Amount01] [float] NOT NULL,
	[Amount02] [float] NOT NULL,
	[Amount03] [float] NOT NULL,
	[Amount04] [float] NOT NULL,
	[Amount05] [float] NOT NULL,
	[Amount06] [float] NOT NULL,
	[Amount07] [float] NOT NULL,
	[Amount08] [float] NOT NULL,
	[Amount09] [float] NOT NULL,
	[Amount10] [float] NOT NULL,
	[Amount11] [float] NOT NULL,
	[Amount12] [float] NOT NULL,
	[Amount13] [float] NOT NULL,
	[Amount14] [float] NOT NULL,
	[Amount15] [float] NOT NULL,
	[AmountBF] [float] NOT NULL,
	[FSYearNum] [char](4) NOT NULL,
	[AcctGroupCode] [char](2) NOT NULL,
	[ControlCode] [char](30) NOT NULL,
	[ProjectNote] [text] NOT NULL,
	[TaskNote] [text] NOT NULL,
	[Project_BillWith] [char](16) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
