USE [DENVERAPP]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 12/21/2015 15:42:07 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[Addr1] [char](60) NOT NULL,
	[Addr2] [char](60) NOT NULL,
	[Attn] [char](30) NOT NULL,
	[BirthDate] [smalldatetime] NOT NULL,
	[CalYr] [char](4) NOT NULL,
	[ChkNbr] [char](10) NOT NULL,
	[City] [char](30) NOT NULL,
	[Country] [char](3) NOT NULL,
	[CpnyID] [char](10) NOT NULL,
	[Crtd_DateTime] [smalldatetime] NOT NULL,
	[Crtd_Prog] [char](8) NOT NULL,
	[Crtd_User] [char](10) NOT NULL,
	[CurrBatNbr] [char](10) NOT NULL,
	[CurrCheckCalc] [smallint] NOT NULL,
	[CurrCheckPrint] [smallint] NOT NULL,
	[CurrCheckType] [char](1) NOT NULL,
	[CurrEarn] [float] NOT NULL,
	[CurrNet] [float] NOT NULL,
	[CurrPayPerEndDate] [smalldatetime] NOT NULL,
	[CurrPayPerNbr] [smallint] NOT NULL,
	[CurrPayPerStrtDate] [smalldatetime] NOT NULL,
	[CurrStdUnitRate] [float] NOT NULL,
	[Department] [char](10) NOT NULL,
	[DfltEarnType] [char](10) NOT NULL,
	[DfltExpAcct] [char](10) NOT NULL,
	[DfltExpSub] [char](24) NOT NULL,
	[DfltOthrExmpt] [smallint] NOT NULL,
	[DfltPersExmpt] [smallint] NOT NULL,
	[DfltWrkloc] [char](6) NOT NULL,
	[DirectDeposit] [char](1) NOT NULL,
	[EmailAddr] [char](80) NOT NULL,
	[EmpId] [char](10) NOT NULL,
	[EndDate] [smalldatetime] NOT NULL,
	[Fax] [char](30) NOT NULL,
	[HomeUnion] [char](10) NOT NULL,
	[LastPaidDate] [smalldatetime] NOT NULL,
	[LUpd_DateTime] [smalldatetime] NOT NULL,
	[LUpd_Prog] [char](8) NOT NULL,
	[LUpd_User] [char](10) NOT NULL,
	[MagW2] [smallint] NOT NULL,
	[MarStat] [char](1) NOT NULL,
	[MaxGarnWarn] [smallint] NOT NULL,
	[MedGovtEmpl] [smallint] NOT NULL,
	[Name] [char](60) NOT NULL,
	[NoteId] [int] NOT NULL,
	[PayGrpId] [char](6) NOT NULL,
	[PayType] [char](1) NOT NULL,
	[PercentDispEarn] [float] NOT NULL,
	[Phone] [char](30) NOT NULL,
	[S4Future01] [char](30) NOT NULL,
	[S4Future02] [char](30) NOT NULL,
	[S4Future03] [float] NOT NULL,
	[S4Future04] [float] NOT NULL,
	[S4Future05] [float] NOT NULL,
	[S4Future06] [float] NOT NULL,
	[S4Future07] [smalldatetime] NOT NULL,
	[S4Future08] [smalldatetime] NOT NULL,
	[S4Future09] [int] NOT NULL,
	[S4Future10] [int] NOT NULL,
	[S4Future11] [char](10) NOT NULL,
	[S4Future12] [char](10) NOT NULL,
	[Salut] [char](30) NOT NULL,
	[Shift] [char](1) NOT NULL,
	[SSN] [char](9) NOT NULL,
	[State] [char](3) NOT NULL,
	[Status] [char](1) NOT NULL,
	[Statutory] [smallint] NOT NULL,
	[StdSlry] [float] NOT NULL,
	[StdUnitRate] [float] NOT NULL,
	[StrtDate] [smalldatetime] NOT NULL,
	[User1] [char](30) NOT NULL,
	[User2] [char](30) NOT NULL,
	[User3] [float] NOT NULL,
	[User4] [float] NOT NULL,
	[User5] [char](10) NOT NULL,
	[User6] [char](10) NOT NULL,
	[User7] [smalldatetime] NOT NULL,
	[User8] [smalldatetime] NOT NULL,
	[WCCode] [char](6) NOT NULL,
	[YtdEarn] [float] NOT NULL,
	[Zip] [char](10) NOT NULL,
	[tstamp] [timestamp] NOT NULL,
 CONSTRAINT [Employee0] PRIMARY KEY CLUSTERED 
(
	[EmpId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
