USE [DENVERAPP]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

/*******************************************************************************************************
*   DENVERAPP.dbo.xwrk_Client_Groupings
*
*   Creator:	
*   Date:		
*		
*
*   Notes:      
			select classGrp, clientId, prodId, count(1)
			from DENVERAPP.dbo.xwrk_Client_Groupings
			group by classGrp, clientId, prodId
			having count(1) > 1
			
			select *
			from DENVERAPP.dbo.xwrk_Client_Groupings
			where classGrp = '40DGEN'

*
*   Modifications:   
*   Developer Name      Date        Brief description
*   ------------------- ----------- ------------------------------------------------------------
*   Michelle Morales	02/10/2016 Adding primary key.
********************************************************************************************************/

if (select 1
	from information_schema.tables
	where table_name = 'xwrk_Client_Groupings') < 1
	
CREATE TABLE [dbo].[xwrk_Client_Groupings](
	[grpID] [int] IDENTITY(1,1) NOT NULL,
	[classGrp] [varchar](10) NULL,
	[classID] [varchar](10) NULL,
	[classDesc] [varchar](50) NULL,
	[clientID] [varchar](10) NULL,
	[clientName] [varchar](50) NULL,
	[prodID] [varchar](10) NULL,
	[prodDesc] [varchar](50) NULL,
	[POS] [varchar](20) NULL,
	[businessUnit] [varchar](50) NULL,
	[subUnit] [varchar](20) NULL,
	[brand] [varchar](20) NULL,
	[marketingType] [varchar](20) NULL,
	[director] [varchar](50) NULL,
	[CFA] [varchar](50) NULL,
	[EU_CM] [varchar](50) NULL,
	[EU_BM] [varchar](50) NULL,
	[EU_CH] [varchar](50) NULL,
	[EU_R] [varchar](50) NULL,
	[OPER_Category] [varchar](50) NULL,
	[OPER_Scope] [varchar](50) NULL,
	[OPER_Client] [varchar](50) NULL,
	[MC_Creative] [varchar](50) NULL,
	[gStatus] [varchar](1) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

---------------------------------------------
-- modifications
---------------------------------------------
if exists (select *
			from information_schema.columns
			where table_name = 'xwrk_Client_Groupings'
				and column_name = 'clientID'
				and is_nullable = 'YES')

begin
	alter table dbo.xwrk_Client_Groupings
	alter column clientID varchar(10) not null
end
go

if exists (select *
			from information_schema.columns
			where table_name = 'xwrk_Client_Groupings'
				and column_name = 'classGrp'
				and is_nullable = 'YES')

begin
	alter table dbo.xwrk_Client_Groupings
	alter column classGrp varchar(10) not null
end
go

if exists (select *
			from information_schema.columns
			where table_name = 'xwrk_Client_Groupings'
				and column_name = 'prodID'
				and is_nullable = 'YES')

begin
	alter table dbo.xwrk_Client_Groupings
	alter column prodID varchar(10) not null
end
go


if not exists (select *
				from sys.indexes 
				where object_id = OBJECT_ID(N'[dbo].[xwrk_Client_Groupings]') 
					and name = 'pkc_xwrk_Client_Groupings')
begin
	alter table dbo.xwrk_Client_Groupings
	ADD CONSTRAINT [pkc_xwrk_Client_Groupings] PRIMARY KEY CLUSTERED (classGrp, clientID, prodID)
end
go

if not exists (select *
				from sys.indexes 
				where object_id = OBJECT_ID(N'[xwrk_Client_Groupings]') 
					and name = 'nci_xwrk_Client_Groupings_Brand_clientID_prodID')
begin

CREATE NONCLUSTERED INDEX nci_xwrk_Client_Groupings_Brand_clientID_prodID ON [dbo].[xwrk_Client_Groupings]
     ([Brand], [clientID], [prodID])
 INCLUDE ([POS]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 100) ON [PRIMARY]

end
go

---------------------------------------------
-- permissions
---------------------------------------------

GRANT SELECT, INSERT, UPDATE, DELETE ON dbo.xwrk_Client_Groupings TO BFGROUP
GRANT SELECT, CONTROL ON dbo.xwrk_Client_Groupings TO MSDSL
GRANT SELECT on dbo.xwrk_Client_Groupings TO public
GRANT SELECT on dbo.xwrk_Client_Groupings TO MSDynamicsSL
