USE [MID_TEST_APP]
GO
/****** Object:  StoredProcedure [dbo].[BCShipping_all]    Script Date: 12/21/2015 15:49:11 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[BCShipping_all]
AS
	SELECT *
	FROM BCShipping

-- Copyright 1998 by Advanced Distribution Group, Ltd. All rights reserved.
GO
