USE [MID_TEST_APP]
GO
/****** Object:  StoredProcedure [dbo].[ED850HDisc_Def]    Script Date: 12/21/2015 15:49:17 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
Create Proc [dbo].[ED850HDisc_Def] As Select * From ED850HDisc
GO
