USE [MID_TEST_APP]
GO
/****** Object:  StoredProcedure [dbo].[PJBSHDR_SEQPJT]    Script Date: 12/21/2015 15:49:25 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
create procedure [dbo].[PJBSHDR_SEQPJT]  @parm1 varchar (16) , @parm2 varchar (6)   as
select * from PJBSHDR
where    project     = @parm1 and
schednbr LIKE @parm2
order by project, schednbr
GO
