USE [MID_TEST_APP]
GO
/****** Object:  StoredProcedure [dbo].[EDContainer_Def]    Script Date: 12/21/2015 15:49:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
Create Procedure [dbo].[EDContainer_Def] As
Select * From EDContainer
GO
