USE [DEN_DEV_APP]
GO
/****** Object:  StoredProcedure [dbo].[EDContainer_ContainerID]    Script Date: 12/21/2015 14:06:03 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[EDContainer_ContainerID]
	@parm1 varchar( 10 )
AS
	SELECT *
	FROM EDContainer
	WHERE ContainerID LIKE @parm1
	ORDER BY ContainerID
GO
