USE [DEN_DEV_APP]
GO
/****** Object:  StoredProcedure [dbo].[ARDoc_ApplBat_Cust_Type_Ref]    Script Date: 12/21/2015 14:05:56 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/****** Object:  Stored Procedure dbo.ARDoc_ApplBat_Cust_Type_Ref    Script Date: 4/7/98 12:30:32 PM ******/
Create Procedure [dbo].[ARDoc_ApplBat_Cust_Type_Ref] @parm1 varchar ( 10), @parm2 varchar ( 15), @parm3 varchar ( 2), @parm4 varchar ( 10) as
    Select * from ARDoc where ApplBatNbr = @parm1
        and CustId = @parm2
        and DocType = @parm3
        and RefNbr like @parm4
        order by ApplBatNbr, CustId, DocType, RefNbr
GO
