USE [DEN_DEV_APP]
GO
/****** Object:  StoredProcedure [dbo].[PJLABDLY_SPK1]    Script Date: 12/21/2015 14:06:12 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
create procedure [dbo].[PJLABDLY_SPK1]  @parm1 varchar (10)   as
select * from PJLABDLY
where    docnbr     =  @parm1
order by docnbr, ldl_siteid, linenbr
GO
