USE [DEN_DEV_APP]
GO
/****** Object:  StoredProcedure [dbo].[PJTRAN_spurge]    Script Date: 12/21/2015 14:06:14 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
create procedure [dbo].[PJTRAN_spurge] @parm1 varchar (16) , @parm2 varchar (6) as
select * from PJTRAN
where
project = @parm1 and
fiscalNo >= @parm2 and
tr_status <> 'S'
GO
