USE [SHOPPERAPP]
GO
/****** Object:  Table [dbo].[Deduction]    Script Date: 12/21/2015 16:12:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Deduction](
	[AllId] [char](4) NOT NULL,
	[AllocDed] [smallint] NOT NULL,
	[ArrgDedAllow] [smallint] NOT NULL,
	[BaseId] [char](10) NOT NULL,
	[BaseType] [char](1) NOT NULL,
	[BoxLet] [char](2) NOT NULL,
	[BoxNbr] [char](3) NOT NULL,
	[BwkIntrv] [smallint] NOT NULL,
	[BwkMaxAmtPerPd] [float] NOT NULL,
	[BwkMaxPerYr] [smallint] NOT NULL,
	[BwkMinAmtPerPd] [float] NOT NULL,
	[BwkPaySeq] [char](1) NOT NULL,
	[BwkSchedule] [char](1) NOT NULL,
	[BwkStrtPer] [smallint] NOT NULL,
	[CalcMthd] [char](2) NOT NULL,
	[CalYr] [char](4) NOT NULL,
	[ChkSeq] [char](2) NOT NULL,
	[ChkSeqAll] [char](1) NOT NULL,
	[CpnyID] [char](10) NOT NULL,
	[CpnyTaxNbr] [char](20) NOT NULL,
	[Crtd_DateTime] [smalldatetime] NOT NULL,
	[Crtd_Prog] [char](8) NOT NULL,
	[Crtd_User] [char](10) NOT NULL,
	[DedGrpID] [char](10) NOT NULL,
	[DedId] [char](10) NOT NULL,
	[DedSequence] [smallint] NOT NULL,
	[DedType] [char](1) NOT NULL,
	[DefrdComp] [smallint] NOT NULL,
	[Descr] [char](30) NOT NULL,
	[EmpleeDed] [smallint] NOT NULL,
	[ExpAcct] [char](10) NOT NULL,
	[ExpSub] [char](24) NOT NULL,
	[ExpSubSrc] [char](1) NOT NULL,
	[FxdPctRate] [float] NOT NULL,
	[HeadId] [char](4) NOT NULL,
	[IncInDispEarn] [smallint] NOT NULL,
	[JointId] [char](4) NOT NULL,
	[Lifetime] [smallint] NOT NULL,
	[LUpd_DateTime] [smalldatetime] NOT NULL,
	[LUpd_Prog] [char](8) NOT NULL,
	[LUpd_User] [char](10) NOT NULL,
	[MarriedId] [char](4) NOT NULL,
	[MaxApplyFlg] [char](1) NOT NULL,
	[MaxDedAmt] [float] NOT NULL,
	[MaxSubjWage] [float] NOT NULL,
	[MinSubjWage] [float] NOT NULL,
	[MonIntrv] [smallint] NOT NULL,
	[MonMaxAmtPerPd] [float] NOT NULL,
	[MonMaxPerYr] [smallint] NOT NULL,
	[MonMinAmtPerPd] [float] NOT NULL,
	[MonStrtPer] [smallint] NOT NULL,
	[NoteId] [int] NOT NULL,
	[OmitRptEarn] [smallint] NOT NULL,
	[Pension] [smallint] NOT NULL,
	[PrntEmplr] [smallint] NOT NULL,
	[PrntZeroDed] [smallint] NOT NULL,
	[ProjBillable] [char](1) NOT NULL,
	[ProjImpact] [char](1) NOT NULL,
	[RoundToDollars] [smallint] NOT NULL,
	[S4Future01] [char](30) NOT NULL,
	[S4Future02] [char](30) NOT NULL,
	[S4Future03] [float] NOT NULL,
	[S4Future04] [float] NOT NULL,
	[S4Future05] [float] NOT NULL,
	[S4Future06] [float] NOT NULL,
	[S4Future07] [smalldatetime] NOT NULL,
	[S4Future08] [smalldatetime] NOT NULL,
	[S4Future09] [int] NOT NULL,
	[S4Future10] [int] NOT NULL,
	[S4Future11] [char](10) NOT NULL,
	[S4Future12] [char](10) NOT NULL,
	[Section457] [smallint] NOT NULL,
	[SingleId] [char](4) NOT NULL,
	[SmonIntrv] [smallint] NOT NULL,
	[SmonMaxAmtPerPd] [float] NOT NULL,
	[SmonMaxPerYr] [smallint] NOT NULL,
	[SmonMinAmtPerPd] [float] NOT NULL,
	[SmonPaySeq] [char](1) NOT NULL,
	[SmonSchedule] [char](1) NOT NULL,
	[SmonStrtPer] [smallint] NOT NULL,
	[State] [char](3) NOT NULL,
	[SubjAllEarnings] [smallint] NOT NULL,
	[SubjAllLaborCls] [smallint] NOT NULL,
	[SubjAllWrkloc] [smallint] NOT NULL,
	[Union_Cd] [char](10) NOT NULL,
	[UpdProject] [char](1) NOT NULL,
	[User1] [char](30) NOT NULL,
	[User2] [char](30) NOT NULL,
	[User3] [float] NOT NULL,
	[User4] [float] NOT NULL,
	[User5] [char](10) NOT NULL,
	[User6] [char](10) NOT NULL,
	[User7] [smalldatetime] NOT NULL,
	[User8] [smalldatetime] NOT NULL,
	[VendId] [char](15) NOT NULL,
	[WklyIntrv] [smallint] NOT NULL,
	[WklyMaxAmtPerPd] [float] NOT NULL,
	[WklyMaxPerYr] [smallint] NOT NULL,
	[WklyMinAmtPerPd] [float] NOT NULL,
	[WklyStrtPer] [smallint] NOT NULL,
	[WkPaySeq] [char](1) NOT NULL,
	[WkSchedule] [char](1) NOT NULL,
	[WthldAcct] [char](10) NOT NULL,
	[WthldSub] [char](24) NOT NULL,
	[WthldSubSrc] [char](1) NOT NULL,
	[tstamp] [timestamp] NOT NULL,
 CONSTRAINT [Deduction0] PRIMARY KEY CLUSTERED 
(
	[DedId] ASC,
	[CalYr] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
