USE [SHOPPERAPP]
GO
/****** Object:  Table [dbo].[PSSFABookCode]    Script Date: 12/21/2015 16:12:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PSSFABookCode](
	[BookCode] [char](10) NOT NULL,
	[BookDescr] [char](60) NOT NULL,
	[BookType] [char](1) NOT NULL,
	[CalcRemLife] [smallint] NOT NULL,
	[Crtd_DateTime] [smalldatetime] NOT NULL,
	[Crtd_Prog] [char](8) NOT NULL,
	[Crtd_User] [char](10) NOT NULL,
	[LedgerID] [char](10) NOT NULL,
	[LockDate] [smalldatetime] NOT NULL,
	[LockPeriod] [char](6) NOT NULL,
	[LUpd_DateTime] [smalldatetime] NOT NULL,
	[LUpd_Prog] [char](8) NOT NULL,
	[LUpd_User] [char](10) NOT NULL,
	[MMDays] [smallint] NOT NULL,
	[MMType] [char](1) NOT NULL,
	[PostGL] [smallint] NOT NULL,
	[User1] [char](30) NOT NULL,
	[User2] [char](30) NOT NULL,
	[User3] [float] NOT NULL,
	[User4] [float] NOT NULL,
	[User5] [char](10) NOT NULL,
	[User6] [char](10) NOT NULL,
	[User7] [smalldatetime] NOT NULL,
	[User8] [smalldatetime] NOT NULL,
	[YearType] [char](1) NOT NULL,
	[tstamp] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[PSSFABookCode] ADD  DEFAULT ('') FOR [BookCode]
GO
ALTER TABLE [dbo].[PSSFABookCode] ADD  DEFAULT ('') FOR [BookDescr]
GO
ALTER TABLE [dbo].[PSSFABookCode] ADD  DEFAULT ('') FOR [BookType]
GO
ALTER TABLE [dbo].[PSSFABookCode] ADD  DEFAULT ((0)) FOR [CalcRemLife]
GO
ALTER TABLE [dbo].[PSSFABookCode] ADD  DEFAULT ('01/01/1900') FOR [Crtd_DateTime]
GO
ALTER TABLE [dbo].[PSSFABookCode] ADD  DEFAULT ('') FOR [Crtd_Prog]
GO
ALTER TABLE [dbo].[PSSFABookCode] ADD  DEFAULT ('') FOR [Crtd_User]
GO
ALTER TABLE [dbo].[PSSFABookCode] ADD  DEFAULT ('') FOR [LedgerID]
GO
ALTER TABLE [dbo].[PSSFABookCode] ADD  DEFAULT ('01/01/1900') FOR [LockDate]
GO
ALTER TABLE [dbo].[PSSFABookCode] ADD  DEFAULT ('') FOR [LockPeriod]
GO
ALTER TABLE [dbo].[PSSFABookCode] ADD  DEFAULT ('01/01/1900') FOR [LUpd_DateTime]
GO
ALTER TABLE [dbo].[PSSFABookCode] ADD  DEFAULT ('') FOR [LUpd_Prog]
GO
ALTER TABLE [dbo].[PSSFABookCode] ADD  DEFAULT ('') FOR [LUpd_User]
GO
ALTER TABLE [dbo].[PSSFABookCode] ADD  DEFAULT ((0)) FOR [MMDays]
GO
ALTER TABLE [dbo].[PSSFABookCode] ADD  DEFAULT ('') FOR [MMType]
GO
ALTER TABLE [dbo].[PSSFABookCode] ADD  DEFAULT ((0)) FOR [PostGL]
GO
ALTER TABLE [dbo].[PSSFABookCode] ADD  DEFAULT ('') FOR [User1]
GO
ALTER TABLE [dbo].[PSSFABookCode] ADD  DEFAULT ('') FOR [User2]
GO
ALTER TABLE [dbo].[PSSFABookCode] ADD  DEFAULT ((0.00)) FOR [User3]
GO
ALTER TABLE [dbo].[PSSFABookCode] ADD  DEFAULT ((0.00)) FOR [User4]
GO
ALTER TABLE [dbo].[PSSFABookCode] ADD  DEFAULT ('') FOR [User5]
GO
ALTER TABLE [dbo].[PSSFABookCode] ADD  DEFAULT ('') FOR [User6]
GO
ALTER TABLE [dbo].[PSSFABookCode] ADD  DEFAULT ('01/01/1900') FOR [User7]
GO
ALTER TABLE [dbo].[PSSFABookCode] ADD  DEFAULT ('01/01/1900') FOR [User8]
GO
ALTER TABLE [dbo].[PSSFABookCode] ADD  DEFAULT ('') FOR [YearType]
GO
