USE [SHOPPERAPP]
GO
/****** Object:  Table [dbo].[XS_PrivacyLog]    Script Date: 12/21/2015 16:12:37 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[XS_PrivacyLog](
	[AppSrvr] [smallint] NOT NULL,
	[Crtd_DateTime] [smalldatetime] NOT NULL,
	[Crtd_Prog] [char](8) NOT NULL,
	[Crtd_Time] [char](6) NOT NULL,
	[Crtd_User] [char](10) NOT NULL,
	[Desktop] [smallint] NOT NULL,
	[ErrorCode] [smallint] NOT NULL,
	[ErrorDescr] [char](60) NOT NULL,
	[Log_Date] [smalldatetime] NOT NULL,
	[Log_Prog] [char](8) NOT NULL,
	[Log_Time] [char](6) NOT NULL,
	[Log_User] [char](10) NOT NULL,
	[LogId] [char](10) NOT NULL,
	[LUpd_DateTime] [smalldatetime] NOT NULL,
	[LUpd_Prog] [char](8) NOT NULL,
	[LUpd_Time] [char](6) NOT NULL,
	[LUpd_User] [char](10) NOT NULL,
	[ObjectType] [char](1) NOT NULL,
	[ReportFormat] [char](30) NOT NULL,
	[ReportFormatName] [char](30) NOT NULL,
	[ReportName] [char](30) NOT NULL,
	[ReportNbr] [char](5) NOT NULL,
	[ReportTitle] [char](30) NOT NULL,
	[S4Future01] [char](30) NOT NULL,
	[S4Future02] [char](30) NOT NULL,
	[S4Future03] [float] NOT NULL,
	[S4Future04] [float] NOT NULL,
	[S4Future05] [float] NOT NULL,
	[S4Future06] [float] NOT NULL,
	[S4Future07] [smalldatetime] NOT NULL,
	[S4Future08] [smalldatetime] NOT NULL,
	[S4Future09] [int] NOT NULL,
	[S4Future10] [int] NOT NULL,
	[S4Future11] [char](10) NOT NULL,
	[S4Future12] [char](10) NOT NULL,
	[ScreenId] [char](7) NOT NULL,
	[User1] [char](30) NOT NULL,
	[User2] [char](30) NOT NULL,
	[User3] [float] NOT NULL,
	[User4] [float] NOT NULL,
	[User5] [char](10) NOT NULL,
	[User6] [char](10) NOT NULL,
	[User7] [smalldatetime] NOT NULL,
	[User8] [smalldatetime] NOT NULL,
	[UserId] [char](47) NOT NULL,
	[tstamp] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT ((0)) FOR [AppSrvr]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT ('1/1/1900') FOR [Crtd_DateTime]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT (' ') FOR [Crtd_Prog]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT (' ') FOR [Crtd_Time]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT (' ') FOR [Crtd_User]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT ((0)) FOR [Desktop]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT ((0)) FOR [ErrorCode]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT (' ') FOR [ErrorDescr]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT ('1/1/1900') FOR [Log_Date]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT (' ') FOR [Log_Prog]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT (' ') FOR [Log_Time]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT (' ') FOR [Log_User]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT (' ') FOR [LogId]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT ('1/1/1900') FOR [LUpd_DateTime]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT (' ') FOR [LUpd_Prog]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT (' ') FOR [LUpd_Time]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT (' ') FOR [LUpd_User]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT (' ') FOR [ObjectType]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT (' ') FOR [ReportFormat]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT (' ') FOR [ReportFormatName]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT (' ') FOR [ReportName]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT (' ') FOR [ReportNbr]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT (' ') FOR [ReportTitle]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT (' ') FOR [S4Future01]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT (' ') FOR [S4Future02]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT ((0)) FOR [S4Future03]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT ((0)) FOR [S4Future04]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT ((0)) FOR [S4Future05]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT ((0)) FOR [S4Future06]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT ('1/1/1900') FOR [S4Future07]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT ('1/1/1900') FOR [S4Future08]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT ((0)) FOR [S4Future09]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT ((0)) FOR [S4Future10]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT (' ') FOR [S4Future11]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT (' ') FOR [S4Future12]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT (' ') FOR [ScreenId]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT (' ') FOR [User1]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT (' ') FOR [User2]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT ((0)) FOR [User3]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT ((0)) FOR [User4]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT (' ') FOR [User5]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT (' ') FOR [User6]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT ('1/1/1900') FOR [User7]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT ('1/1/1900') FOR [User8]
GO
ALTER TABLE [dbo].[XS_PrivacyLog] ADD  DEFAULT (' ') FOR [UserId]
GO
