USE [SHOPPERAPP]
GO
/****** Object:  Table [dbo].[frl_glx_ctrl]    Script Date: 12/21/2015 16:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[frl_glx_ctrl](
	[nat_seg_len] [tinyint] NOT NULL
) ON [PRIMARY]
GO
