USE [SHOPPERAPP]
GO
/****** Object:  Table [dbo].[RQReqDet]    Script Date: 12/21/2015 16:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RQReqDet](
	[Acct] [char](10) NOT NULL,
	[AddlCostPct] [float] NOT NULL,
	[AllocCntr] [smallint] NOT NULL,
	[AlternateID] [char](30) NOT NULL,
	[AltIDType] [char](1) NOT NULL,
	[AppvLevObt] [char](2) NOT NULL,
	[AppvLevReq] [char](2) NOT NULL,
	[BlktLineID] [smallint] NOT NULL,
	[BlktLineRef] [char](5) NOT NULL,
	[Budgeted] [char](1) NOT NULL,
	[Buyer] [char](10) NOT NULL,
	[CatalogInfo] [char](60) NOT NULL,
	[CnvFact] [float] NOT NULL,
	[ComitAmt] [float] NOT NULL,
	[CommitAmtLeft] [float] NOT NULL,
	[CostReceived] [float] NOT NULL,
	[CostReturned] [float] NOT NULL,
	[CostVouched] [float] NOT NULL,
	[CpnyID] [char](10) NOT NULL,
	[crtd_datetime] [smalldatetime] NOT NULL,
	[crtd_prog] [char](8) NOT NULL,
	[crtd_user] [char](10) NOT NULL,
	[CuryComitAmt] [float] NOT NULL,
	[CuryCostReceived] [float] NOT NULL,
	[CuryCostReturned] [float] NOT NULL,
	[CuryCostVouched] [float] NOT NULL,
	[CuryExtCost] [float] NOT NULL,
	[CuryID] [char](4) NOT NULL,
	[CuryMultDiv] [char](1) NOT NULL,
	[CuryRate] [float] NOT NULL,
	[CuryTaxAmt00] [float] NOT NULL,
	[CuryTaxAmt01] [float] NOT NULL,
	[CuryTaxAmt02] [float] NOT NULL,
	[CuryTaxAmt03] [float] NOT NULL,
	[CuryTxblAmt00] [float] NOT NULL,
	[CuryTxblAmt01] [float] NOT NULL,
	[CuryTxblAmt02] [float] NOT NULL,
	[CuryTxblAmt03] [float] NOT NULL,
	[CuryUnitCost] [float] NOT NULL,
	[Dept] [char](10) NOT NULL,
	[Descr] [char](60) NOT NULL,
	[ExtCost] [float] NOT NULL,
	[ExtWeight] [float] NOT NULL,
	[FlatRateLineNbr] [smallint] NOT NULL,
	[InclForecastUsageClc] [smallint] NOT NULL,
	[InvtID] [char](30) NOT NULL,
	[IRInclLeadTime] [smallint] NOT NULL,
	[ItemLineID] [smallint] NOT NULL,
	[ItemLineRef] [char](4) NOT NULL,
	[ItemReqNbr] [char](10) NOT NULL,
	[KitUnExpld] [float] NOT NULL,
	[Labor_Class_CD] [char](4) NOT NULL,
	[LineKey] [char](17) NOT NULL,
	[LineNbr] [smallint] NOT NULL,
	[lupd_datetime] [smalldatetime] NOT NULL,
	[lupd_prog] [char](8) NOT NULL,
	[lupd_user] [char](10) NOT NULL,
	[MaterialType] [char](10) NOT NULL,
	[NoteID] [int] NOT NULL,
	[OpenLine] [smallint] NOT NULL,
	[OrigPOLine] [smallint] NOT NULL,
	[OrigPOSeq] [char](1) NOT NULL,
	[PC_Flag] [char](1) NOT NULL,
	[PC_ID] [char](20) NOT NULL,
	[PC_Status] [char](1) NOT NULL,
	[PolicyLevObt] [char](2) NOT NULL,
	[PolicyLevReq] [char](2) NOT NULL,
	[PrefVendID] [char](15) NOT NULL,
	[Project] [char](16) NOT NULL,
	[PromiseDate] [smalldatetime] NOT NULL,
	[PurchaseFor] [char](2) NOT NULL,
	[Qty] [float] NOT NULL,
	[QtyRcvd] [float] NOT NULL,
	[QtyReturned] [float] NOT NULL,
	[QtyVouched] [float] NOT NULL,
	[RcptPctAct] [char](1) NOT NULL,
	[RcptPctMax] [float] NOT NULL,
	[RcptPctMin] [float] NOT NULL,
	[RcptStage] [char](1) NOT NULL,
	[ReasonCD] [char](6) NOT NULL,
	[ReqCntr] [char](2) NOT NULL,
	[ReqNbr] [char](10) NOT NULL,
	[RequiredDate] [smalldatetime] NOT NULL,
	[S4Future1] [char](30) NOT NULL,
	[S4Future2] [char](30) NOT NULL,
	[S4Future3] [float] NOT NULL,
	[S4Future4] [float] NOT NULL,
	[S4Future5] [float] NOT NULL,
	[S4Future6] [float] NOT NULL,
	[S4Future7] [smalldatetime] NOT NULL,
	[S4Future8] [smalldatetime] NOT NULL,
	[S4Future9] [int] NOT NULL,
	[S4Future10] [int] NOT NULL,
	[S4Future11] [char](10) NOT NULL,
	[S4Future12] [char](10) NOT NULL,
	[SeqNbr] [char](4) NOT NULL,
	[ShelfLife] [smallint] NOT NULL,
	[ShipAddr1] [char](60) NOT NULL,
	[ShipAddr2] [char](60) NOT NULL,
	[ShipAddrID] [char](10) NOT NULL,
	[ShipCity] [char](30) NOT NULL,
	[ShipCountry] [char](3) NOT NULL,
	[ShipFrom] [char](20) NOT NULL,
	[ShipName] [char](60) NOT NULL,
	[ShipState] [char](3) NOT NULL,
	[ShipViaID] [char](20) NOT NULL,
	[ShipZip] [char](10) NOT NULL,
	[SiteID] [char](10) NOT NULL,
	[SOLineRef] [char](5) NOT NULL,
	[SOOrdNbr] [char](15) NOT NULL,
	[SOSchedRef] [char](5) NOT NULL,
	[Status] [char](2) NOT NULL,
	[StepNbr] [smallint] NOT NULL,
	[Sub] [char](24) NOT NULL,
	[SupplrItem1] [char](20) NOT NULL,
	[SvcContractID] [char](10) NOT NULL,
	[SvcLineNbr] [smallint] NOT NULL,
	[Task] [char](32) NOT NULL,
	[TaxAmt00] [float] NOT NULL,
	[TaxAmt01] [float] NOT NULL,
	[TaxAmt02] [float] NOT NULL,
	[TaxAmt03] [float] NOT NULL,
	[TaxCalced] [char](1) NOT NULL,
	[TaxCat] [char](10) NOT NULL,
	[TaxID00] [char](10) NOT NULL,
	[TaxID01] [char](10) NOT NULL,
	[TaxID02] [char](10) NOT NULL,
	[TaxID03] [char](10) NOT NULL,
	[TaxIDDflt] [char](10) NOT NULL,
	[Transfer] [char](1) NOT NULL,
	[TxblAmt00] [float] NOT NULL,
	[TxblAmt01] [float] NOT NULL,
	[TxblAmt02] [float] NOT NULL,
	[TxblAmt03] [float] NOT NULL,
	[Unit] [char](6) NOT NULL,
	[UnitCost] [float] NOT NULL,
	[UnitMultDiv] [char](1) NOT NULL,
	[UnitWeight] [float] NOT NULL,
	[User1] [char](30) NOT NULL,
	[User2] [char](30) NOT NULL,
	[User3] [float] NOT NULL,
	[User4] [float] NOT NULL,
	[User5] [char](10) NOT NULL,
	[User6] [char](10) NOT NULL,
	[User7] [smalldatetime] NOT NULL,
	[User8] [smalldatetime] NOT NULL,
	[VendItemID] [char](30) NOT NULL,
	[VouchStage] [char](1) NOT NULL,
	[WOBOMSeq] [smallint] NOT NULL,
	[WOCostType] [char](2) NOT NULL,
	[WONbr] [char](10) NOT NULL,
	[WOStepNbr] [smallint] NOT NULL,
	[tstamp] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
