USE [DEN_DEV_APP]
GO
/****** Object:  Table [dbo].[xReportUsage]    Script Date: 12/21/2015 14:05:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[xReportUsage](
	[UsageID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ReportID] [char](30) NOT NULL,
	[Reportformat] [char](30) NOT NULL,
	[RI_Where] [char](255) NOT NULL,
	[UserId] [char](47) NOT NULL,
	[crtd_datetime] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_xReportUsage_1] PRIMARY KEY CLUSTERED 
(
	[UsageID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
