USE [DEN_DEV_APP]
GO
/****** Object:  Table [dbo].[SOShipHeader]    Script Date: 12/21/2015 14:05:27 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SOShipHeader](
	[AccrDocDate] [smalldatetime] NOT NULL,
	[AccrPerPost] [char](6) NOT NULL,
	[AccrRevAcct] [char](10) NOT NULL,
	[AccrRevSub] [char](24) NOT NULL,
	[AccrShipRegisterID] [char](10) NOT NULL,
	[AddressType] [char](1) NOT NULL,
	[AdminHold] [smallint] NOT NULL,
	[AppliedToDocRef] [char](15) NOT NULL,
	[ARAcct] [char](10) NOT NULL,
	[ARBatNbr] [char](10) NOT NULL,
	[ARDocType] [char](2) NOT NULL,
	[ARSub] [char](24) NOT NULL,
	[ASID] [int] NOT NULL,
	[ASID01] [int] NOT NULL,
	[AuthNbr] [char](20) NOT NULL,
	[AutoReleaseReturn] [smallint] NOT NULL,
	[BalDue] [float] NOT NULL,
	[BillAddr1] [char](60) NOT NULL,
	[BillAddr2] [char](60) NOT NULL,
	[BillAddrSpecial] [smallint] NOT NULL,
	[BillAttn] [char](30) NOT NULL,
	[BillCity] [char](30) NOT NULL,
	[BillCountry] [char](3) NOT NULL,
	[BillName] [char](60) NOT NULL,
	[BillPhone] [char](30) NOT NULL,
	[BillState] [char](3) NOT NULL,
	[BillThruProject] [smallint] NOT NULL,
	[BillZip] [char](10) NOT NULL,
	[BlktOrdNbr] [char](15) NOT NULL,
	[BMICost] [float] NOT NULL,
	[BMICuryID] [char](4) NOT NULL,
	[BMIEffDate] [smalldatetime] NOT NULL,
	[BMIMultDiv] [char](1) NOT NULL,
	[BMIRate] [float] NOT NULL,
	[BMIRtTp] [char](6) NOT NULL,
	[BookCntr] [smallint] NOT NULL,
	[BookCntrMisc] [int] NOT NULL,
	[BoxCntr] [smallint] NOT NULL,
	[BuildActQty] [float] NOT NULL,
	[BuildCmpltDate] [smalldatetime] NOT NULL,
	[BuildInvtID] [char](30) NOT NULL,
	[BuildLotSerCntr] [int] NOT NULL,
	[BuildQty] [float] NOT NULL,
	[BuildTotalCost] [float] NOT NULL,
	[BuyerID] [char](10) NOT NULL,
	[BuyerName] [char](60) NOT NULL,
	[CancelBO] [smallint] NOT NULL,
	[Cancelled] [smallint] NOT NULL,
	[CancelOrder] [smallint] NOT NULL,
	[CertID] [char](2) NOT NULL,
	[CertNoteID] [int] NOT NULL,
	[ChainDisc] [char](15) NOT NULL,
	[CmmnPct] [float] NOT NULL,
	[ConsolInv] [smallint] NOT NULL,
	[ContractNbr] [char](25) NOT NULL,
	[CpnyID] [char](10) NOT NULL,
	[CreditApprDays] [smallint] NOT NULL,
	[CreditApprLimit] [float] NOT NULL,
	[CreditChk] [smallint] NOT NULL,
	[CreditHold] [smallint] NOT NULL,
	[CreditHoldDate] [smalldatetime] NOT NULL,
	[Crtd_DateTime] [smalldatetime] NOT NULL,
	[Crtd_Prog] [char](8) NOT NULL,
	[Crtd_User] [char](10) NOT NULL,
	[CuryBalDue] [float] NOT NULL,
	[CuryBuildTotCost] [float] NOT NULL,
	[CuryEffDate] [smalldatetime] NOT NULL,
	[CuryID] [char](4) NOT NULL,
	[CuryMultDiv] [char](1) NOT NULL,
	[CuryPremFrtAmt] [float] NOT NULL,
	[CuryRate] [float] NOT NULL,
	[CuryRateType] [char](6) NOT NULL,
	[CuryTotFrtCost] [float] NOT NULL,
	[CuryTotFrtInvc] [float] NOT NULL,
	[CuryTotInvc] [float] NOT NULL,
	[CuryTotLineDisc] [float] NOT NULL,
	[CuryTotMerch] [float] NOT NULL,
	[CuryTotMisc] [float] NOT NULL,
	[CuryTotPmt] [float] NOT NULL,
	[CuryTotTax] [float] NOT NULL,
	[CuryTotTxbl] [float] NOT NULL,
	[CuryWholeOrdDisc] [float] NOT NULL,
	[CustGLClassID] [char](4) NOT NULL,
	[CustID] [char](15) NOT NULL,
	[CustOrdNbr] [char](25) NOT NULL,
	[DateCancelled] [smalldatetime] NOT NULL,
	[Dept] [char](30) NOT NULL,
	[DiscAcct] [char](10) NOT NULL,
	[DiscPct] [float] NOT NULL,
	[DiscSub] [char](24) NOT NULL,
	[Div] [char](30) NOT NULL,
	[DropShip] [smallint] NOT NULL,
	[EDI810] [smallint] NOT NULL,
	[EDI856] [smallint] NOT NULL,
	[EDIASNProcNbr] [char](10) NOT NULL,
	[EDIInvcProcNbr] [char](10) NOT NULL,
	[ETADate] [smalldatetime] NOT NULL,
	[FOBID] [char](15) NOT NULL,
	[FrtAcct] [char](10) NOT NULL,
	[FrtCollect] [smallint] NOT NULL,
	[FrtSub] [char](24) NOT NULL,
	[FrtTermsID] [char](10) NOT NULL,
	[GeoCode] [char](10) NOT NULL,
	[INBatNbr] [char](10) NOT NULL,
	[InvcDate] [smalldatetime] NOT NULL,
	[InvcNbr] [char](15) NOT NULL,
	[InvcPrint] [smallint] NOT NULL,
	[LanguageID] [char](4) NOT NULL,
	[LastAppendDate] [smalldatetime] NOT NULL,
	[LastAppendTime] [smalldatetime] NOT NULL,
	[LineCntr] [smallint] NOT NULL,
	[LotSerialHold] [smallint] NOT NULL,
	[LUpd_DateTime] [smalldatetime] NOT NULL,
	[LUpd_Prog] [char](8) NOT NULL,
	[LUpd_User] [char](10) NOT NULL,
	[MarkFor] [smallint] NOT NULL,
	[MiscChrgCntr] [smallint] NOT NULL,
	[NextFunctionClass] [char](4) NOT NULL,
	[NextFunctionID] [char](8) NOT NULL,
	[NoteID] [int] NOT NULL,
	[OKToAppend] [smallint] NOT NULL,
	[OrdDate] [smalldatetime] NOT NULL,
	[OrdNbr] [char](15) NOT NULL,
	[OverridePerPost] [smallint] NOT NULL,
	[PackDate] [smalldatetime] NOT NULL,
	[PerClosed] [char](6) NOT NULL,
	[PerPost] [char](6) NOT NULL,
	[PickDate] [smalldatetime] NOT NULL,
	[PmtCntr] [smallint] NOT NULL,
	[PremFrt] [smallint] NOT NULL,
	[PremFrtAmt] [float] NOT NULL,
	[Priority] [smallint] NOT NULL,
	[ProjectID] [char](16) NOT NULL,
	[RelDate] [smalldatetime] NOT NULL,
	[ReleaseValue] [float] NOT NULL,
	[RequireStepAssy] [smallint] NOT NULL,
	[RequireStepInsp] [smallint] NOT NULL,
	[S4Future01] [char](30) NOT NULL,
	[S4Future02] [char](30) NOT NULL,
	[S4Future03] [float] NOT NULL,
	[S4Future04] [float] NOT NULL,
	[S4Future05] [float] NOT NULL,
	[S4Future06] [float] NOT NULL,
	[S4Future07] [smalldatetime] NOT NULL,
	[S4Future08] [smalldatetime] NOT NULL,
	[S4Future09] [int] NOT NULL,
	[S4Future10] [int] NOT NULL,
	[S4Future11] [char](10) NOT NULL,
	[S4Future12] [char](10) NOT NULL,
	[SellingSiteID] [char](10) NOT NULL,
	[ShipAddr1] [char](60) NOT NULL,
	[ShipAddr2] [char](60) NOT NULL,
	[ShipAddrID] [char](10) NOT NULL,
	[ShipAddrSpecial] [smallint] NOT NULL,
	[ShipAttn] [char](30) NOT NULL,
	[ShipCity] [char](30) NOT NULL,
	[ShipCmplt] [smallint] NOT NULL,
	[ShipCountry] [char](3) NOT NULL,
	[ShipCustID] [char](15) NOT NULL,
	[ShipDateAct] [smalldatetime] NOT NULL,
	[ShipDatePlan] [smalldatetime] NOT NULL,
	[ShipGeoCode] [char](10) NOT NULL,
	[ShipName] [char](60) NOT NULL,
	[ShipperID] [char](15) NOT NULL,
	[ShipPhone] [char](30) NOT NULL,
	[ShippingConfirmed] [smallint] NOT NULL,
	[ShippingManifested] [smallint] NOT NULL,
	[ShipRegisterID] [char](10) NOT NULL,
	[ShipSiteID] [char](10) NOT NULL,
	[ShipState] [char](3) NOT NULL,
	[ShiptoID] [char](10) NOT NULL,
	[ShiptoType] [char](1) NOT NULL,
	[ShipVendAddrID] [char](10) NOT NULL,
	[ShipVendID] [char](15) NOT NULL,
	[ShipViaID] [char](15) NOT NULL,
	[ShipZip] [char](10) NOT NULL,
	[SiteID] [char](10) NOT NULL,
	[SlsperID] [char](10) NOT NULL,
	[SOTypeID] [char](4) NOT NULL,
	[Status] [char](1) NOT NULL,
	[TaxID00] [char](10) NOT NULL,
	[TaxID01] [char](10) NOT NULL,
	[TaxID02] [char](10) NOT NULL,
	[TaxID03] [char](10) NOT NULL,
	[TermsID] [char](2) NOT NULL,
	[TotBoxes] [smallint] NOT NULL,
	[TotCommCost] [float] NOT NULL,
	[TotCost] [float] NOT NULL,
	[TotFrtCost] [float] NOT NULL,
	[TotFrtInvc] [float] NOT NULL,
	[TotInvc] [float] NOT NULL,
	[TotLineDisc] [float] NOT NULL,
	[TotMerch] [float] NOT NULL,
	[TotMisc] [float] NOT NULL,
	[TotPallets] [smallint] NOT NULL,
	[TotPmt] [float] NOT NULL,
	[TotShipWght] [float] NOT NULL,
	[TotTax] [float] NOT NULL,
	[TotTxbl] [float] NOT NULL,
	[TrackingNbr] [char](25) NOT NULL,
	[TransitTime] [smallint] NOT NULL,
	[User1] [char](30) NOT NULL,
	[User10] [smalldatetime] NOT NULL,
	[User2] [char](30) NOT NULL,
	[User3] [char](30) NOT NULL,
	[User4] [char](30) NOT NULL,
	[User5] [float] NOT NULL,
	[User6] [float] NOT NULL,
	[User7] [char](10) NOT NULL,
	[User8] [char](10) NOT NULL,
	[User9] [smalldatetime] NOT NULL,
	[WeekendDelivery] [smallint] NOT NULL,
	[WholeOrdDisc] [float] NOT NULL,
	[WorkflowID] [int] NOT NULL,
	[WorkflowStatus] [char](1) NOT NULL,
	[WSID] [int] NOT NULL,
	[WSID01] [int] NOT NULL,
	[Zone] [char](6) NOT NULL,
	[tstamp] [timestamp] NOT NULL,
 CONSTRAINT [SOShipHeader0] PRIMARY KEY CLUSTERED 
(
	[CpnyID] ASC,
	[ShipperID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
