USE [DEN_DEV_APP]
GO
/****** Object:  Table [dbo].[PSSLLTmpParms]    Script Date: 12/21/2015 14:05:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PSSLLTmpParms](
	[AccessNbr] [smallint] NOT NULL,
	[Crtd_DateTime] [smalldatetime] NOT NULL,
	[Crtd_Prog] [char](8) NOT NULL,
	[Crtd_User] [char](10) NOT NULL,
	[DefaultAmt] [float] NOT NULL,
	[LoanNo] [char](20) NOT NULL,
	[Lupd_DateTime] [smalldatetime] NOT NULL,
	[Lupd_Prog] [char](8) NOT NULL,
	[Lupd_User] [char](10) NOT NULL,
	[ScrnNbr] [char](7) NOT NULL,
	[User1] [char](30) NOT NULL,
	[User2] [char](30) NOT NULL,
	[User3] [float] NOT NULL,
	[User4] [float] NOT NULL,
	[User5] [char](10) NOT NULL,
	[User6] [char](10) NOT NULL,
	[User7] [smalldatetime] NOT NULL,
	[User8] [smalldatetime] NOT NULL,
	[UserId] [char](47) NOT NULL,
	[tstamp] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[PSSLLTmpParms] ADD  DEFAULT ((0)) FOR [AccessNbr]
GO
ALTER TABLE [dbo].[PSSLLTmpParms] ADD  DEFAULT ('01/01/1900') FOR [Crtd_DateTime]
GO
ALTER TABLE [dbo].[PSSLLTmpParms] ADD  DEFAULT ('') FOR [Crtd_Prog]
GO
ALTER TABLE [dbo].[PSSLLTmpParms] ADD  DEFAULT ('') FOR [Crtd_User]
GO
ALTER TABLE [dbo].[PSSLLTmpParms] ADD  DEFAULT ((0.00)) FOR [DefaultAmt]
GO
ALTER TABLE [dbo].[PSSLLTmpParms] ADD  DEFAULT ('') FOR [LoanNo]
GO
ALTER TABLE [dbo].[PSSLLTmpParms] ADD  DEFAULT ('01/01/1900') FOR [Lupd_DateTime]
GO
ALTER TABLE [dbo].[PSSLLTmpParms] ADD  DEFAULT ('') FOR [Lupd_Prog]
GO
ALTER TABLE [dbo].[PSSLLTmpParms] ADD  DEFAULT ('') FOR [Lupd_User]
GO
ALTER TABLE [dbo].[PSSLLTmpParms] ADD  DEFAULT ('') FOR [ScrnNbr]
GO
ALTER TABLE [dbo].[PSSLLTmpParms] ADD  DEFAULT ('') FOR [User1]
GO
ALTER TABLE [dbo].[PSSLLTmpParms] ADD  DEFAULT ('') FOR [User2]
GO
ALTER TABLE [dbo].[PSSLLTmpParms] ADD  DEFAULT ((0.00)) FOR [User3]
GO
ALTER TABLE [dbo].[PSSLLTmpParms] ADD  DEFAULT ((0.00)) FOR [User4]
GO
ALTER TABLE [dbo].[PSSLLTmpParms] ADD  DEFAULT ('') FOR [User5]
GO
ALTER TABLE [dbo].[PSSLLTmpParms] ADD  DEFAULT ('') FOR [User6]
GO
ALTER TABLE [dbo].[PSSLLTmpParms] ADD  DEFAULT ('01/01/1900') FOR [User7]
GO
ALTER TABLE [dbo].[PSSLLTmpParms] ADD  DEFAULT ('01/01/1900') FOR [User8]
GO
ALTER TABLE [dbo].[PSSLLTmpParms] ADD  DEFAULT ('') FOR [UserId]
GO
