USE [DEN_DEV_APP]
GO
/****** Object:  Table [dbo].[smRentHeader]    Script Date: 12/21/2015 14:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[smRentHeader](
	[Acct] [char](10) NOT NULL,
	[Basis] [char](2) NOT NULL,
	[BillCurrent] [float] NOT NULL,
	[BillDate] [smalldatetime] NOT NULL,
	[BillingStatus] [char](1) NOT NULL,
	[BillLTD] [float] NOT NULL,
	[BillPTD] [float] NOT NULL,
	[BillYtd] [float] NOT NULL,
	[BranchID] [char](10) NOT NULL,
	[Contact] [char](30) NOT NULL,
	[ContractID] [char](10) NOT NULL,
	[CpnyID] [char](10) NOT NULL,
	[Crtd_DateTime] [smalldatetime] NOT NULL,
	[Crtd_Prog] [char](8) NOT NULL,
	[Crtd_User] [char](10) NOT NULL,
	[CustId] [char](15) NOT NULL,
	[CustName] [char](60) NOT NULL,
	[CustOrdNbr] [char](15) NOT NULL,
	[DateClosed] [smalldatetime] NOT NULL,
	[DateStarted] [smalldatetime] NOT NULL,
	[EquipDescr] [char](50) NOT NULL,
	[EquipID] [char](10) NOT NULL,
	[Frequency] [char](1) NOT NULL,
	[Internal] [smallint] NOT NULL,
	[LastDate] [smalldatetime] NOT NULL,
	[LineCounter] [smallint] NOT NULL,
	[Location] [char](50) NOT NULL,
	[Lupd_DateTime] [smalldatetime] NOT NULL,
	[Lupd_Prog] [char](8) NOT NULL,
	[Lupd_User] [char](10) NOT NULL,
	[ManufID] [char](10) NOT NULL,
	[MiscChrg] [float] NOT NULL,
	[MiscChrgBilled] [smallint] NOT NULL,
	[MiscDescr] [char](40) NOT NULL,
	[MiscType] [char](1) NOT NULL,
	[ModelID] [char](40) NOT NULL,
	[Multiplier] [float] NOT NULL,
	[NoteID] [int] NOT NULL,
	[PerNbr] [char](6) NOT NULL,
	[Phone] [char](15) NOT NULL,
	[ProjectID] [char](16) NOT NULL,
	[RentalID] [char](10) NOT NULL,
	[RH_ID01] [char](30) NOT NULL,
	[RH_ID02] [char](30) NOT NULL,
	[RH_ID03] [char](20) NOT NULL,
	[RH_ID04] [char](20) NOT NULL,
	[RH_ID05] [char](10) NOT NULL,
	[RH_ID06] [char](10) NOT NULL,
	[RH_ID07] [char](4) NOT NULL,
	[RH_ID08] [float] NOT NULL,
	[RH_ID09] [smalldatetime] NOT NULL,
	[RH_ID10] [smallint] NOT NULL,
	[SerialNbr] [char](30) NOT NULL,
	[Siteid] [char](10) NOT NULL,
	[SiteName] [char](30) NOT NULL,
	[SlsPerId] [char](10) NOT NULL,
	[Status] [char](1) NOT NULL,
	[Sub] [char](24) NOT NULL,
	[TaskId] [char](32) NOT NULL,
	[TransDate] [smalldatetime] NOT NULL,
	[TransId] [char](10) NOT NULL,
	[TransTime] [char](4) NOT NULL,
	[UpdateStatus] [smallint] NOT NULL,
	[User1] [char](30) NOT NULL,
	[User2] [char](30) NOT NULL,
	[User3] [float] NOT NULL,
	[User4] [float] NOT NULL,
	[User5] [char](10) NOT NULL,
	[User6] [char](10) NOT NULL,
	[User7] [smalldatetime] NOT NULL,
	[User8] [smalldatetime] NOT NULL,
	[UserID] [char](47) NOT NULL,
	[tstamp] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
