USE [DEN_DEV_APP]
GO
/****** Object:  Table [dbo].[BRHeader]    Script Date: 12/21/2015 14:05:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BRHeader](
	[AcctID] [char](10) NOT NULL,
	[BankCleared] [float] NOT NULL,
	[BankOS] [float] NOT NULL,
	[BBBegBal] [float] NOT NULL,
	[BBChkClrd] [float] NOT NULL,
	[BBDepClrd] [float] NOT NULL,
	[BBDiff] [float] NOT NULL,
	[BBEndBalC] [float] NOT NULL,
	[BBEndBalS] [float] NOT NULL,
	[CBankBal] [float] NOT NULL,
	[CGLBal] [float] NOT NULL,
	[CpnyId] [char](10) NOT NULL,
	[Crtd_DateTime] [smalldatetime] NOT NULL,
	[Crtd_Prog] [char](8) NOT NULL,
	[Crtd_User] [char](10) NOT NULL,
	[CuryBankCleared] [float] NOT NULL,
	[CuryBankOS] [float] NOT NULL,
	[CuryBBBegBal] [float] NOT NULL,
	[CuryBBChkClrd] [float] NOT NULL,
	[CuryBBDepClrd] [float] NOT NULL,
	[CuryBBDiff] [float] NOT NULL,
	[CuryBBEndBalC] [float] NOT NULL,
	[CuryBBEndBalS] [float] NOT NULL,
	[CuryCBankBal] [float] NOT NULL,
	[CuryCGLBal] [float] NOT NULL,
	[CuryId] [char](4) NOT NULL,
	[CuryGLAcctBal] [float] NOT NULL,
	[CuryGLChkClrd] [float] NOT NULL,
	[CuryGLCleared] [float] NOT NULL,
	[CuryGLDepClrd] [float] NOT NULL,
	[CuryGLDiff] [float] NOT NULL,
	[CuryGLEndBalC] [float] NOT NULL,
	[CuryGLEndBalS] [float] NOT NULL,
	[CuryGLOS] [float] NOT NULL,
	[CuryMultDiv] [char](1) NOT NULL,
	[CuryRate] [float] NOT NULL,
	[CuryRBankBal] [float] NOT NULL,
	[CuryRGLBal] [float] NOT NULL,
	[FutureC1] [char](30) NOT NULL,
	[FutureC2] [char](10) NOT NULL,
	[FutureD1] [smalldatetime] NOT NULL,
	[FutureF1] [float] NOT NULL,
	[FutureI1] [int] NOT NULL,
	[FutureL1] [smallint] NOT NULL,
	[GLAcctBal] [float] NOT NULL,
	[GLChkClrd] [float] NOT NULL,
	[GLCleared] [float] NOT NULL,
	[GLDepClrd] [float] NOT NULL,
	[GLDiff] [float] NOT NULL,
	[GLEndBalC] [float] NOT NULL,
	[GLEndBalS] [float] NOT NULL,
	[GLOS] [float] NOT NULL,
	[NoteID] [int] NOT NULL,
	[LUpd_DateTime] [smalldatetime] NOT NULL,
	[LUpd_Prog] [char](8) NOT NULL,
	[LUpd_User] [char](10) NOT NULL,
	[RBankBal] [float] NOT NULL,
	[ReconPerNbr] [char](6) NOT NULL,
	[RGLBal] [float] NOT NULL,
	[S4Future01] [char](30) NOT NULL,
	[S4Future02] [char](30) NOT NULL,
	[S4Future03] [float] NOT NULL,
	[S4Future04] [float] NOT NULL,
	[S4Future05] [float] NOT NULL,
	[S4Future06] [float] NOT NULL,
	[S4Future07] [smalldatetime] NOT NULL,
	[S4Future08] [smalldatetime] NOT NULL,
	[S4Future09] [int] NOT NULL,
	[S4Future10] [int] NOT NULL,
	[S4Future11] [char](10) NOT NULL,
	[S4Future12] [char](10) NOT NULL,
	[SetUpID] [char](4) NOT NULL,
	[UserC1] [char](30) NOT NULL,
	[UserC2] [char](30) NOT NULL,
	[UserC3] [char](10) NOT NULL,
	[UserC4] [char](10) NOT NULL,
	[UserD1] [smalldatetime] NOT NULL,
	[UserD2] [smalldatetime] NOT NULL,
	[UserF1] [float] NOT NULL,
	[UserF2] [float] NOT NULL,
	[UserI1] [int] NOT NULL,
	[UserI2] [int] NOT NULL,
	[UserL1] [smallint] NOT NULL,
	[UserL2] [smallint] NOT NULL,
	[tstamp] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
