USE [DALLASAPP]
GO
/****** Object:  View [dbo].[xqaud05]    Script Date: 12/21/2015 13:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[xqaud05]

as

SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'alloc_method_cd' as Field, replace(cPre.alloc_method_cd,'''','') as PreValue, replace(cPost.alloc_method_cd,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.alloc_method_cd,'') <> isnull(cPost.alloc_method_cd,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'BaseCuryId' as Field, replace(cPre.BaseCuryId,'''','') as PreValue, replace(cPost.BaseCuryId,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.BaseCuryId,'') <> isnull(cPost.BaseCuryId,'')) or am.AProcess = 'I') UNION ALL
SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'bf_values_switch' as Field, replace(cPre.bf_values_switch,'''','') as PreValue, replace(cPost.bf_values_switch,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.bf_values_switch,'') <> isnull(cPost.bf_values_switch,'')) or am.AProcess = 'I') UNION ALL
SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'billcuryfixedrate' as Field, replace(cPre.billcuryfixedrate,'''','') as PreValue, replace(cPost.billcuryfixedrate,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.billcuryfixedrate,'') <> isnull(cPost.billcuryfixedrate,'')) or am.AProcess = 'I') UNION ALL
SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'billcuryid' as Field, replace(cPre.billcuryid,'''','') as PreValue, replace(cPost.billcuryid,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.billcuryid,'') <> isnull(cPost.billcuryid,'')) or am.AProcess = 'I') UNION ALL
SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'billratetypeid' as Field, replace(cPre.billratetypeid,'''','') as PreValue, replace(cPost.billratetypeid,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.billratetypeid,'') <> isnull(cPost.billratetypeid,'')) or am.AProcess = 'I') UNION ALL
SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'contract' as Field, replace(cPre.contract,'''','') as PreValue, replace(cPost.contract,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.contract,'') <> isnull(cPost.contract,'')) or am.AProcess = 'I') UNION ALL
SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'contract_type' as Field, replace(cPre.contract_type,'''','') as PreValue, replace(cPost.contract_type,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.contract_type,'') <> isnull(cPost.contract_type,'')) or am.AProcess = 'I') UNION ALL

--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'CpnyId' as Field, replace(cPre.CpnyId,'''','') as PreValue, replace(cPost.CpnyId,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.CpnyId,'') <> isnull(cPost.CpnyId,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'crtd_datetime' as Field, replace(cPre.crtd_datetime,'''','') as PreValue, replace(cPost.crtd_datetime,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.crtd_datetime,'') <> isnull(cPost.crtd_datetime,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'crtd_prog' as Field, replace(cPre.crtd_prog,'''','') as PreValue, replace(cPost.crtd_prog,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.crtd_prog,'') <> isnull(cPost.crtd_prog,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'crtd_user' as Field, replace(cPre.crtd_user,'''','') as PreValue, replace(cPost.crtd_user,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.crtd_user,'') <> isnull(cPost.crtd_user,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'CuryId' as Field, replace(cPre.CuryId,'''','') as PreValue, replace(cPost.CuryId,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.CuryId,'') <> isnull(cPost.CuryId,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'CuryRateType' as Field, replace(cPre.CuryRateType,'''','') as PreValue, replace(cPost.CuryRateType,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.CuryRateType,'') <> isnull(cPost.CuryRateType,'')) or am.AProcess = 'I') UNION ALL

SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'customer' as Field, replace(cPre.customer,'''','') as PreValue, replace(cPost.customer,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.customer,'') <> isnull(cPost.customer,'')) or am.AProcess = 'I') UNION ALL
SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'end_date' as Field, replace(cPre.end_date,'''','') as PreValue, replace(cPost.end_date,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.end_date,'') <> isnull(cPost.end_date,'')) or am.AProcess = 'I') UNION ALL
SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'gl_subacct' as Field, replace(cPre.gl_subacct,'''','') as PreValue, replace(cPost.gl_subacct,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.gl_subacct,'') <> isnull(cPost.gl_subacct,'')) or am.AProcess = 'I') UNION ALL
SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'labor_gl_acct' as Field, replace(cPre.labor_gl_acct,'''','') as PreValue, replace(cPost.labor_gl_acct,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.labor_gl_acct,'') <> isnull(cPost.labor_gl_acct,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'lupd_user' as Field, replace(cPre.lupd_user,'''','') as PreValue, replace(cPost.lupd_user,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.lupd_user,'') <> isnull(cPost.lupd_user,'')) or am.AProcess = 'I') UNION ALL
SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'manager1' as Field, replace(cPre.manager1,'''','') as PreValue, replace(cPost.manager1,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.manager1,'') <> isnull(cPost.manager1,'')) or am.AProcess = 'I') UNION ALL
SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'manager2' as Field, replace(cPre.manager2,'''','') as PreValue, replace(cPost.manager2,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.manager2,'') <> isnull(cPost.manager2,'')) or am.AProcess = 'I') UNION ALL

--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'MSPData' as Field, replace(cPre.MSPData,'''','') as PreValue, replace(cPost.MSPData,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.MSPData,'') <> isnull(cPost.MSPData,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'MSPInterface' as Field, replace(cPre.MSPInterface,'''','') as PreValue, replace(cPost.MSPInterface,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.MSPInterface,'') <> isnull(cPost.MSPInterface,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'MSPProj_ID' as Field, replace(cPre.MSPProj_ID,'''','') as PreValue, replace(cPost.MSPProj_ID,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.MSPProj_ID,'') <> isnull(cPost.MSPProj_ID,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'noteid' as Field, replace(cPre.noteid,'''','') as PreValue, replace(cPost.noteid,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.noteid,'') <> isnull(cPost.noteid,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'opportunityID' as Field, replace(cPre.opportunityID,'''','') as PreValue, replace(cPost.opportunityID,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.opportunityID,'') <> isnull(cPost.opportunityID,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'pm_id01' as Field, replace(cPre.pm_id01,'''','') as PreValue, replace(cPost.pm_id01,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.pm_id01,'') <> isnull(cPost.pm_id01,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'pm_id02' as Field, replace(cPre.pm_id02,'''','') as PreValue, replace(cPost.pm_id02,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.pm_id02,'') <> isnull(cPost.pm_id02,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'pm_id03' as Field, replace(cPre.pm_id03,'''','') as PreValue, replace(cPost.pm_id03,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.pm_id03,'') <> isnull(cPost.pm_id03,'')) or am.AProcess = 'I') UNION ALL

--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'pm_id04' as Field, replace(cPre.pm_id04,'''','') as PreValue, replace(cPost.pm_id04,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.pm_id04,'') <> isnull(cPost.pm_id04,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'pm_id05' as Field, replace(cPre.pm_id05,'''','') as PreValue, replace(cPost.pm_id05,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.pm_id05,'') <> isnull(cPost.pm_id05,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'pm_id06' as Field, replace(cPre.pm_id06,'''','') as PreValue, replace(cPost.pm_id06,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.pm_id06,'') <> isnull(cPost.pm_id06,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'pm_id07' as Field, replace(cPre.pm_id07,'''','') as PreValue, replace(cPost.pm_id07,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.pm_id07,'') <> isnull(cPost.pm_id07,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'pm_id08' as Field, replace(cPre.pm_id08,'''','') as PreValue, replace(cPost.pm_id08,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.pm_id08,'') <> isnull(cPost.pm_id08,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'pm_id09' as Field, replace(cPre.pm_id09,'''','') as PreValue, replace(cPost.pm_id09,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.pm_id09,'') <> isnull(cPost.pm_id09,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'pm_id10' as Field, replace(cPre.pm_id10,'''','') as PreValue, replace(cPost.pm_id10,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.pm_id10,'') <> isnull(cPost.pm_id10,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'pm_id31' as Field, replace(cPre.pm_id31,'''','') as PreValue, replace(cPost.pm_id31,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.pm_id31,'') <> isnull(cPost.pm_id31,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'pm_id32' as Field, replace(cPre.pm_id32,'''','') as PreValue, replace(cPost.pm_id32,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.pm_id32,'') <> isnull(cPost.pm_id32,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'pm_id33' as Field, replace(cPre.pm_id33,'''','') as PreValue, replace(cPost.pm_id33,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.pm_id33,'') <> isnull(cPost.pm_id33,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'pm_id34' as Field, replace(cPre.pm_id34,'''','') as PreValue, replace(cPost.pm_id34,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.pm_id34,'') <> isnull(cPost.pm_id34,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'pm_id35' as Field, replace(cPre.pm_id35,'''','') as PreValue, replace(cPost.pm_id35,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.pm_id35,'') <> isnull(cPost.pm_id35,'')) or am.AProcess = 'I') UNION ALL

--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'pm_id36' as Field, replace(cPre.pm_id36,'''','') as PreValue, replace(cPost.pm_id36,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.pm_id36,'') <> isnull(cPost.pm_id36,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'pm_id37' as Field, replace(cPre.pm_id37,'''','') as PreValue, replace(cPost.pm_id37,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.pm_id37,'') <> isnull(cPost.pm_id37,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'pm_id38' as Field, replace(cPre.pm_id38,'''','') as PreValue, replace(cPost.pm_id38,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.pm_id38,'') <> isnull(cPost.pm_id38,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'pm_id39' as Field, replace(cPre.pm_id39,'''','') as PreValue, replace(cPost.pm_id39,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.pm_id39,'') <> isnull(cPost.pm_id39,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'pm_id40' as Field, replace(cPre.pm_id40,'''','') as PreValue, replace(cPost.pm_id40,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.pm_id40,'') <> isnull(cPost.pm_id40,'')) or am.AProcess = 'I') UNION ALL

SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'probability' as Field, replace(cPre.probability,'''','') as PreValue, replace(cPost.probability,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.probability,'') <> isnull(cPost.probability,'')) or am.AProcess = 'I') UNION ALL
SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'project' as Field, replace(cPre.project,'''','') as PreValue, replace(cPost.project,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.project,'') <> isnull(cPost.project,'')) or am.AProcess = 'I') UNION ALL
SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'project_desc' as Field, replace(cPre.project_desc,'''','') as PreValue, replace(cPost.project_desc,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.project_desc,'') <> isnull(cPost.project_desc,'')) or am.AProcess = 'I') UNION ALL
SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'purchase_order_num' as Field, replace(cPre.purchase_order_num,'''','') as PreValue, replace(cPost.purchase_order_num,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.purchase_order_num,'') <> isnull(cPost.purchase_order_num,'')) or am.AProcess = 'I') UNION ALL
SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'rate_table_id' as Field, replace(cPre.rate_table_id,'''','') as PreValue, replace(cPost.rate_table_id,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.rate_table_id,'') <> isnull(cPost.rate_table_id,'')) or am.AProcess = 'I') UNION ALL
SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'shiptoid' as Field, replace(cPre.shiptoid,'''','') as PreValue, replace(cPost.shiptoid,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.shiptoid,'') <> isnull(cPost.shiptoid,'')) or am.AProcess = 'I') UNION ALL
SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'slsperid' as Field, replace(cPre.slsperid,'''','') as PreValue, replace(cPost.slsperid,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.slsperid,'') <> isnull(cPost.slsperid,'')) or am.AProcess = 'I') UNION ALL
SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'start_date' as Field, replace(cPre.start_date,'''','') as PreValue, replace(cPost.start_date,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.start_date,'') <> isnull(cPost.start_date,'')) or am.AProcess = 'I') UNION ALL

--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'status_08' as Field, replace(cPre.status_08,'''','') as PreValue, replace(cPost.status_08,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.status_08,'') <> isnull(cPost.status_08,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'status_09' as Field, replace(cPre.status_09,'''','') as PreValue, replace(cPost.status_09,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.status_09,'') <> isnull(cPost.status_09,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'status_10' as Field, replace(cPre.status_10,'''','') as PreValue, replace(cPost.status_10,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.status_10,'') <> isnull(cPost.status_10,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'status_11' as Field, replace(cPre.status_11,'''','') as PreValue, replace(cPost.status_11,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.status_11,'') <> isnull(cPost.status_11,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'status_12' as Field, replace(cPre.status_12,'''','') as PreValue, replace(cPost.status_12,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.status_12,'') <> isnull(cPost.status_12,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'status_13' as Field, replace(cPre.status_13,'''','') as PreValue, replace(cPost.status_13,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.status_13,'') <> isnull(cPost.status_13,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'status_14' as Field, replace(cPre.status_14,'''','') as PreValue, replace(cPost.status_14,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.status_14,'') <> isnull(cPost.status_14,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'status_15' as Field, replace(cPre.status_15,'''','') as PreValue, replace(cPost.status_15,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.status_15,'') <> isnull(cPost.status_15,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'status_16' as Field, replace(cPre.status_16,'''','') as PreValue, replace(cPost.status_16,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.status_16,'') <> isnull(cPost.status_16,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'status_17' as Field, replace(cPre.status_17,'''','') as PreValue, replace(cPost.status_17,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.status_17,'') <> isnull(cPost.status_17,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'status_18' as Field, replace(cPre.status_18,'''','') as PreValue, replace(cPost.status_18,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.status_18,'') <> isnull(cPost.status_18,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'status_19' as Field, replace(cPre.status_19,'''','') as PreValue, replace(cPost.status_19,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.status_19,'') <> isnull(cPost.status_19,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'status_20' as Field, replace(cPre.status_20,'''','') as PreValue, replace(cPost.status_20,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.status_20,'') <> isnull(cPost.status_20,'')) or am.AProcess = 'I') UNION ALL

SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'status_ap' as Field, replace(cPre.status_ap,'''','') as PreValue, replace(cPost.status_ap,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.status_ap,'') <> isnull(cPost.status_ap,'')) or am.AProcess = 'I') UNION ALL
SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'status_ar' as Field, replace(cPre.status_ar,'''','') as PreValue, replace(cPost.status_ar,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.status_ar,'') <> isnull(cPost.status_ar,'')) or am.AProcess = 'I') UNION ALL
SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'status_gl' as Field, replace(cPre.status_gl,'''','') as PreValue, replace(cPost.status_gl,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.status_gl,'') <> isnull(cPost.status_gl,'')) or am.AProcess = 'I') UNION ALL
SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'status_in' as Field, replace(cPre.status_in,'''','') as PreValue, replace(cPost.status_in,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.status_in,'') <> isnull(cPost.status_in,'')) or am.AProcess = 'I') UNION ALL
SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'status_lb' as Field, replace(cPre.status_lb,'''','') as PreValue, replace(cPost.status_lb,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.status_lb,'') <> isnull(cPost.status_lb,'')) or am.AProcess = 'I') UNION ALL
SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'status_pa' as Field, replace(cPre.status_pa,'''','') as PreValue, replace(cPost.status_pa,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.status_pa,'') <> isnull(cPost.status_pa,'')) or am.AProcess = 'I') UNION ALL
SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'status_po' as Field, replace(cPre.status_po,'''','') as PreValue, replace(cPost.status_po,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.status_po,'') <> isnull(cPost.status_po,'')) or am.AProcess = 'I') 

--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'user1' as Field, replace(cPre.user1,'''','') as PreValue, replace(cPost.user1,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.user1,'') <> isnull(cPost.user1,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'user2' as Field, replace(cPre.user2,'''','') as PreValue, replace(cPost.user2,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.user2,'') <> isnull(cPost.user2,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'user3' as Field, replace(cPre.user3,'''','') as PreValue, replace(cPost.user3,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.user3,'') <> isnull(cPost.user3,'')) or am.AProcess = 'I') UNION ALL
--SELECT RI_ID, 'PJPROJ' As AuditTableName, am.ASLUserID, am.ADate, cPost.Project as KeyValue, am.PreAID, am.PostAID, am.AProcess, 'user4' as Field, replace(cPre.user4,'''','') as PreValue, replace(cPost.user4,'''','') as PostValue FROM xqaauditmaster am LEFT JOIN xAPJPROJ cPost on am.PostAID = cPost.AID AND am.AProcess <> 'D' LEFT JOIN xAPJPROJ cPre on am.PreAID = cPre.AID WHERE AuditTableName = 'PJPROJ' AND ((isnull(cPre.user4,'') <> isnull(cPost.user4,'')) or am.AProcess = 'I')
GO
