USE [DALLASAPP]
GO
/****** Object:  View [dbo].[xvA_AuditMaster]    Script Date: 12/21/2015 13:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[xvA_AuditMaster] (APrevTS, ACurrTS, AuditTableName,AuditSolomonUserID, AuditSqlUserID,AuditComputerName,AuditDate,AuditTime,AuditProcess,AuditApplication, tstamp) AS SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS, 'AccessDetRights     ',ASolomonUserID, ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM vs_xAAccessDetRightsUNION ALL SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS, 'AccessRights        ',ASolomonUserID, ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM vs_xAAccessRightsUNION ALL SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS, 'AppSrvDB            ',ASolomonUserID, ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM vs_xAAppSrvDBUNION ALL SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS, 'AppSrvDetail        ',ASolomonUserID, ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM vs_xAAppSrvDetailUNION ALL SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS, 'AppSrvRequest       ',ASolomonUserID, ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM vs_xAAppSrvRequestUNION ALL SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS,'APSetup             ',ASolomonUserID,ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM xAAPSetupUNION ALL SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS,'ARSetup             ',ASolomonUserID,ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM xAARSetupUNION ALL SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS, 'ASRDatabase         ',ASolomonUserID, ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM vs_xAASRDatabaseUNION ALL SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS, 'ASRDistList         ',ASolomonUserID, ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM vs_xAASRDistListUNION ALL SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS, 'ASRReqEDD           ',ASolomonUserID, ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM vs_xAASRReqEDDUNION ALL SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS,'CASetup             ',ASolomonUserID,ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM xACASetupUNION ALL SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS, 'Company             ',ASolomonUserID, ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM vs_xACompanyUNION ALL SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS,'Customer            ',ASolomonUserID,ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM xACustomerUNION ALL SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS, 'Domain              ',ASolomonUserID, ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM vs_xADomainUNION ALL SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS,'GLSetup             ',ASolomonUserID,ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM xAGLSetupUNION ALL SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS,'PJBILL              ',ASolomonUserID,ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM xAPJBILLUNION ALL SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS,'PJCODE              ',ASolomonUserID,ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM xAPJCODEUNION ALL SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS,'PJDOCNUM            ',ASolomonUserID,ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM xAPJDOCNUMUNION ALL SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS,'PJLABDET            ',ASolomonUserID,ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM xAPJLABDETUNION ALL SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS,'PJLABHDR            ',ASolomonUserID,ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM xAPJLABHDRUNION ALL SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS,'PJTIMDET            ',ASolomonUserID,ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM xAPJTIMDETUNION ALL SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS,'PJTIMHDR            ',ASolomonUserID,ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM xAPJTIMHDRUNION ALL SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS, 'RptControl          ',ASolomonUserID, ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM vs_xARptControlUNION ALL SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS, 'Screen              ',ASolomonUserID, ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM vs_xAScreenUNION ALL SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS, 'ScreenCategory      ',ASolomonUserID, ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM vs_xAScreenCategoryUNION ALL SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS, 'ScreenMenu          ',ASolomonUserID, ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM vs_xAScreenMenuUNION ALL SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS, 'UserGrp             ',ASolomonUserID, ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM vs_xAUserGrpUNION ALL SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS, 'UserRec             ',ASolomonUserID, ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM vs_xAUserRecUNION ALL SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS,'Vendor              ',ASolomonUserID,ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM xAVendorUNION ALL SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS,'xDDBank             ',ASolomonUserID,ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM xAxDDBankUNION ALL SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS,'xDDDepositor        ',ASolomonUserID,ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM xAxDDDepositorUNION ALL SELECT Convert(char(30),APrevTS) as APrevTS, Convert(char(30),ACurrTS) as ACurrTS,'xDDSetUp            ',ASolomonUserID,ASqlUserID,AComputerName,ADate,ATime,AProcess,AApplication, tstamp FROM xAxDDSetUp
GO
