USE [DAL_TEST_APP]
GO
/****** Object:  Table [dbo].[xtmpPJInvDetBACKUPB4Recover]    Script Date: 12/21/2015 13:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[xtmpPJInvDetBACKUPB4Recover](
	[origDetailNum] [int] NOT NULL,
	[origRecID] [int] NULL,
	[tranType] [varchar](255) NULL,
	[invYN] [varchar](1) NOT NULL,
	[ClientInvoice] [varchar](255) NULL,
	[jobNbr] [varchar](255) NULL,
	[client] [varchar](255) NULL,
	[product] [varchar](255) NULL,
	[acct] [varchar](14) NOT NULL,
	[acct_rev] [varchar](12) NULL,
	[adj_amt] [float] NULL,
	[adj_units] [float] NULL,
	[amount] [float] NULL,
	[billStatus] [varchar](1) NOT NULL,
	[burdened_amt] [numeric](2, 2) NOT NULL,
	[comment] [varchar](255) NULL,
	[cost_amt] [float] NULL,
	[CpnyId] [varchar](6) NOT NULL,
	[crtd_datetime] [smalldatetime] NULL,
	[crtd_prog] [varchar](5) NOT NULL,
	[crtd_user] [varchar](8) NOT NULL,
	[cury_adj_amt] [float] NULL,
	[CuryHold_amount] [numeric](2, 2) NOT NULL,
	[CuryId] [varchar](3) NOT NULL,
	[CuryMultDiv] [varchar](1) NOT NULL,
	[curyorig_amt] [float] NULL,
	[CuryRate] [numeric](3, 2) NOT NULL,
	[cury_tranamount] [float] NULL,
	[data1] [varchar](1) NOT NULL,
	[data2] [varchar](1) NOT NULL,
	[data3] [varchar](1) NOT NULL,
	[draft_num] [varchar](10) NULL,
	[employee] [varchar](1) NOT NULL,
	[entry_type] [varchar](1) NOT NULL,
	[fee_rate] [numeric](2, 2) NOT NULL,
	[fiscalno] [varchar](1) NOT NULL,
	[gl_acct] [varchar](1) NOT NULL,
	[gl_offset_cpnyid] [varchar](6) NOT NULL,
	[gl_offset_acct] [varchar](1) NOT NULL,
	[gl_offset_subacct] [varchar](1) NOT NULL,
	[gl_subacct] [varchar](4) NOT NULL,
	[hold_status] [varchar](1) NOT NULL,
	[hold_amount] [numeric](2, 2) NOT NULL,
	[hold_units] [numeric](2, 2) NOT NULL,
	[in_id01] [varchar](1) NOT NULL,
	[in_id02] [varchar](1) NOT NULL,
	[in_id03] [varchar](1) NOT NULL,
	[in_id04] [varchar](1) NOT NULL,
	[in_id05] [varchar](1) NOT NULL,
	[in_id06] [int] NOT NULL,
	[in_id07] [int] NOT NULL,
	[in_id08] [int] NOT NULL,
	[in_id09] [int] NOT NULL,
	[in_id10] [int] NOT NULL,
	[in_id11] [varchar](1) NOT NULL,
	[in_id12] [varchar](30) NULL,
	[in_id13] [varchar](1) NOT NULL,
	[in_id14] [varchar](1) NOT NULL,
	[in_id15] [varchar](1) NOT NULL,
	[in_id16] [varchar](1) NOT NULL,
	[in_id17] [varchar](1) NOT NULL,
	[in_id18] [varchar](1) NOT NULL,
	[in_id19] [int] NOT NULL,
	[in_id20] [int] NOT NULL,
	[in_id21] [int] NOT NULL,
	[in_id22] [numeric](2, 2) NOT NULL,
	[in_id23] [numeric](2, 2) NOT NULL,
	[labor_class_cd] [varchar](1) NOT NULL,
	[linenbr] [int] NOT NULL,
	[li_type] [varchar](1) NOT NULL,
	[lupd_datetime] [int] NOT NULL,
	[lupd_prog] [varchar](5) NOT NULL,
	[lupd_user] [varchar](8) NOT NULL,
	[noteid] [int] NOT NULL,
	[offset_cd] [varchar](1) NOT NULL,
	[orig_amt] [float] NULL,
	[orig_rate] [numeric](2, 2) NOT NULL,
	[orig_units] [numeric](2, 2) NOT NULL,
	[pjt_entity] [varchar](255) NULL,
	[post_to_cd] [varchar](1) NOT NULL,
	[project] [char](16) NULL,
	[project_billwith] [char](16) NULL,
	[rate_type_cd] [varchar](1) NOT NULL,
	[source_trx_date] [smalldatetime] NULL,
	[taxcatid] [varchar](1) NOT NULL,
	[taxId] [varchar](1) NOT NULL,
	[taxitembasis] [int] NOT NULL,
	[unit_of_measure] [varchar](2) NOT NULL,
	[units] [numeric](2, 2) NOT NULL,
	[user1] [varchar](1) NOT NULL,
	[user2] [varchar](1) NOT NULL,
	[user3] [int] NOT NULL,
	[user4] [int] NOT NULL,
	[vendor_num] [varchar](1) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
