USE [DAL_TEST_APP]
GO
/****** Object:  Table [dbo].[xAlt_ProjectDefault]    Script Date: 12/21/2015 13:56:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[xAlt_ProjectDefault](
	[alloc_method_cd] [char](4) NOT NULL,
	[BaseCuryId] [char](4) NOT NULL,
	[bf_values_switch] [char](1) NOT NULL,
	[billcuryfixedrate] [float] NOT NULL,
	[billcuryid] [char](4) NOT NULL,
	[billratetypeid] [char](6) NOT NULL,
	[budget_version] [char](2) NOT NULL,
	[contract] [char](16) NOT NULL,
	[contract_type] [char](4) NOT NULL,
	[CpnyId] [char](10) NOT NULL,
	[crtd_datetime] [smalldatetime] NOT NULL,
	[crtd_prog] [char](8) NOT NULL,
	[crtd_user] [char](10) NOT NULL,
	[CuryId] [char](4) NOT NULL,
	[CuryRateType] [char](6) NOT NULL,
	[customer] [char](15) NOT NULL,
	[DefaultType] [char](30) NOT NULL,
	[DefaultType_desc] [char](30) NOT NULL,
	[end_date] [smalldatetime] NOT NULL,
	[gl_subacct] [char](24) NOT NULL,
	[labor_gl_acct] [char](10) NOT NULL,
	[lupd_datetime] [smalldatetime] NOT NULL,
	[lupd_prog] [char](8) NOT NULL,
	[lupd_user] [char](10) NOT NULL,
	[manager1] [char](10) NOT NULL,
	[manager2] [char](10) NOT NULL,
	[MSPData] [char](50) NOT NULL,
	[MSPInterface] [char](1) NOT NULL,
	[MSPProj_ID] [int] NOT NULL,
	[noteid] [int] NOT NULL,
	[opportunityID] [char](36) NOT NULL,
	[pm_id01] [char](30) NOT NULL,
	[pm_id02] [char](30) NOT NULL,
	[pm_id03] [char](16) NOT NULL,
	[pm_id04] [char](16) NOT NULL,
	[pm_id05] [char](4) NOT NULL,
	[pm_id06] [float] NOT NULL,
	[pm_id07] [float] NOT NULL,
	[pm_id08] [smalldatetime] NOT NULL,
	[pm_id09] [smalldatetime] NOT NULL,
	[pm_id10] [int] NOT NULL,
	[pm_id31] [char](30) NOT NULL,
	[pm_id32] [char](30) NOT NULL,
	[pm_id33] [char](20) NOT NULL,
	[pm_id34] [char](20) NOT NULL,
	[pm_id35] [char](10) NOT NULL,
	[pm_id36] [char](10) NOT NULL,
	[pm_id37] [char](4) NOT NULL,
	[pm_id38] [float] NOT NULL,
	[pm_id39] [smalldatetime] NOT NULL,
	[pm_id40] [int] NOT NULL,
	[probability] [smallint] NOT NULL,
	[purchase_order_num] [char](20) NOT NULL,
	[rate_table_id] [char](4) NOT NULL,
	[shiptoid] [char](10) NOT NULL,
	[slsperid] [char](10) NOT NULL,
	[start_date] [smalldatetime] NOT NULL,
	[status_08] [char](1) NOT NULL,
	[status_09] [char](1) NOT NULL,
	[status_10] [char](1) NOT NULL,
	[status_11] [char](1) NOT NULL,
	[status_12] [char](1) NOT NULL,
	[status_13] [char](1) NOT NULL,
	[status_14] [char](1) NOT NULL,
	[status_15] [char](1) NOT NULL,
	[status_16] [char](1) NOT NULL,
	[status_17] [char](1) NOT NULL,
	[status_18] [char](1) NOT NULL,
	[status_19] [char](1) NOT NULL,
	[status_20] [char](1) NOT NULL,
	[status_ap] [char](1) NOT NULL,
	[status_ar] [char](1) NOT NULL,
	[status_gl] [char](1) NOT NULL,
	[status_in] [char](1) NOT NULL,
	[status_lb] [char](1) NOT NULL,
	[status_pa] [char](1) NOT NULL,
	[status_po] [char](1) NOT NULL,
	[user1] [char](30) NOT NULL,
	[user2] [char](30) NOT NULL,
	[user3] [float] NOT NULL,
	[user4] [float] NOT NULL,
	[tstamp] [timestamp] NOT NULL,
 CONSTRAINT [xAlt_ProjectDefault0] PRIMARY KEY CLUSTERED 
(
	[DefaultType] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
