USE [DAL_TEST_APP]
GO
/****** Object:  Table [dbo].[SMContract]    Script Date: 12/21/2015 13:56:24 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SMContract](
	[AccrualFlag] [char](1) NOT NULL,
	[AccrualPeriod] [char](6) NOT NULL,
	[AgeCode] [char](10) NOT NULL,
	[AmortFreq] [char](1) NOT NULL,
	[AmortStartDate] [smalldatetime] NOT NULL,
	[ASID] [int] NOT NULL,
	[BillAddr1] [char](60) NOT NULL,
	[BillAddr2] [char](60) NOT NULL,
	[BillAttn] [char](30) NOT NULL,
	[BillCity] [char](30) NOT NULL,
	[BillCountry] [char](3) NOT NULL,
	[BillFax] [char](15) NOT NULL,
	[BillingFreq] [char](1) NOT NULL,
	[BillingsToDate] [float] NOT NULL,
	[BillingType] [char](1) NOT NULL,
	[BillName] [char](60) NOT NULL,
	[BillPhone] [char](15) NOT NULL,
	[BillStartDate] [smalldatetime] NOT NULL,
	[BillState] [char](3) NOT NULL,
	[BillZip] [char](10) NOT NULL,
	[BranchId] [char](10) NOT NULL,
	[CalcellationCode] [char](10) NOT NULL,
	[CalculateBy] [char](1) NOT NULL,
	[CalculatedAmount] [float] NOT NULL,
	[CancelBy] [char](47) NOT NULL,
	[CancelDate] [smalldatetime] NOT NULL,
	[CapAmount] [float] NOT NULL,
	[CapContract] [char](1) NOT NULL,
	[CapTolerance] [float] NOT NULL,
	[CapType] [char](1) NOT NULL,
	[CO_ID01] [char](30) NOT NULL,
	[CO_ID02] [char](30) NOT NULL,
	[CO_ID03] [char](20) NOT NULL,
	[CO_ID04] [char](20) NOT NULL,
	[CO_ID05] [char](10) NOT NULL,
	[CO_ID06] [char](10) NOT NULL,
	[CO_ID07] [char](4) NOT NULL,
	[CO_ID08] [float] NOT NULL,
	[CO_ID09] [smalldatetime] NOT NULL,
	[CO_ID10] [smallint] NOT NULL,
	[CO_ID11] [char](30) NOT NULL,
	[CO_ID12] [char](30) NOT NULL,
	[CO_ID13] [char](20) NOT NULL,
	[CO_ID14] [char](20) NOT NULL,
	[CO_ID15] [char](10) NOT NULL,
	[CO_ID16] [char](10) NOT NULL,
	[CO_ID17] [char](4) NOT NULL,
	[CO_ID18] [float] NOT NULL,
	[CO_ID19] [smalldatetime] NOT NULL,
	[CO_ID20] [smallint] NOT NULL,
	[CommAmt] [float] NOT NULL,
	[CommBatNbr] [char](10) NOT NULL,
	[CommPaid] [smallint] NOT NULL,
	[CommPrct] [float] NOT NULL,
	[CommType] [char](1) NOT NULL,
	[ContractId] [char](10) NOT NULL,
	[ContractType] [char](10) NOT NULL,
	[CpnyID] [char](10) NOT NULL,
	[Crtd_DateTime] [smalldatetime] NOT NULL,
	[Crtd_Prog] [char](8) NOT NULL,
	[Crtd_User] [char](10) NOT NULL,
	[CustId] [char](15) NOT NULL,
	[CustomerPO] [char](15) NOT NULL,
	[EffectiveDate] [smalldatetime] NOT NULL,
	[EndAMPM00] [char](1) NOT NULL,
	[EndAMPM01] [char](1) NOT NULL,
	[EndAMPM02] [char](1) NOT NULL,
	[EndAMPM03] [char](1) NOT NULL,
	[EndAMPM04] [char](1) NOT NULL,
	[EndAMPM05] [char](1) NOT NULL,
	[EndAMPM06] [char](1) NOT NULL,
	[EndTime00] [char](4) NOT NULL,
	[EndTime01] [char](4) NOT NULL,
	[EndTime02] [char](4) NOT NULL,
	[EndTime03] [char](4) NOT NULL,
	[EndTime04] [char](4) NOT NULL,
	[EndTime05] [char](4) NOT NULL,
	[EndTime06] [char](4) NOT NULL,
	[EndTimeMilitary00] [char](4) NOT NULL,
	[EndTimeMilitary01] [char](4) NOT NULL,
	[EndTimeMilitary02] [char](4) NOT NULL,
	[EndTimeMilitary03] [char](4) NOT NULL,
	[EndTimeMilitary04] [char](4) NOT NULL,
	[EndTimeMilitary05] [char](4) NOT NULL,
	[EndTimeMilitary06] [char](4) NOT NULL,
	[EnteredBy] [char](47) NOT NULL,
	[EscCode] [char](10) NOT NULL,
	[ExpireDate] [smalldatetime] NOT NULL,
	[Hours] [float] NOT NULL,
	[Hours2400] [char](1) NOT NULL,
	[Hours2401] [char](1) NOT NULL,
	[Hours2402] [char](1) NOT NULL,
	[Hours2403] [char](1) NOT NULL,
	[Hours2404] [char](1) NOT NULL,
	[Hours2405] [char](1) NOT NULL,
	[Hours2406] [char](1) NOT NULL,
	[LabMarkupID] [char](10) NOT NULL,
	[LaborCost] [float] NOT NULL,
	[LaborHrsTD] [float] NOT NULL,
	[LaborPct] [float] NOT NULL,
	[LastAmortDate] [smalldatetime] NOT NULL,
	[LastBillDate] [smalldatetime] NOT NULL,
	[LastCallDate] [smalldatetime] NOT NULL,
	[LastContractID] [char](10) NOT NULL,
	[Lupd_DateTime] [smalldatetime] NOT NULL,
	[Lupd_Prog] [char](8) NOT NULL,
	[Lupd_User] [char](10) NOT NULL,
	[MasterAgreement] [char](10) NOT NULL,
	[MasterID] [char](15) NOT NULL,
	[MaterialPct] [float] NOT NULL,
	[MatMarkupID] [char](10) NOT NULL,
	[MediaID] [char](10) NOT NULL,
	[MilitaryEndTime] [char](4) NOT NULL,
	[MinHours] [float] NOT NULL,
	[MinPerCall] [float] NOT NULL,
	[MiscCost] [float] NOT NULL,
	[NewContractAmt] [float] NOT NULL,
	[NextContractId] [char](10) NOT NULL,
	[NoteID] [int] NOT NULL,
	[OrigContractAmt] [float] NOT NULL,
	[OriginalContractId] [char](10) NOT NULL,
	[PartCost] [float] NOT NULL,
	[PMLaborPct] [float] NOT NULL,
	[PMMaterialPct] [float] NOT NULL,
	[POEndDate] [smalldatetime] NOT NULL,
	[POStartDate] [smalldatetime] NOT NULL,
	[PrimaryTech] [char](10) NOT NULL,
	[Priority] [char](1) NOT NULL,
	[ProcessType] [char](1) NOT NULL,
	[QuoteExpDate] [smalldatetime] NOT NULL,
	[RenewalAmount] [float] NOT NULL,
	[RenewalBillDate] [smalldatetime] NOT NULL,
	[RenewalBillFreq] [smallint] NOT NULL,
	[RenewalPeriod] [char](6) NOT NULL,
	[RenewalRevDate] [smalldatetime] NOT NULL,
	[RenewalRevFreq] [smallint] NOT NULL,
	[Renewals] [smallint] NOT NULL,
	[RenewalsUsed] [smallint] NOT NULL,
	[RenewType] [char](2) NOT NULL,
	[Response] [char](10) NOT NULL,
	[RevenueAcct] [char](10) NOT NULL,
	[RevenueSub] [char](24) NOT NULL,
	[SalesPerson] [char](10) NOT NULL,
	[SecondTech] [char](10) NOT NULL,
	[SiteId] [char](10) NOT NULL,
	[StartAMPM00] [char](1) NOT NULL,
	[StartAMPM01] [char](1) NOT NULL,
	[StartAMPM02] [char](1) NOT NULL,
	[StartAMPM03] [char](1) NOT NULL,
	[StartAMPM04] [char](1) NOT NULL,
	[StartAMPM05] [char](1) NOT NULL,
	[StartAMPM06] [char](1) NOT NULL,
	[StartDate] [smalldatetime] NOT NULL,
	[StartTime00] [char](4) NOT NULL,
	[StartTime01] [char](4) NOT NULL,
	[StartTime02] [char](4) NOT NULL,
	[StartTime03] [char](4) NOT NULL,
	[StartTime04] [char](4) NOT NULL,
	[StartTime05] [char](4) NOT NULL,
	[StartTime06] [char](4) NOT NULL,
	[StartTimeMilitary00] [char](4) NOT NULL,
	[StartTimeMilitary01] [char](4) NOT NULL,
	[StartTimeMilitary02] [char](4) NOT NULL,
	[StartTimeMilitary03] [char](4) NOT NULL,
	[StartTimeMilitary04] [char](4) NOT NULL,
	[StartTimeMilitary05] [char](4) NOT NULL,
	[StartTimeMilitary06] [char](4) NOT NULL,
	[Status] [char](1) NOT NULL,
	[Taxable] [smallint] NOT NULL,
	[TotalAmort] [float] NOT NULL,
	[TotalAmt] [float] NOT NULL,
	[TotalBilled] [float] NOT NULL,
	[TotalBills] [float] NOT NULL,
	[TotalCalls] [float] NOT NULL,
	[User1] [char](30) NOT NULL,
	[User2] [char](30) NOT NULL,
	[User3] [float] NOT NULL,
	[User4] [float] NOT NULL,
	[User5] [char](10) NOT NULL,
	[User6] [char](10) NOT NULL,
	[User7] [smalldatetime] NOT NULL,
	[User8] [smalldatetime] NOT NULL,
	[tstamp] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
