USE [DAL_TEST_APP]
GO
/****** Object:  Table [dbo].[PJLABDET]    Script Date: 12/21/2015 13:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PJLABDET](
	[CpnyId_chrg] [char](10) NOT NULL,
	[CpnyId_home] [char](10) NOT NULL,
	[crtd_datetime] [smalldatetime] NOT NULL,
	[crtd_prog] [char](8) NOT NULL,
	[crtd_user] [char](10) NOT NULL,
	[day1_hr1] [float] NOT NULL,
	[day1_hr2] [float] NOT NULL,
	[day1_hr3] [float] NOT NULL,
	[day2_hr1] [float] NOT NULL,
	[day2_hr2] [float] NOT NULL,
	[day2_hr3] [float] NOT NULL,
	[day3_hr1] [float] NOT NULL,
	[day3_hr2] [float] NOT NULL,
	[day3_hr3] [float] NOT NULL,
	[day4_hr1] [float] NOT NULL,
	[day4_hr2] [float] NOT NULL,
	[day4_hr3] [float] NOT NULL,
	[day5_hr1] [float] NOT NULL,
	[day5_hr2] [float] NOT NULL,
	[day5_hr3] [float] NOT NULL,
	[day6_hr1] [float] NOT NULL,
	[day6_hr2] [float] NOT NULL,
	[day6_hr3] [float] NOT NULL,
	[day7_hr1] [float] NOT NULL,
	[day7_hr2] [float] NOT NULL,
	[day7_hr3] [float] NOT NULL,
	[docnbr] [char](10) NOT NULL,
	[earn_type_id] [char](10) NOT NULL,
	[gl_acct] [char](10) NOT NULL,
	[gl_subacct] [char](24) NOT NULL,
	[labor_class_cd] [char](4) NOT NULL,
	[labor_stdcost] [float] NOT NULL,
	[ld_desc] [char](30) NOT NULL,
	[ld_id01] [char](30) NOT NULL,
	[ld_id02] [char](30) NOT NULL,
	[ld_id03] [char](16) NOT NULL,
	[ld_id04] [char](16) NOT NULL,
	[ld_id05] [char](4) NOT NULL,
	[ld_id06] [float] NOT NULL,
	[ld_id07] [float] NOT NULL,
	[ld_id08] [smalldatetime] NOT NULL,
	[ld_id09] [smalldatetime] NOT NULL,
	[ld_id10] [int] NOT NULL,
	[ld_id11] [char](30) NOT NULL,
	[ld_id12] [char](30) NOT NULL,
	[ld_id13] [char](20) NOT NULL,
	[ld_id14] [char](20) NOT NULL,
	[ld_id15] [char](10) NOT NULL,
	[ld_id16] [char](10) NOT NULL,
	[ld_id17] [char](4) NOT NULL,
	[ld_id18] [float] NOT NULL,
	[ld_id19] [float] NOT NULL,
	[ld_id20] [smalldatetime] NOT NULL,
	[ld_status] [char](1) NOT NULL,
	[linenbr] [smallint] NOT NULL,
	[lupd_datetime] [smalldatetime] NOT NULL,
	[lupd_prog] [char](8) NOT NULL,
	[lupd_user] [char](10) NOT NULL,
	[noteid] [int] NOT NULL,
	[pjt_entity] [char](32) NOT NULL,
	[project] [char](16) NOT NULL,
	[rate_source] [char](1) NOT NULL,
	[shift] [char](7) NOT NULL,
	[SubTask_Name] [char](50) NOT NULL,
	[SubTask_UID] [int] NOT NULL,
	[total_amount] [float] NOT NULL,
	[total_hrs] [float] NOT NULL,
	[union_cd] [char](10) NOT NULL,
	[user1] [char](30) NOT NULL,
	[user2] [char](30) NOT NULL,
	[user3] [float] NOT NULL,
	[user4] [float] NOT NULL,
	[work_comp_cd] [char](6) NOT NULL,
	[work_type] [char](2) NOT NULL,
	[tstamp] [timestamp] NOT NULL,
 CONSTRAINT [pjlabdet0] PRIMARY KEY CLUSTERED 
(
	[docnbr] ASC,
	[linenbr] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
