USE [DAL_TEST_APP]
GO
/****** Object:  Table [dbo].[xAxDDBank]    Script Date: 12/21/2015 13:56:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[xAxDDBank](
	[APrevTS] [bigint] NOT NULL,
	[ACurrTS] [bigint] NOT NULL,
	[ASolomonUserID] [varchar](47) NOT NULL,
	[ASqlUserID] [varchar](50) NOT NULL,
	[AComputerName] [varchar](50) NOT NULL,
	[ADate] [smalldatetime] NOT NULL,
	[ATime] [varchar](12) NOT NULL,
	[AProcess] [char](1) NOT NULL,
	[AApplication] [varchar](40) NOT NULL,
	[Acct] [varchar](10) NULL,
	[AcctType] [varchar](1) NULL,
	[ACHCompanyID] [varchar](30) NULL,
	[ACHCompanyName] [varchar](30) NULL,
	[ACHCrLf] [varchar](1) NULL,
	[ACHDelete] [varchar](1) NULL,
	[ACHFileIDModifier] [varchar](1) NULL,
	[ACHFileName] [varchar](80) NULL,
	[ACHFillBlock] [varchar](1) NULL,
	[ACHImmDest] [varchar](30) NULL,
	[ACHImmDestN] [varchar](30) NULL,
	[ACHImmOrig] [varchar](30) NULL,
	[ACHImmOrigN] [varchar](30) NULL,
	[ACHInclDR] [varchar](1) NULL,
	[ACHOrigDFI] [varchar](9) NULL,
	[ACHOrigDFIName] [varchar](35) NULL,
	[ACHPreNote] [varchar](1) NULL,
	[ACHRecord] [varchar](1) NULL,
	[ACHTPZeroDollar] [varchar](1) NULL,
	[APArchive] [smallint] NULL,
	[APAutoClear] [smallint] NULL,
	[APFileFromSetup] [smallint] NULL,
	[APGatewayOperID] [varchar](9) NULL,
	[ARACHDelete] [varchar](1) NULL,
	[ARACHFileName] [varchar](80) NULL,
	[ARACHInclCR] [varchar](1) NULL,
	[ARACHPreNote] [varchar](1) NULL,
	[ARACHTPZeroDollar] [varchar](1) NULL,
	[ARArchive] [smallint] NULL,
	[AREMARTran] [varchar](1) NULL,
	[AREMAttachment] [varchar](128) NULL,
	[AREMAutoWrap] [int] NULL,
	[AREMCpnyName] [varchar](128) NULL,
	[AREMFromAddr] [varchar](128) NULL,
	[AREMFromName] [varchar](128) NULL,
	[AREMFromSetup] [smallint] NULL,
	[AREMMessageBottom] [smallint] NULL,
	[AREMMessageTop] [smallint] NULL,
	[AREMNotification] [varchar](1) NULL,
	[AREMPriority] [int] NULL,
	[AREMReplyToAddr] [varchar](128) NULL,
	[AREMReplyToName] [varchar](128) NULL,
	[AREMStubLayout] [varchar](1) NULL,
	[AREMSubject] [varchar](128) NULL,
	[AREMTUser1] [varchar](30) NULL,
	[AREMTUser2] [varchar](30) NULL,
	[AREMTUser3] [varchar](30) NULL,
	[AREMTUser4] [varchar](30) NULL,
	[AREMTUser5] [varchar](30) NULL,
	[AREMTUser6] [varchar](30) NULL,
	[AREMTUser7] [varchar](30) NULL,
	[AREMTUser8] [varchar](30) NULL,
	[AREMUser1] [varchar](30) NULL,
	[AREMUser2] [varchar](30) NULL,
	[AREMUser3] [varchar](30) NULL,
	[AREMUser4] [varchar](30) NULL,
	[AREMUser5] [varchar](30) NULL,
	[AREMUser6] [varchar](30) NULL,
	[AREMUser7] [varchar](30) NULL,
	[AREMUser8] [varchar](30) NULL,
	[ARFileFromSetup] [smallint] NULL,
	[ARHeadTrailID] [varchar](1) NULL,
	[ARPathACHScript] [varchar](128) NULL,
	[ARTest] [varchar](1) NULL,
	[BankAcct] [varchar](30) NULL,
	[BankTransit] [varchar](30) NULL,
	[CommDevice] [varchar](128) NULL,
	[CommEchoOn] [smallint] NULL,
	[CommLocation] [varchar](128) NULL,
	[CommPhone] [varchar](20) NULL,
	[CommPXferProto] [smallint] NULL,
	[CommSecProg] [varchar](128) NULL,
	[CommTermEmulation] [varchar](1) NULL,
	[CommType] [varchar](1) NULL,
	[CommUserProg] [varchar](128) NULL,
	[CompanyIDCCD] [varchar](10) NULL,
	[CompanyIDCCDP] [varchar](10) NULL,
	[CompanyIDCCDT] [varchar](10) NULL,
	[CompanyIDCTX] [varchar](10) NULL,
	[CompanyIDIAT] [varchar](10) NULL,
	[CompanyIDPPD] [varchar](10) NULL,
	[CompanyIDUnique] [smallint] NULL,
	[CompEntryDescCCD] [varchar](16) NULL,
	[CompEntryDescCCDP] [varchar](16) NULL,
	[CompEntryDescCCDT] [varchar](16) NULL,
	[CompEntryDescCTX] [varchar](16) NULL,
	[CompEntryDescIAT] [varchar](16) NULL,
	[CompEntryDescPPD] [varchar](16) NULL,
	[CpnyFromSetup] [smallint] NULL,
	[CpnyID] [varchar](10) NULL,
	[Crtd_DateTime] [smalldatetime] NULL,
	[Crtd_Prog] [varchar](8) NULL,
	[Crtd_User] [varchar](10) NULL,
	[EMAPTran] [varchar](1) NULL,
	[EMAttachment] [varchar](128) NULL,
	[EMAutoWrap] [int] NULL,
	[EMCpnyName] [varchar](128) NULL,
	[EMFromAddr] [varchar](128) NULL,
	[EMFromName] [varchar](128) NULL,
	[EMFromSetup] [smallint] NULL,
	[EMMessageBottom] [smallint] NULL,
	[EMMessageTop] [smallint] NULL,
	[EMNotification] [varchar](1) NULL,
	[EMPriority] [int] NULL,
	[EMReplyToAddr] [varchar](128) NULL,
	[EMReplyToName] [varchar](128) NULL,
	[EMStubLayout] [varchar](1) NULL,
	[EMSubject] [varchar](128) NULL,
	[EMTUser1] [varchar](30) NULL,
	[EMTUser2] [varchar](30) NULL,
	[EMTUser3] [varchar](30) NULL,
	[EMTUser4] [varchar](30) NULL,
	[EMTUser5] [varchar](30) NULL,
	[EMTUser6] [varchar](30) NULL,
	[EMTUser7] [varchar](30) NULL,
	[EMTUser8] [varchar](30) NULL,
	[EMUser1] [varchar](30) NULL,
	[EMUser2] [varchar](30) NULL,
	[EMUser3] [varchar](30) NULL,
	[EMUser4] [varchar](30) NULL,
	[EMUser5] [varchar](30) NULL,
	[EMUser6] [varchar](30) NULL,
	[EMUser7] [varchar](30) NULL,
	[EMUser8] [varchar](30) NULL,
	[FileFromSetup] [smallint] NULL,
	[FormatID] [varchar](15) NULL,
	[HeadTrailID] [varchar](1) NULL,
	[LBArchive] [smallint] NULL,
	[LBCommDevice] [varchar](128) NULL,
	[LBCommEchoOn] [smallint] NULL,
	[LBCommLocation] [varchar](128) NULL,
	[LBCommPhone] [varchar](20) NULL,
	[LBCommPXferProto] [smallint] NULL,
	[LBCommTermEmulation] [varchar](1) NULL,
	[LBCommType] [varchar](1) NULL,
	[LBCommUserProg] [varchar](128) NULL,
	[LBDelete] [varchar](1) NULL,
	[LBFileName] [varchar](80) NULL,
	[LBFormatID] [varchar](15) NULL,
	[LBFromSetup] [smallint] NULL,
	[LBPath] [varchar](128) NULL,
	[LBSuggCustGood] [smallint] NULL,
	[LUpd_DateTime] [smalldatetime] NULL,
	[LUpd_Prog] [varchar](8) NULL,
	[LUpd_User] [varchar](10) NULL,
	[MCB_EBNbrLen] [smallint] NULL,
	[MCB_EBNbrPrefix] [varchar](2) NULL,
	[MCB_NextEBNbr] [varchar](10) NULL,
	[MCB_UseEBNbr] [smallint] NULL,
	[Name] [varchar](30) NULL,
	[NoteID] [int] NULL,
	[PathACHScript] [varchar](128) NULL,
	[PNDate] [smalldatetime] NULL,
	[PNStatus] [varchar](1) NULL,
	[PP01] [varchar](30) NULL,
	[PP02] [varchar](30) NULL,
	[PP03] [varchar](30) NULL,
	[PP04] [varchar](30) NULL,
	[PPArchive] [smallint] NULL,
	[PPCommDevice] [varchar](128) NULL,
	[PPCommEchoOn] [smallint] NULL,
	[PPCommLocation] [varchar](128) NULL,
	[PPCommPhone] [varchar](20) NULL,
	[PPCommPXferProto] [smallint] NULL,
	[PPCommTermEmulation] [varchar](1) NULL,
	[PPCommType] [varchar](1) NULL,
	[PPCommUserProg] [varchar](128) NULL,
	[PPCrLf] [varchar](1) NULL,
	[PPDelete] [varchar](1) NULL,
	[PPFileName] [varchar](80) NULL,
	[PPFillBlock] [varchar](1) NULL,
	[PPFormatID] [varchar](15) NULL,
	[PPFromSetup] [smallint] NULL,
	[PPHeadTrailID] [varchar](1) NULL,
	[PPPath] [varchar](128) NULL,
	[SKFuture01] [varchar](30) NULL,
	[SKFuture02] [varchar](30) NULL,
	[SKFuture03] [float] NULL,
	[SKFuture04] [float] NULL,
	[SKFuture05] [float] NULL,
	[SKFuture06] [float] NULL,
	[SKFuture07] [smalldatetime] NULL,
	[SKFuture08] [smalldatetime] NULL,
	[SKFuture09] [int] NULL,
	[SKFuture10] [int] NULL,
	[SKFuture11] [varchar](10) NULL,
	[SKFuture12] [varchar](10) NULL,
	[Sub] [varchar](24) NULL,
	[Test] [varchar](1) NULL,
	[User1] [varchar](30) NULL,
	[User10] [varchar](30) NULL,
	[User2] [varchar](30) NULL,
	[User3] [float] NULL,
	[User4] [float] NULL,
	[User5] [varchar](10) NULL,
	[User6] [varchar](10) NULL,
	[User7] [smalldatetime] NULL,
	[User8] [smalldatetime] NULL,
	[User9] [varchar](30) NULL,
	[W01] [varchar](35) NULL,
	[W02] [varchar](35) NULL,
	[W03] [varchar](35) NULL,
	[W04] [varchar](35) NULL,
	[WOrdPartyAddr] [varchar](35) NULL,
	[WOrdPartyAddr2] [varchar](35) NULL,
	[WOrdPartyCity] [varchar](35) NULL,
	[WOrdPartyCountry] [varchar](35) NULL,
	[WOrdPartyID] [varchar](15) NULL,
	[WOrdPartyISOCntry] [varchar](3) NULL,
	[WOrdPartyName] [varchar](35) NULL,
	[WOrdPartyState] [varchar](3) NULL,
	[WOrdPartySwift] [varchar](11) NULL,
	[WOrdPartyZipPostal] [varchar](11) NULL,
	[WTArchive] [smallint] NULL,
	[WTCommType] [varchar](1) NULL,
	[WTCommUserProg] [varchar](128) NULL,
	[WTCrLf] [varchar](1) NULL,
	[WTDelete] [varchar](1) NULL,
	[WTFileName] [varchar](80) NULL,
	[WTFillBlock] [varchar](1) NULL,
	[WTFilterMultiCury] [smallint] NULL,
	[WTFromSetup] [smallint] NULL,
	[WTHeadTrailID] [varchar](1) NULL,
	[WTPath] [varchar](128) NULL,
	[WTTest] [varchar](1) NULL,
	[tstamp] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[xAxDDBank] ADD  CONSTRAINT [DF_xAxDDBank_APrevTS]  DEFAULT ((0)) FOR [APrevTS]
GO
ALTER TABLE [dbo].[xAxDDBank] ADD  CONSTRAINT [DF_xAxDDBank_ACurrTS]  DEFAULT ((0)) FOR [ACurrTS]
GO
ALTER TABLE [dbo].[xAxDDBank] ADD  CONSTRAINT [DF_xAxDDBank_ASolomonUserID]  DEFAULT (' ') FOR [ASolomonUserID]
GO
ALTER TABLE [dbo].[xAxDDBank] ADD  CONSTRAINT [DF_xAxDDBank_ASqlUserID]  DEFAULT (CONVERT([varchar](50),ltrim(rtrim(original_login())),(0))) FOR [ASqlUserID]
GO
ALTER TABLE [dbo].[xAxDDBank] ADD  CONSTRAINT [DF_xAxDDBank_AComputerName]  DEFAULT (CONVERT([varchar](50),ltrim(rtrim(host_name())),0)) FOR [AComputerName]
GO
ALTER TABLE [dbo].[xAxDDBank] ADD  CONSTRAINT [DF_xAxDDBank_ADate]  DEFAULT (CONVERT([smalldatetime],CONVERT([char](16),getdate(),(121)),0)) FOR [ADate]
GO
ALTER TABLE [dbo].[xAxDDBank] ADD  CONSTRAINT [DF_xAxDDBank_ATime]  DEFAULT (CONVERT([varchar](12),getdate(),(114))) FOR [ATime]
GO
ALTER TABLE [dbo].[xAxDDBank] ADD  CONSTRAINT [DF_xAxDDBank_AProcess]  DEFAULT (' ') FOR [AProcess]
GO
ALTER TABLE [dbo].[xAxDDBank] ADD  CONSTRAINT [DF_xAxDDBank_AApplication]  DEFAULT (CONVERT([varchar](40),ltrim(rtrim(app_name())),0)) FOR [AApplication]
GO
