USE [DAL_TEST_APP]
GO
/****** Object:  View [dbo].[xmfas00]    Script Date: 12/21/2015 13:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[xmfas00] 
as
select
  p.customer Client,
  t.project Job,
  min(p.project_desc) as Project_desc,
  min(p.status_pa) as Job_status,
  t.pjt_entity FunctionCode,
  '' as Revid,
  'Actual' as RecordType,
  sum(t.amount) as ActualAmount,
  0 as EstimateAmount,
  0 as OpenPOAmt
  
from 
pjtran t

join pjproj p
on t.project = p.project

where (t.acct = 'BILLABLE' or t.acct = 'BILLABLE HOURS' or t.acct = 'BILLABLE TAX' or t.acct = 'BILLABLE MARKUP')

group by
t.project,
t.pjt_entity,
p.customer

UNION All

select 
  q.customer Client,
  e.project Job,
  min(q.project_desc) as Project_desc,
  min(q.status_pa) as Job_status,
  e.pjt_entity FunctionCode,
  e.Revid,
  'Estimate' as RecordType,
  0 AS ActualAmount,
  sum(e.amount) as EstimateAmount,
  0 as OpenPOAmt
  
from 

pjrevcat e

join pjproj q
on e.project = q.project

join pjprojex x
on e.project = x.project and e.revid = x.pm_id25

where e.acct = 'ESTIMATE' or e.acct = 'ESTIMATE TAX'

Group by
  e.project,
  e.pjt_entity,
  e.Revid,
  q.customer

UNION All

select
  r.customer Client,
  s.project Job,
  min(r.project_desc) as Project_desc,
  min(r.status_pa) as Job_status,
  s.pjt_entity FunctionCode,
  '' as Revid,
  'OpenPOAmt' as RecordType,
  0 as ActualAmount,
  0 as EstimateAmount,
  sum(s.com_amount) as OpenPOAmt

from pjptdsum s

join pjproj r
on s.project = r.project

group by
  s.project,
  s.pjt_entity,
  r.customer
GO
