USE [DAL_DEV_APP]
GO
/****** Object:  Table [dbo].[W2Federal]    Script Date: 12/21/2015 13:35:11 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[W2Federal](
	[Adv_EIC] [float] NOT NULL,
	[Alloc_Tips] [float] NOT NULL,
	[Ben_Incl_Fed_Wages] [float] NOT NULL,
	[CalYr] [char](4) NOT NULL,
	[ChkBox_3PartySickPay] [smallint] NOT NULL,
	[ChkBox_942Emp] [smallint] NOT NULL,
	[ChkBox_Deceased] [smallint] NOT NULL,
	[ChkBox_DeferredComp] [smallint] NOT NULL,
	[ChkBox_LegalRep] [smallint] NOT NULL,
	[ChkBox_PensionPlan] [smallint] NOT NULL,
	[ChkBox_Statutory] [smallint] NOT NULL,
	[ControlNbr] [char](10) NOT NULL,
	[CpnyID] [char](10) NOT NULL,
	[Crtd_DateTime] [smalldatetime] NOT NULL,
	[Crtd_Prog] [char](8) NOT NULL,
	[Crtd_User] [char](10) NOT NULL,
	[Dependent_Care_Ben] [float] NOT NULL,
	[EditedByScrn] [smallint] NOT NULL,
	[EmpId] [char](10) NOT NULL,
	[Emp_Addr1] [char](30) NOT NULL,
	[Emp_Addr2] [char](30) NOT NULL,
	[Emp_City] [char](30) NOT NULL,
	[Emp_Name] [char](30) NOT NULL,
	[Emp_SSN] [char](9) NOT NULL,
	[Emp_State] [char](3) NOT NULL,
	[Emp_Zip] [char](10) NOT NULL,
	[Fed_Tax] [float] NOT NULL,
	[Fed_Wages] [float] NOT NULL,
	[LtrAmts_Amt00] [float] NOT NULL,
	[LtrAmts_Amt01] [float] NOT NULL,
	[LtrAmts_Amt02] [float] NOT NULL,
	[LtrAmts_Amt03] [float] NOT NULL,
	[LtrAmts_Amt04] [float] NOT NULL,
	[LtrAmts_Amt05] [float] NOT NULL,
	[LtrAmts_Amt06] [float] NOT NULL,
	[LtrAmts_Amt07] [float] NOT NULL,
	[LtrAmts_Amt08] [float] NOT NULL,
	[LtrAmts_Amt09] [float] NOT NULL,
	[LtrAmts_Amt10] [float] NOT NULL,
	[LtrAmts_Amt11] [float] NOT NULL,
	[LtrAmts_Amt12] [float] NOT NULL,
	[LtrAmts_Amt13] [float] NOT NULL,
	[LtrAmts_Amt14] [float] NOT NULL,
	[LtrAmts_Amt15] [float] NOT NULL,
	[LtrAmts_Amt16] [float] NOT NULL,
	[LtrAmts_Amt17] [float] NOT NULL,
	[LtrAmts_Amt18] [float] NOT NULL,
	[LtrAmts_Descr00] [char](50) NOT NULL,
	[LtrAmts_Descr01] [char](50) NOT NULL,
	[LtrAmts_Descr02] [char](50) NOT NULL,
	[LtrAmts_Descr03] [char](50) NOT NULL,
	[LtrAmts_Descr04] [char](50) NOT NULL,
	[LtrAmts_Descr05] [char](50) NOT NULL,
	[LtrAmts_Descr06] [char](50) NOT NULL,
	[LtrAmts_Descr07] [char](50) NOT NULL,
	[LtrAmts_Descr08] [char](50) NOT NULL,
	[LtrAmts_Descr09] [char](50) NOT NULL,
	[LtrAmts_Descr10] [char](50) NOT NULL,
	[LtrAmts_Descr11] [char](50) NOT NULL,
	[LtrAmts_Descr12] [char](50) NOT NULL,
	[LtrAmts_Descr13] [char](50) NOT NULL,
	[LtrAmts_Descr14] [char](50) NOT NULL,
	[LtrAmts_Descr15] [char](50) NOT NULL,
	[LtrAmts_Descr16] [char](50) NOT NULL,
	[LtrAmts_Descr17] [char](50) NOT NULL,
	[LtrAmts_Descr18] [char](50) NOT NULL,
	[LtrAmts_Letter00] [char](2) NOT NULL,
	[LtrAmts_Letter01] [char](2) NOT NULL,
	[LtrAmts_Letter02] [char](2) NOT NULL,
	[LtrAmts_Letter03] [char](2) NOT NULL,
	[LtrAmts_Letter04] [char](2) NOT NULL,
	[LtrAmts_Letter05] [char](2) NOT NULL,
	[LtrAmts_Letter06] [char](2) NOT NULL,
	[LtrAmts_Letter07] [char](2) NOT NULL,
	[LtrAmts_Letter08] [char](2) NOT NULL,
	[LtrAmts_Letter09] [char](2) NOT NULL,
	[LtrAmts_Letter10] [char](2) NOT NULL,
	[LtrAmts_Letter11] [char](2) NOT NULL,
	[LtrAmts_Letter12] [char](2) NOT NULL,
	[LtrAmts_Letter13] [char](2) NOT NULL,
	[LtrAmts_Letter14] [char](2) NOT NULL,
	[LtrAmts_Letter15] [char](2) NOT NULL,
	[LtrAmts_Letter16] [char](2) NOT NULL,
	[LtrAmts_Letter17] [char](2) NOT NULL,
	[LtrAmts_Letter18] [char](2) NOT NULL,
	[LUpd_DateTime] [smalldatetime] NOT NULL,
	[LUpd_Prog] [char](8) NOT NULL,
	[LUpd_User] [char](10) NOT NULL,
	[Medicare_Tax] [float] NOT NULL,
	[Medicare_Wages] [float] NOT NULL,
	[NonQual_457] [float] NOT NULL,
	[NonQual_Non457] [float] NOT NULL,
	[NoteId] [int] NOT NULL,
	[Other_Amt00] [float] NOT NULL,
	[Other_Amt01] [float] NOT NULL,
	[Other_Amt02] [float] NOT NULL,
	[Other_Descr00] [char](30) NOT NULL,
	[Other_Descr01] [char](30) NOT NULL,
	[Other_Descr02] [char](30) NOT NULL,
	[S4Future01] [char](30) NOT NULL,
	[S4Future02] [char](30) NOT NULL,
	[S4Future03] [float] NOT NULL,
	[S4Future04] [float] NOT NULL,
	[S4Future05] [float] NOT NULL,
	[S4Future06] [float] NOT NULL,
	[S4Future07] [smalldatetime] NOT NULL,
	[S4Future08] [smalldatetime] NOT NULL,
	[S4Future09] [int] NOT NULL,
	[S4Future10] [int] NOT NULL,
	[S4Future11] [char](10) NOT NULL,
	[S4Future12] [char](10) NOT NULL,
	[SocSec_Tax] [float] NOT NULL,
	[SocSec_Tips] [float] NOT NULL,
	[SocSec_Wages] [float] NOT NULL,
	[User1] [char](30) NOT NULL,
	[User2] [char](30) NOT NULL,
	[User3] [float] NOT NULL,
	[User4] [float] NOT NULL,
	[User5] [char](10) NOT NULL,
	[User6] [char](10) NOT NULL,
	[User7] [smalldatetime] NOT NULL,
	[User8] [smalldatetime] NOT NULL,
	[tstamp] [timestamp] NOT NULL,
 CONSTRAINT [W2Federal0] PRIMARY KEY CLUSTERED 
(
	[EmpId] ASC,
	[CalYr] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
