USE [DAL_DEV_APP]
GO
/****** Object:  Table [dbo].[EDWrkPOToSO]    Script Date: 12/21/2015 13:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EDWrkPOToSO](
	[AccessNbr] [smallint] NOT NULL,
	[CpnyID] [char](10) NOT NULL,
	[EDIPOID] [char](10) NOT NULL,
	[InvtID] [char](30) NOT NULL,
	[POQty] [float] NOT NULL,
	[POUOM] [char](6) NOT NULL,
	[SOQty] [float] NOT NULL,
	[tstamp] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[EDWrkPOToSO] ADD  CONSTRAINT [DF_EDWrkPOToSO_AccessNbr]  DEFAULT ((0)) FOR [AccessNbr]
GO
ALTER TABLE [dbo].[EDWrkPOToSO] ADD  CONSTRAINT [DF_EDWrkPOToSO_CpnyID]  DEFAULT (' ') FOR [CpnyID]
GO
ALTER TABLE [dbo].[EDWrkPOToSO] ADD  CONSTRAINT [DF_EDWrkPOToSO_EDIPOID]  DEFAULT (' ') FOR [EDIPOID]
GO
ALTER TABLE [dbo].[EDWrkPOToSO] ADD  CONSTRAINT [DF_EDWrkPOToSO_InvtID]  DEFAULT (' ') FOR [InvtID]
GO
ALTER TABLE [dbo].[EDWrkPOToSO] ADD  CONSTRAINT [DF_EDWrkPOToSO_POQty]  DEFAULT ((0)) FOR [POQty]
GO
ALTER TABLE [dbo].[EDWrkPOToSO] ADD  CONSTRAINT [DF_EDWrkPOToSO_POUOM]  DEFAULT (' ') FOR [POUOM]
GO
ALTER TABLE [dbo].[EDWrkPOToSO] ADD  CONSTRAINT [DF_EDWrkPOToSO_SOQty]  DEFAULT ((0)) FOR [SOQty]
GO
