USE [DAL_DEV_APP]
GO
/****** Object:  Table [dbo].[PJInvDet]    Script Date: 12/21/2015 13:35:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PJInvDet](
	[acct] [char](16) NOT NULL,
	[acct_rev] [char](16) NOT NULL,
	[adj_amount] [float] NOT NULL,
	[adj_units] [float] NOT NULL,
	[amount] [float] NOT NULL,
	[bill_status] [char](1) NOT NULL,
	[burdened_amt] [float] NOT NULL,
	[comment] [char](250) NOT NULL,
	[cost_amt] [float] NOT NULL,
	[CpnyId] [char](10) NOT NULL,
	[crtd_datetime] [smalldatetime] NOT NULL,
	[crtd_prog] [char](8) NOT NULL,
	[crtd_user] [char](10) NOT NULL,
	[CuryAdj_amount] [float] NOT NULL,
	[CuryHold_amount] [float] NOT NULL,
	[CuryId] [char](4) NOT NULL,
	[CuryMultDiv] [char](1) NOT NULL,
	[CuryOrig_amount] [float] NOT NULL,
	[CuryRate] [float] NOT NULL,
	[CuryTranamt] [float] NOT NULL,
	[data1] [char](10) NOT NULL,
	[data2] [char](24) NOT NULL,
	[data3] [char](2) NOT NULL,
	[draft_num] [char](10) NOT NULL,
	[employee] [char](10) NOT NULL,
	[entry_type] [char](1) NOT NULL,
	[equip_id] [char](10) NOT NULL,
	[fee_rate] [float] NOT NULL,
	[fiscalno] [char](6) NOT NULL,
	[gl_acct] [char](10) NOT NULL,
	[gl_offset_cpnyid] [char](10) NOT NULL,
	[gl_offset_acct] [char](10) NOT NULL,
	[gl_offset_subacct] [char](24) NOT NULL,
	[gl_subacct] [char](24) NOT NULL,
	[hold_status] [char](2) NOT NULL,
	[hold_amount] [float] NOT NULL,
	[hold_units] [float] NOT NULL,
	[in_id01] [char](30) NOT NULL,
	[in_id02] [char](30) NOT NULL,
	[in_id03] [char](16) NOT NULL,
	[in_id04] [char](16) NOT NULL,
	[in_id05] [char](4) NOT NULL,
	[in_id06] [float] NOT NULL,
	[in_id07] [float] NOT NULL,
	[in_id08] [smalldatetime] NOT NULL,
	[in_id09] [smalldatetime] NOT NULL,
	[in_id10] [smallint] NOT NULL,
	[in_id11] [char](30) NOT NULL,
	[in_id12] [char](30) NOT NULL,
	[in_id13] [char](30) NOT NULL,
	[in_id14] [char](20) NOT NULL,
	[in_id15] [char](15) NOT NULL,
	[in_id16] [char](10) NOT NULL,
	[in_id17] [char](10) NOT NULL,
	[in_id18] [char](4) NOT NULL,
	[in_id19] [float] NOT NULL,
	[in_id20] [smalldatetime] NOT NULL,
	[in_id21] [float] NOT NULL,
	[in_id22] [float] NOT NULL,
	[in_id23] [float] NOT NULL,
	[labor_class_cd] [char](4) NOT NULL,
	[linenbr] [smallint] NOT NULL,
	[li_type] [char](1) NOT NULL,
	[lupd_datetime] [smalldatetime] NOT NULL,
	[lupd_prog] [char](8) NOT NULL,
	[lupd_user] [char](10) NOT NULL,
	[noteid] [int] NOT NULL,
	[offset_cd] [char](4) NOT NULL,
	[orig_amount] [float] NOT NULL,
	[orig_rate] [float] NOT NULL,
	[orig_units] [float] NOT NULL,
	[pjt_entity] [char](32) NOT NULL,
	[post_to_cd] [char](4) NOT NULL,
	[project] [char](16) NOT NULL,
	[project_billwith] [char](16) NOT NULL,
	[rate_type_cd] [char](2) NOT NULL,
	[source_trx_date] [smalldatetime] NOT NULL,
	[source_trx_id] [int] IDENTITY(1,1) NOT NULL,
	[Subcontract] [char](16) NOT NULL,
	[taxcatid] [char](10) NOT NULL,
	[taxId] [char](10) NOT NULL,
	[taxitembasis] [float] NOT NULL,
	[unit_of_measure] [char](10) NOT NULL,
	[units] [float] NOT NULL,
	[user1] [char](30) NOT NULL,
	[user2] [char](30) NOT NULL,
	[user3] [float] NOT NULL,
	[user4] [float] NOT NULL,
	[vendor_num] [char](15) NOT NULL,
	[tstamp] [timestamp] NOT NULL,
 CONSTRAINT [pjinvdet0] PRIMARY KEY NONCLUSTERED 
(
	[source_trx_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
