USE [DAL_DEV_APP]
GO
/****** Object:  Table [dbo].[xAxDDSetUp]    Script Date: 12/21/2015 13:35:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[xAxDDSetUp](
	[APrevTS] [bigint] NOT NULL,
	[ACurrTS] [bigint] NOT NULL,
	[ASolomonUserID] [varchar](47) NOT NULL,
	[ASqlUserID] [varchar](50) NOT NULL,
	[AComputerName] [varchar](50) NOT NULL,
	[ADate] [smalldatetime] NOT NULL,
	[ATime] [varchar](12) NOT NULL,
	[AProcess] [char](1) NOT NULL,
	[AApplication] [varchar](40) NOT NULL,
	[ACHCompanyID] [varchar](30) NULL,
	[ACHCompanyName] [varchar](30) NULL,
	[ACHCrLf] [varchar](1) NULL,
	[ACHDelete] [varchar](1) NULL,
	[ACHEntryClass] [varchar](4) NULL,
	[ACHFileIDModifier] [varchar](1) NULL,
	[ACHFileName] [varchar](80) NULL,
	[ACHFillBlock] [varchar](1) NULL,
	[ACHImmDest] [varchar](30) NULL,
	[ACHImmDestN] [varchar](30) NULL,
	[ACHImmOrig] [varchar](30) NULL,
	[ACHImmOrigN] [varchar](30) NULL,
	[ACHInclDR] [varchar](1) NULL,
	[ACHInclDROverRide] [smallint] NULL,
	[ACHPreNote] [varchar](1) NULL,
	[ACHRecord] [varchar](1) NULL,
	[ACHTPZeroDollar] [varchar](1) NULL,
	[APArchive] [smallint] NULL,
	[APArchiveNbr] [smallint] NULL,
	[APSetPmtMethod] [smallint] NULL,
	[ARACHDelete] [varchar](1) NULL,
	[ARACHEntryClass] [varchar](4) NULL,
	[ARACHFileName] [varchar](80) NULL,
	[ARACHInclCR] [varchar](1) NULL,
	[ARACHInclCROverRide] [smallint] NULL,
	[ARACHPreNote] [varchar](1) NULL,
	[ARACHRecord] [varchar](1) NULL,
	[ARACHTPZeroDollar] [varchar](1) NULL,
	[ARArchive] [smallint] NULL,
	[ARArchiveNbr] [smallint] NULL,
	[AREMARTran] [varchar](1) NULL,
	[AREMAttachment] [varchar](128) NULL,
	[AREMAutoWrap] [int] NULL,
	[AREMCpnyName] [varchar](128) NULL,
	[AREMFromAddr] [varchar](128) NULL,
	[AREMFromName] [varchar](128) NULL,
	[AREMMessageBottom] [smallint] NULL,
	[AREMMessageTop] [smallint] NULL,
	[AREMPriority] [int] NULL,
	[AREMReplyToAddr] [varchar](128) NULL,
	[AREMReplyToName] [varchar](128) NULL,
	[AREMStubLayout] [varchar](1) NULL,
	[AREMSubject] [varchar](128) NULL,
	[AREMTUser1] [varchar](30) NULL,
	[AREMTUser2] [varchar](30) NULL,
	[AREMTUser3] [varchar](30) NULL,
	[AREMTUser4] [varchar](30) NULL,
	[AREMTUser5] [varchar](30) NULL,
	[AREMTUser6] [varchar](30) NULL,
	[AREMTUser7] [varchar](30) NULL,
	[AREMTUser8] [varchar](30) NULL,
	[AREMUser1] [varchar](30) NULL,
	[AREMUser2] [varchar](30) NULL,
	[AREMUser3] [varchar](30) NULL,
	[AREMUser4] [varchar](30) NULL,
	[AREMUser5] [varchar](30) NULL,
	[AREMUser6] [varchar](30) NULL,
	[AREMUser7] [varchar](30) NULL,
	[AREMUser8] [varchar](30) NULL,
	[ARHeadTrailID] [varchar](1) NULL,
	[ARInvoicePrint] [varchar](1) NULL,
	[ARPathACHScript] [varchar](128) NULL,
	[ARPathArchive] [varchar](128) NULL,
	[ARPmtBatchPrint] [smallint] NULL,
	[ARPmtBatchStatus] [varchar](1) NULL,
	[ARPmtNbr] [varchar](6) NULL,
	[ARPmtNbrPrefix] [varchar](4) NULL,
	[ARSelInvOptDocTerms] [smallint] NULL,
	[ARSelInvOptEFTElig] [smallint] NULL,
	[ARSetPmtMethod] [smallint] NULL,
	[ARShowEFTBatches] [smallint] NULL,
	[ARTermsID] [varchar](2) NULL,
	[CommDevice] [varchar](128) NULL,
	[CommEchoOn] [smallint] NULL,
	[CommLocation] [varchar](128) NULL,
	[CommPhone] [varchar](20) NULL,
	[CommPXferProto] [smallint] NULL,
	[CommSecProg] [varchar](128) NULL,
	[CommService] [varchar](40) NULL,
	[CommTermEmulation] [varchar](1) NULL,
	[CommType] [varchar](1) NULL,
	[CommUserProg] [varchar](128) NULL,
	[Crtd_DateTime] [smalldatetime] NULL,
	[Crtd_Prog] [varchar](8) NULL,
	[Crtd_User] [varchar](10) NULL,
	[EMAPTran] [varchar](1) NULL,
	[EMAttachment] [varchar](128) NULL,
	[EMAutoWrap] [int] NULL,
	[EMCpnyName] [varchar](128) NULL,
	[EMFromAddr] [varchar](128) NULL,
	[EMFromName] [varchar](128) NULL,
	[EMHeaderContent] [smallint] NULL,
	[EMHeaderDate] [smallint] NULL,
	[EMHeaderFrom] [smallint] NULL,
	[EMHeaderMessage] [smallint] NULL,
	[EMMailLog] [smallint] NULL,
	[EMMailPort] [int] NULL,
	[EMMailServer] [varchar](128) NULL,
	[EMMailTimeOut] [int] NULL,
	[EMMessageBottom] [smallint] NULL,
	[EMMessageTop] [smallint] NULL,
	[EMPriority] [int] NULL,
	[EMReplyToAddr] [varchar](128) NULL,
	[EMReplyToName] [varchar](128) NULL,
	[EMSSLMode] [int] NULL,
	[EMStubLayout] [varchar](1) NULL,
	[EMSubject] [varchar](128) NULL,
	[EMTUser1] [varchar](30) NULL,
	[EMTUser2] [varchar](30) NULL,
	[EMTUser3] [varchar](30) NULL,
	[EMTUser4] [varchar](30) NULL,
	[EMTUser5] [varchar](30) NULL,
	[EMTUser6] [varchar](30) NULL,
	[EMTUser7] [varchar](30) NULL,
	[EMTUser8] [varchar](30) NULL,
	[EMUser1] [varchar](30) NULL,
	[EMUser2] [varchar](30) NULL,
	[EMUser3] [varchar](30) NULL,
	[EMUser4] [varchar](30) NULL,
	[EMUser5] [varchar](30) NULL,
	[EMUser6] [varchar](30) NULL,
	[EMUser7] [varchar](30) NULL,
	[EMUser8] [varchar](30) NULL,
	[ESMTPAccount] [varchar](30) NULL,
	[ESMTPAuthMode] [int] NULL,
	[ESMTPDoNotAppend] [smallint] NULL,
	[ESMTPPassword] [varchar](30) NULL,
	[ESMTPPipelining] [int] NULL,
	[HeadTrailID] [varchar](1) NULL,
	[IExplorePath] [varchar](128) NULL,
	[Init] [varchar](1) NULL,
	[LBApplicMethod] [varchar](2) NULL,
	[LBArchive] [smallint] NULL,
	[LBArchiveNbr] [smallint] NULL,
	[LBCommDevice] [varchar](128) NULL,
	[LBCommEchoOn] [smallint] NULL,
	[LBCommLocation] [varchar](128) NULL,
	[LBCommPhone] [varchar](20) NULL,
	[LBCommPXferProto] [smallint] NULL,
	[LBCommTermEmulation] [varchar](1) NULL,
	[LBCommType] [varchar](1) NULL,
	[LBCommUserProg] [varchar](128) NULL,
	[LBDelete] [varchar](1) NULL,
	[LBFileName] [varchar](80) NULL,
	[LBMergeDataFile] [smallint] NULL,
	[LBNextBatNbr] [varchar](6) NULL,
	[LBOnlyFullApplyGood] [smallint] NULL,
	[LBPath] [varchar](128) NULL,
	[LBPathArchive] [varchar](128) NULL,
	[LBPmtBatchPrint] [smallint] NULL,
	[LBPmtBatchStatus] [varchar](1) NULL,
	[LBPmtNbr] [varchar](6) NULL,
	[LBPmtNbrPrefix] [varchar](4) NULL,
	[LBSetPmtMethod] [smallint] NULL,
	[LBSuggCustGood] [smallint] NULL,
	[LBUseCheckDate] [smallint] NULL,
	[LBViewIDError] [varchar](10) NULL,
	[LBViewIDApplic] [varchar](10) NULL,
	[LUpd_DateTime] [smalldatetime] NULL,
	[LUpd_Prog] [varchar](8) NULL,
	[LUpd_User] [varchar](10) NULL,
	[NoteID] [int] NULL,
	[ModAPEFT] [varchar](1) NULL,
	[ModAPEmail] [varchar](1) NULL,
	[ModAREFT] [varchar](1) NULL,
	[ModAREmail] [varchar](1) NULL,
	[ModeBankSecurity] [smallint] NULL,
	[ModFormatID] [varchar](15) NULL,
	[ModLockbox] [varchar](1) NULL,
	[ModLockboxFormatID] [varchar](15) NULL,
	[ModMultiCompany] [varchar](1) NULL,
	[ModMultiFormatID] [varchar](1) NULL,
	[ModPosPay] [varchar](1) NULL,
	[ModPosPayFormatID] [varchar](15) NULL,
	[ModTestAP] [varchar](1) NULL,
	[ModTestAR] [varchar](1) NULL,
	[ModTestWire] [varchar](1) NULL,
	[ModWire] [varchar](1) NULL,
	[ModWireEmail] [varchar](1) NULL,
	[PathACHScript] [varchar](128) NULL,
	[PathArchiveAP] [varchar](128) NULL,
	[PPAP] [smallint] NULL,
	[PPAPCanChange] [smallint] NULL,
	[PPAPVoid] [smallint] NULL,
	[PPArchive] [smallint] NULL,
	[PPArchiveNbr] [smallint] NULL,
	[PPAuditRpt] [smallint] NULL,
	[PPCommDevice] [varchar](128) NULL,
	[PPCommEchoOn] [smallint] NULL,
	[PPCommLocation] [varchar](128) NULL,
	[PPCommPhone] [varchar](20) NULL,
	[PPCommPXferProto] [smallint] NULL,
	[PPCommTermEmulation] [varchar](1) NULL,
	[PPCommType] [varchar](1) NULL,
	[PPCommUserProg] [varchar](128) NULL,
	[PPCrLf] [varchar](1) NULL,
	[PPDelete] [varchar](1) NULL,
	[PPFileName] [varchar](80) NULL,
	[PPFillBlock] [varchar](1) NULL,
	[PPHeadTrailID] [varchar](1) NULL,
	[PPPath] [varchar](128) NULL,
	[PPPathArchive] [varchar](128) NULL,
	[PPPR] [smallint] NULL,
	[PPPRCanChange] [smallint] NULL,
	[PPPRVoid] [smallint] NULL,
	[PurgePeriodsAP] [smallint] NULL,
	[PurgePeriodsAR] [smallint] NULL,
	[RegAuthorizedUsers] [smallint] NULL,
	[RegCustomerID] [varchar](10) NULL,
	[RegOptions] [varchar](10) NULL,
	[RegPlatform] [varchar](1) NULL,
	[RegUnlockKey] [varchar](8) NULL,
	[RegVersion] [varchar](10) NULL,
	[SecDisbursement] [smallint] NULL,
	[SecDSigner1Amt] [float] NULL,
	[SecDSigner1PW] [varchar](30) NULL,
	[SecDSigner2Amt] [float] NULL,
	[SecDSigner2PW] [varchar](30) NULL,
	[SecSeparation] [smallint] NULL,
	[SetUpID] [varchar](2) NULL,
	[SKFuture01] [varchar](30) NULL,
	[SKFuture02] [varchar](30) NULL,
	[SKFuture03] [float] NULL,
	[SKFuture04] [float] NULL,
	[SKFuture05] [float] NULL,
	[SKFuture06] [float] NULL,
	[SKFuture07] [smalldatetime] NULL,
	[SKFuture08] [smalldatetime] NULL,
	[SKFuture09] [int] NULL,
	[SKFuture10] [int] NULL,
	[SKFuture11] [varchar](10) NULL,
	[SKFuture12] [varchar](10) NULL,
	[User1] [varchar](30) NULL,
	[User10] [varchar](30) NULL,
	[User2] [varchar](30) NULL,
	[User3] [float] NULL,
	[User4] [float] NULL,
	[User5] [varchar](10) NULL,
	[User6] [varchar](10) NULL,
	[User7] [smalldatetime] NULL,
	[User8] [smalldatetime] NULL,
	[User9] [varchar](30) NULL,
	[WTArchive] [smallint] NULL,
	[WTArchiveNbr] [smallint] NULL,
	[WTCommType] [varchar](1) NULL,
	[WTCommUserProg] [varchar](128) NULL,
	[WTCrLf] [varchar](1) NULL,
	[WTDelete] [varchar](1) NULL,
	[WTFileName] [varchar](80) NULL,
	[WTFillBlock] [varchar](1) NULL,
	[WTHeadTrailID] [varchar](1) NULL,
	[WTPath] [varchar](128) NULL,
	[WTPathArchive] [varchar](128) NULL,
	[tstamp] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[xAxDDSetUp] ADD  CONSTRAINT [DF_xAxDDSetUp_APrevTS]  DEFAULT ((0)) FOR [APrevTS]
GO
ALTER TABLE [dbo].[xAxDDSetUp] ADD  CONSTRAINT [DF_xAxDDSetUp_ACurrTS]  DEFAULT ((0)) FOR [ACurrTS]
GO
ALTER TABLE [dbo].[xAxDDSetUp] ADD  CONSTRAINT [DF_xAxDDSetUp_ASolomonUserID]  DEFAULT (' ') FOR [ASolomonUserID]
GO
ALTER TABLE [dbo].[xAxDDSetUp] ADD  CONSTRAINT [DF_xAxDDSetUp_ASqlUserID]  DEFAULT (CONVERT([varchar](50),ltrim(rtrim(original_login())),(0))) FOR [ASqlUserID]
GO
ALTER TABLE [dbo].[xAxDDSetUp] ADD  CONSTRAINT [DF_xAxDDSetUp_AComputerName]  DEFAULT (CONVERT([varchar](50),ltrim(rtrim(host_name())),0)) FOR [AComputerName]
GO
ALTER TABLE [dbo].[xAxDDSetUp] ADD  CONSTRAINT [DF_xAxDDSetUp_ADate]  DEFAULT (CONVERT([smalldatetime],CONVERT([char](16),getdate(),(121)),0)) FOR [ADate]
GO
ALTER TABLE [dbo].[xAxDDSetUp] ADD  CONSTRAINT [DF_xAxDDSetUp_ATime]  DEFAULT (CONVERT([varchar](12),getdate(),(114))) FOR [ATime]
GO
ALTER TABLE [dbo].[xAxDDSetUp] ADD  CONSTRAINT [DF_xAxDDSetUp_AProcess]  DEFAULT (' ') FOR [AProcess]
GO
ALTER TABLE [dbo].[xAxDDSetUp] ADD  CONSTRAINT [DF_xAxDDSetUp_AApplication]  DEFAULT (CONVERT([varchar](40),ltrim(rtrim(app_name())),0)) FOR [AApplication]
GO
