USE [DENVERAPP]
GO
/****** Object:  StoredProcedure [dbo].[Ledger_Budget]    Script Date: 12/21/2015 15:42:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/****** Object:  Stored Procedure dbo.Ledger_Budget    Script Date: 4/7/98 12:38:59 PM ******/
Create Proc [dbo].[Ledger_Budget] @parm1 varchar ( 10) as
       Select * from Ledger
           where LedgerID   like @parm1
           and balancetype = "B"
             order by LedgerID
GO
