USE [DENVERAPP]
GO
/****** Object:  StoredProcedure [dbo].[xkcCpnySub_delete]    Script Date: 12/21/2015 15:43:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create proc [dbo].[xkcCpnySub_delete] as
delete from xkcCpnySub
GO
