USE [DENVERAPP]
GO
/****** Object:  StoredProcedure [dbo].[xkcCustInv_delete]    Script Date: 12/21/2015 15:43:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create proc [dbo].[xkcCustInv_delete] as
delete from xkcCustInv
GO
