USE [DENVERAPP]
GO
/****** Object:  StoredProcedure [dbo].[ED850Sched_def]    Script Date: 12/21/2015 15:42:51 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
Create Proc [dbo].[ED850Sched_def] As Select * From ED850Sched
GO
