USE [DENVERAPP]
GO
/****** Object:  StoredProcedure [dbo].[PJPROJ_sPK0]    Script Date: 12/21/2015 15:43:03 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
create procedure [dbo].[PJPROJ_sPK0] @parm1 varchar (16)  as
select * from PJPROJ
where project = @parm1
order by project
GO
