USE [DENVERAPP]
GO
/****** Object:  StoredProcedure [dbo].[EDShipment_allDMG]    Script Date: 12/21/2015 15:42:53 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[EDShipment_allDMG] @BOLNbr varchar(20) As
Select * From EDShipment Where BOLNbr Like @BOLNbr
GO
