USE [DAL_DEV_APP]
GO
/****** Object:  StoredProcedure [dbo].[ED850LRef_def]    Script Date: 12/21/2015 13:35:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
Create Proc [dbo].[ED850LRef_def] As Select * From ED850LRef
GO
