USE [DAL_DEV_APP]
GO
/****** Object:  StoredProcedure [dbo].[smFROrder_CallComp]    Script Date: 12/21/2015 13:35:56 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE
	[dbo].[smFROrder_CallComp]
		@parm1 	varchar(10)
AS
	SELECT
		*
	FROM
		smFROrder
	WHERE
		ServCallID LIKE @parm1
	ORDER BY
		ServCallID
		,LineNbr

-- Copyright 1998, 1999 by Solomon Software, Inc. All rights reserved.
GO
