USE [DAL_DEV_APP]
GO
/****** Object:  StoredProcedure [dbo].[RQCurHdrDeptLoad]    Script Date: 12/21/2015 13:35:53 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/****** Object:  Stored Procedure dbo.RQCurHdrDeptLoad    Script Date: 9/4/2003 6:21:19 PM ******/

/****** Object:  Stored Procedure dbo.RQCurHdrDeptLoad    Script Date: 7/5/2002 2:44:38 PM ******/

/****** Object:  Stored Procedure dbo.RQCurHdrDeptLoad    Script Date: 1/7/2002 12:23:08 PM ******/

/****** Object:  Stored Procedure dbo.RQCurHdrDeptLoad    Script Date: 1/2/01 9:39:33 AM ******/

/****** Object:  Stored Procedure dbo.RQCurHdrDeptLoad    Script Date: 11/17/00 11:54:28 AM ******/

/****** Object:  Stored Procedure dbo.RQCurHdrDeptLoad    Script Date: 10/25/00 8:32:14 AM ******/

/****** Object:  Stored Procedure dbo.RQCurHdrDeptLoad    Script Date: 10/10/00 4:15:36 PM ******/

/****** Object:  Stored Procedure dbo.RQCurHdrDeptLoad    Script Date: 10/2/00 4:58:11 PM ******/

/****** Object:  Stored Procedure dbo.RQCurHdrDeptLoad    Script Date: 9/1/00 9:39:18 AM ******/
CREATE procedure [dbo].[RQCurHdrDeptLoad]
@parm1 varchar(10), @parm2 varchar(2),
@parm3 varchar(2), @parm4 varchar(16) as
Select * from RQItemreqhdr where
requstnrdept = @parm1 and
status = 'SA' and
AppvLevReq >= @parm2 and
AppvLevObt = @parm3 and
(Project =  ''  Or Project = @parm4)
ORDER BY ItemReqNbr
GO
