USE [DAL_DEV_APP]
GO
/****** Object:  StoredProcedure [dbo].[ARDoc_ASID]    Script Date: 12/21/2015 13:35:36 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[ARDoc_ASID] @parm1 int
AS
	SELECT *
	FROM ARDoc
	WHERE ASID = @parm1
	ORDER BY ASID
GO
