USE [DAL_DEV_APP]
GO
/****** Object:  StoredProcedure [dbo].[smCancellation_All]    Script Date: 12/21/2015 13:35:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE
	[dbo].[smCancellation_All]
		@parm1 	varchar(10)
AS
	SELECT
		*
	FROM
		smCancellation
	WHERE
		CancellationCode LIKE @parm1
	ORDER BY
		CancellationCode

-- Copyright 1998, 1999 by Solomon Software, Inc. All rights reserved.
GO
