USE [DAL_DEV_APP]
GO
/****** Object:  StoredProcedure [dbo].[CustSlsper_all]    Script Date: 12/21/2015 13:35:38 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[CustSlsper_all]
	@parm1 varchar( 15 ),
	@parm2 varchar( 10 )
AS
	SELECT *
	FROM CustSlsper
	WHERE CustID LIKE @parm1
	   AND SlsperID LIKE @parm2
	ORDER BY CustID,
	   SlsperID

-- Copyright 1998 by Advanced Distribution Group, Ltd. All rights reserved.
GO
