USE [DAL_DEV_APP]
GO
/****** Object:  StoredProcedure [dbo].[XBANKINFO_ALL]    Script Date: 12/21/2015 13:35:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[XBANKINFO_ALL] @PARM1 varchar(10) , @PARM2 varchar(10) ,@PARM3 varchar (24)  AS SELECT * FROM XBANKINFO WHERE CNYID LIKE @PARM1 AND ACCT 
LIKE @PARM2 AND SUBACCT LIKE @PARM3 ORDER BY ACCT,SUBACCT
GO
