USE [DAL_DEV_APP]
GO
/****** Object:  StoredProcedure [dbo].[ADG_SlsTaxCat_Descr]    Script Date: 12/21/2015 13:35:34 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[ADG_SlsTaxCat_Descr]
	@CatID varchar(10)
AS
	SELECT Descr
	FROM SlsTaxCat
	WHERE CatID = @CatID

-- Copyright 1998 by Advanced Distribution Group, Ltd. All rights reserved.
GO
