USE [DAL_DEV_APP]
GO
/****** Object:  StoredProcedure [dbo].[Batch_EditScrnNbr_BatNbr_Stat]    Script Date: 12/21/2015 13:35:36 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/****** Object:  Stored Procedure dbo.Batch_EditScrnNbr_BatNbr_Stat    Script Date: 4/7/98 12:38:58 PM ******/
Create Proc [dbo].[Batch_EditScrnNbr_BatNbr_Stat] @parm1 varchar ( 5), @parm2 varchar ( 10) as
       Select * from Batch
           where EditScrnNbr    =  @parm1
             and BatNbr      LIKE  @parm2
             and Status        IN  ('H', 'B')
           order by EditScrnNbr, BatNbr
GO
