USE [DAL_DEV_APP]
GO
/****** Object:  StoredProcedure [dbo].[IRRequirement_Def]    Script Date: 12/21/2015 13:35:45 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
Create Procedure [dbo].[IRRequirement_Def] as
	Select * from IRRequirement
GO
