USE [DAL_DEV_APP]
GO
/****** Object:  StoredProcedure [dbo].[EDContainerDet_Def]    Script Date: 12/21/2015 13:35:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
Create Procedure [dbo].[EDContainerDet_Def] As
Select * From EDContainerDet
GO
