USE [MOJo_prod]
GO
/****** Object:  StoredProcedure [dbo].[spProjectLoadBillingSchedule]    Script Date: 12/10/2015 10:54:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spProjectLoadBillingSchedule]
	@ProjectKey int
AS --Encrypt

/*
|| When      Who Rel      What
|| 4/11/08   CRG 1.0.0.0  Created for use by the Project Manager
|| 07/15/13  GHL 10.5.7.0 (182036) Added PercentBudget
*/

	select bs.BillingScheduleKey
	      ,bs.NextBillDate
	      ,case when bs.NextBillDate is null then 0
	      else 1 end as DisplayOrder
	      ,bs.TaskKey
	      ,t.TaskID
	      ,t.TaskName
	      ,case 
			when t.TaskID is null then TaskName 
			else t.TaskID + ' ' + t.TaskName 
		   end as TaskFullName
	      ,bs.Comments
	      ,bs.PercentBudget
		  ,b.BillingID
	      ,@ProjectKey as ProjectKey
	  from tBillingSchedule bs (nolock) 
	       left outer join tTask t (nolock) on bs.TaskKey = t.TaskKey
	       left outer join tBilling b (nolock) on bs.BillingKey = b.BillingKey
	 where bs.ProjectKey = @ProjectKey
  order by DisplayOrder, bs.NextBillDate desc, TaskFullName
GO
