USE [MOJo_prod]
GO
/****** Object:  StoredProcedure [dbo].[spLoadStandardPreference]    Script Date: 12/10/2015 10:54:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spLoadStandardPreference]
 @CompanyKey int,
 @ProjectNumStyle smallint,
 @ProjectNumPrefix varchar(10),
 @NextProjectNum int,
 @ProjectNumPlaces int,
 @ProjectNumSep char(1),
 @ProjectNumPrefixUseYear tinyint,
 @PONumPrefix varchar(10),
 @NextPONum int,
 @PONumPlaces int,
 @IONumPrefix varchar(10),
 @NextIONum int,
 @IONumPlaces int,
 @BCNumPrefix varchar(10),
 @NextBCNum int,
 @BCNumPlaces int,
 @ARNumPrefix varchar(10),
 @NextARNum int,
 @ARNumPlaces int,
 @DefaultARApprover smallint,
 @DefaultARApproverKey int,
 @DefaultAPApprover smallint,
 @DefaultAPApproverKey int, 
 @ExpenseNumPrefix varchar(10),
 @NextExpenseNum int,
 @ExpenseNumPlaces int,
 @RequireRequest tinyint,
 @NotifyExpenseReport int,
 @GetRateFrom smallint,
 @TimeRateSheetKey int,
 @HourlyRate money,
 @GetMarkupFrom money,
 @ItemRateSheetKey int,
 @ItemMarkup decimal(24,4),
 @IOCommission decimal(24,4),
 @BCCommission decimal(24,4),
 @GetItemRate tinyint,
 @DefaultPOType int,
 @DefaultPrintPOType int,
 @DefaultBCPOType int,
 @IOOrderDisplayMode smallint,
 @BCOrderDisplayMode smallint,
 @IOApprover int,
 @BCApprover int,
 @IOClientLink smallint,
 @BCClientLink smallint, 
 @PaymentTermsKey int,
 @SendAssignmentEmail tinyint,
 @AutoScheduleProjects tinyint,
 @RequireMasterTask tinyint,
 @DefaultARLineFormat smallint,
 @ShowCustomRptConditions tinyint,
 @SetInvoiceNumberOnApproval tinyint,
 @SyncDeletesContacts tinyint,
 @SyncDeleteEvents tinyint,
 @AutoApproveExternalOrders tinyint,
 @ActualDateUpdatesPlan tinyint,
 @RequireTimeDetails tinyint,
 @UseMilitaryTime tinyint,
 @IOPrintClientOnOrder tinyint,
 @BCPrintClientOnOrder tinyint,
 @EstimateNumStyle smallint,
 @EstimateNumPrefix varchar(10),
 @NextEstimateNum int,
 @EstimateNumPlaces int,
 @EstimateNumSep char(1),
 @EstimateNumPrefixUseYear tinyint,
 @EstimateInternalApprovalDays int,
 @EstimateExternalApprovalDays int,
 @IOAllowChangesAfterClientInvoice tinyint,
 @BCAllowChangesAfterClientInvoice tinyint,
 @IOShowAdjustmentsAsSingleLine tinyint,
 @BCShowAdjustmentsAsSingleLine tinyint,
 @IOUseClientCosting tinyint,
 @BCUseClientCosting tinyint,
 @BCUseProductName tinyint,
 @EditVendorInvTax tinyint,
 @POUnitCostDecimalPlaces int,
 @POQtyDecimalPlaces int,
 @UseUnitRate tinyint,
 @AutoApproveExternalInvoices tinyint,
 @UseClearedDate tinyint,
 @BCGeneratePrebilledRevisions tinyint,
 @IOGeneratePrebilledRevisions tinyint,
 @PrintTrafficOnBC tinyint,
 @UseExpenseTypeClassOnVoucher tinyint,
 @AutoGenVoucherFromER tinyint,
 @SplitBilling tinyint,
 @DuplicateVendorInvoiceNbr tinyint,
 @UseCompanyFolders tinyint,
 @UseContactFolders tinyint,
 @UseLeadFolders tinyint,
 @UseActivityFolders tinyint,
 @UseOppFolders tinyint,
 @EmailsVisibleToClient tinyint,
 @EmailsDefaultActivityTypeKey int,
 @DefaultActivityTypeKey int,
 @AutoGenerateInvoiceOrderLines tinyint,
 @RequireCommentsOnTime tinyint
 
AS --Encrypt

  /*
  || When     Who Rel		What
  || 06/04/07 GHL 10.530	(80920) Decided to have a wrapper for [sptPreferenceUpdateNumber] or [sptPreferenceUpdateNumberWMJ]
  ||                        1) If we add a field to tPreference, we can modify the call here (with a hardcoded value) 
  ||                        without having to modify load_standard.aspx
  ||                        2) After the table change is deployed we can refresh the data XML file and modify load_standard.aspx
  || 08/31/10 RLB 10.5.3.4 (88154) Changed to Default Voucher approval
  || 01/20/11 GHL 10.5.4.0 (101013) Added UseTasks, UseItems and related fields
  || 04/15/12 GWG 10.5.5.5 Added some missing fields due to update clash
  || 04/18/13 MAS 10.5.6.7 Removed EnableLogging
  || 01/02/14 RLB 10.5.7.5 (201290) Added companykey to update statement to just update that one company
  */
  
 exec sptPreferenceUpdateNumber @CompanyKey,
 @ProjectNumStyle,
 @ProjectNumPrefix,
 @NextProjectNum,
 @ProjectNumPlaces,
 @ProjectNumSep ,
 @ProjectNumPrefixUseYear,
 @PONumPrefix ,
 @NextPONum,
 @PONumPlaces,
 @IONumPrefix,
 @NextIONum,
 @IONumPlaces,
 @BCNumPrefix,
 @NextBCNum,
 @BCNumPlaces,
 @ARNumPrefix,
 @NextARNum ,
 @ARNumPlaces ,
 @DefaultARApprover ,
 @DefaultARApproverKey ,
 @DefaultAPApprover,
 @DefaultAPApproverKey , 
 @ExpenseNumPrefix,
 @NextExpenseNum ,
 @ExpenseNumPlaces ,
 @RequireRequest ,
 @NotifyExpenseReport ,
 @GetRateFrom ,
 @TimeRateSheetKey ,
 @HourlyRate ,
 @GetMarkupFrom ,
 @ItemRateSheetKey ,
 @ItemMarkup ,
 @IOCommission ,
 @BCCommission ,
 @GetItemRate ,
 @DefaultPOType ,
 @DefaultPrintPOType ,
 @DefaultBCPOType ,
 @IOOrderDisplayMode ,
 @BCOrderDisplayMode ,
 @IOApprover ,
 @BCApprover ,
 @IOClientLink ,
 @BCClientLink , 
 @PaymentTermsKey ,
 @SendAssignmentEmail ,
 @AutoScheduleProjects ,
 @RequireMasterTask ,
 @DefaultARLineFormat ,
 @ShowCustomRptConditions ,
 @SetInvoiceNumberOnApproval ,
 @SyncDeletesContacts ,
 @SyncDeleteEvents ,
 @AutoApproveExternalOrders ,
 @ActualDateUpdatesPlan ,
 @RequireTimeDetails ,
 @UseMilitaryTime ,
 @IOPrintClientOnOrder ,
 @BCPrintClientOnOrder ,
 @EstimateNumStyle ,
 @EstimateNumPrefix ,
 @NextEstimateNum ,
 @EstimateNumPlaces ,
 @EstimateNumSep ,
 @EstimateNumPrefixUseYear ,
 @EstimateInternalApprovalDays ,
 @EstimateExternalApprovalDays ,
 @IOAllowChangesAfterClientInvoice ,
 @BCAllowChangesAfterClientInvoice ,
 @IOShowAdjustmentsAsSingleLine ,
 @BCShowAdjustmentsAsSingleLine ,
 @IOUseClientCosting ,
 @BCUseClientCosting ,
 @BCUseProductName ,
 @EditVendorInvTax ,
 @POUnitCostDecimalPlaces ,
 @POQtyDecimalPlaces ,
 @UseUnitRate ,
 @AutoApproveExternalInvoices ,
 @UseClearedDate ,
 @BCGeneratePrebilledRevisions ,
 @IOGeneratePrebilledRevisions ,
 @PrintTrafficOnBC ,
 @UseExpenseTypeClassOnVoucher ,
 @AutoGenVoucherFromER ,
 @SplitBilling ,
 @DuplicateVendorInvoiceNbr ,
 @UseCompanyFolders ,
 @UseContactFolders ,
 @UseLeadFolders ,
 @UseActivityFolders ,
 @UseOppFolders ,
 @EmailsVisibleToClient ,
 @EmailsDefaultActivityTypeKey ,
 @DefaultActivityTypeKey ,
 @AutoGenerateInvoiceOrderLines ,
 @RequireCommentsOnTime 
  
 update tPreference
 set	UseItems = 1,RequireItems = 1, DefaultExpenseAccountFromItem = 1
		,UseTasks = 1, RequireTasks = 0
       ,DefaultAutoIDTask = 1, UseToDo = 1
	   ,TimerInterval = 0,TimerRounding = 0 
	   ,AdvBillAccountOnly = 1
	   ,AccrueCostToItemExpenseAccount = 1
where CompanyKey = @CompanyKey

 RETURN 1
GO
