USE [SHOPPER_DEV_APP]
GO
/****** Object:  Table [dbo].[smAgreement]    Script Date: 12/21/2015 14:33:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[smAgreement](
	[AgreementDesc] [char](30) NOT NULL,
	[AgreementTypeID] [char](10) NOT NULL,
	[Amount] [float] NOT NULL,
	[BranchID] [char](10) NOT NULL,
	[CalculateBy] [char](1) NOT NULL,
	[Capamount] [float] NOT NULL,
	[CapContract] [char](1) NOT NULL,
	[CapTolerance] [float] NOT NULL,
	[CapType] [char](1) NOT NULL,
	[ContractAcct] [char](10) NOT NULL,
	[ContractSub] [char](24) NOT NULL,
	[CpnyID] [char](10) NOT NULL,
	[Crtd_DateTime] [smalldatetime] NOT NULL,
	[Crtd_Prog] [char](8) NOT NULL,
	[Crtd_User] [char](10) NOT NULL,
	[CT_ID01] [char](30) NOT NULL,
	[CT_ID02] [char](30) NOT NULL,
	[CT_ID03] [char](20) NOT NULL,
	[CT_ID04] [char](20) NOT NULL,
	[CT_ID05] [char](10) NOT NULL,
	[CT_ID06] [char](10) NOT NULL,
	[CT_ID07] [char](4) NOT NULL,
	[CT_ID08] [float] NOT NULL,
	[CT_ID09] [smalldatetime] NOT NULL,
	[CT_ID10] [smallint] NOT NULL,
	[CT_ID11] [char](30) NOT NULL,
	[CT_ID12] [char](30) NOT NULL,
	[CT_ID13] [char](20) NOT NULL,
	[CT_ID14] [char](20) NOT NULL,
	[CT_ID15] [char](10) NOT NULL,
	[CT_ID16] [char](10) NOT NULL,
	[CT_ID17] [char](4) NOT NULL,
	[CT_ID18] [float] NOT NULL,
	[CT_ID19] [smalldatetime] NOT NULL,
	[CT_ID20] [smallint] NOT NULL,
	[DefaultAgrLength] [smallint] NOT NULL,
	[DefaultCallType] [char](10) NOT NULL,
	[FlatRateID] [char](10) NOT NULL,
	[IncreasePercent] [float] NOT NULL,
	[LabMarkupID] [char](10) NOT NULL,
	[LaborPct] [float] NOT NULL,
	[Lupd_DateTime] [smalldatetime] NOT NULL,
	[Lupd_Prog] [char](8) NOT NULL,
	[Lupd_User] [char](10) NOT NULL,
	[MarkupID] [char](10) NOT NULL,
	[MaterialPct] [float] NOT NULL,
	[MatMarkupID] [char](10) NOT NULL,
	[NoteId] [int] NOT NULL,
	[PMFlag] [char](1) NOT NULL,
	[PMLaborPct] [float] NOT NULL,
	[PMMaterialPct] [float] NOT NULL,
	[Priority] [char](1) NOT NULL,
	[RenewalCode] [char](10) NOT NULL,
	[RenewalType] [char](2) NOT NULL,
	[ReserveAcct] [char](10) NOT NULL,
	[ReserveSub] [char](24) NOT NULL,
	[SalesAcct] [char](10) NOT NULL,
	[SalesSub] [char](24) NOT NULL,
	[ServiceType] [char](1) NOT NULL,
	[SubFromSite] [smallint] NOT NULL,
	[Taxable] [smallint] NOT NULL,
	[TMDiscount] [float] NOT NULL,
	[User1] [char](30) NOT NULL,
	[User2] [char](30) NOT NULL,
	[User3] [float] NOT NULL,
	[User4] [float] NOT NULL,
	[User5] [char](10) NOT NULL,
	[User6] [char](10) NOT NULL,
	[User7] [smalldatetime] NOT NULL,
	[User8] [smalldatetime] NOT NULL,
	[tstamp] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
